<template>
  <div>

        <!-- @search-query-updated="searchQueryUpdated"
        @search-location-updated="searchLocationUpdated"
        @search-category-updated="searchCategoryUpdated"
        @search-initiated="searchInitiated"  -->

        <loading
            :active.sync="logoutLoading"
            loader="dots"
            :height="170"
            :width="170"
            color="#d11d1d"
            background-color="rgb(0 0 0)"
            :lock-scroll="true"
            :is-full-page="true"></loading>

    <div class="router-loading" v-if="loadingPage"> <b-spinner></b-spinner> </div>
    <navbar  @search-initiated="searchInitiated"></navbar>

    <router-link to="/post-ad" v-if="$store.getters.isAuthenticated">
        <div class="add-new-post-floating-button">
            <img src="/bazar/camera.png" />
        </div>
    </router-link>

    <router-view :key="$route.path" ></router-view>

    <bz-footer></bz-footer>
        <!-- ref="routerView"  -->
        <!-- :search_query="{search_query, location , category }" -->




<div class="modal fade" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="passwordChangeModalTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Change Password</h5>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> -->
            </div>
            <div class="modal-body">
                <p>Select Cookies</p>
            </div>
            <div class="modal-footer">
            <button type="submit" data-dismiss="modal" class="bz-sqaure-btn bz-btn-red full-mobile update-password-btn">
                    <!-- <loader></loader> -->
                    <span>Accept</span>
                </button>
            </div>
        </div>
    </div>
</div>


  </div>
</template>

<script>

import Loading from 'vue-loading-overlay';

export default {
    components:{
        Loading
    },
    data(){
        return{
            search_query: '',
            location: '',
            category: '',
            isDeltaLoaded : false,
            loadingPage : false,
            logoutLoading : false,
            fireUser : '',
            // mene_open: false,
        }
    },
    props:{
        referred:{

        },
        payment_response:{

        },
        error_message:{

        },
        social_user:{

        }
    },
    created(){

        // console.log(this.$router.currentRoute , 'currentRoute  wrapper')
        this.$root.$refs._wrapper = this;

        this.$root.$on('logout-initiated' , () => {
            this.logoutLoading = true;
        });

        var firebaseConfig = {
            // Test Firebase on my email
            // apiKey: "AIzaSyCWaM6cWBXsKQqrwmUCMFfOcNbjRS6hAso",
            // authDomain: "openbazar-366a2.firebaseapp.com",
            // projectId: "openbazar-366a2",
            // storageBucket: "openbazar-366a2.appspot.com",
            // messagingSenderId: "546979912823",
            // appId: "1:546979912823:web:59072c985542e93624fa72",
            // measurementId: "G-T44KD0VMS5"


            // Live Firebase on openbazarnl@gmail
            apiKey: "AIzaSyDgwGG8qXO_mA60W94j_SyFYA87ktrrF7Y",
            authDomain: "open-bazar.firebaseapp.com",
            databaseURL: "https://open-bazar.firebaseio.com",
            projectId: "open-bazar",
            storageBucket: "open-bazar.appspot.com",
            messagingSenderId: "292828447760",
            appId: "1:292828447760:web:73ffee939515cc4d4cb695"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        const remoteConfig = firebase.remoteConfig();
        remoteConfig.settings.minimumFetchIntervalMillis = 1;
        // remoteConfig.defaultConfig = {
        //     "eurotoinr": "INR"
        // };
        const val = remoteConfig.getValue("eurotoinr");
        //remoteConfig.fetch()
        remoteConfig.fetchAndActivate()
        .then( () => {

            remoteConfig.activate()
            const _val = remoteConfig.getValue("eurotoinr");

            this.$store.commit('setConversionRate' , _val )
            // console.log(  _val , remoteConfig , remoteConfig._storageCache.activeConfig , 'Firebase')
            // console.log(  _val )
            // ...
        })
        .catch((err) => {
            console.log(err)
            // ...
        });


        // let vm = this
        // window.OneSignal = window.OneSignal || [];
        // OneSignal.push(function() {
        //     OneSignal.init({
        //     appId: "0138436f-2e82-4890-9beb-bf3182aa8dab",
        //     notifyButton: {
        //         enable: false,
        //     },
        //     subdomainName: "openbazar",
        //     });

        //     OneSignal.on('notificationDisplay', function(event) {
        //         console.warn('OneSignal notification displayed:', event);
        //         if(vm.$root.$refs.chatComponent){
        //             vm.$root.$refs.chatComponent.newMessageRecieved(event);
        //         }
        //     });

        //     OneSignal.isPushNotificationsEnabled(function(isEnabled) {
        //         if (isEnabled){
        //             // console.log("Push notifications are enabled!");
        //         }
        //         else{
        //             // console.log("Push notifications are not enabled yet.");
        //             OneSignal.showSlidedownPrompt();

        //         }
        //     });

        //     OneSignal.getUserId(function(userId) {
        //         // console.log("OneSignal User ID:", userId);
        //         // (Output) OneSignal User ID: 270a35cd-4dda-4b3f-b04e-41d7463a2316
        //     });
        // });
    },

    mounted(){

        this.$root.$on('fire-user-update' , data => {
            console.log('fire-user-update' , data)
            this.fireUser = data
        })
        if(this.error_message){
            this.$toastr.error( this.error_message );
        }
        if(this.$store.getters.isAuthenticated){
            firebase.app()
            // Get a reference to the database service
            var database = firebase.database();

            database.ref('Users/user'+this.$store.getters.isAuthenticated.id).once( 'value' , (snapshot) => {
                this.fireUser = snapshot.val();
                let fireUser = snapshot.val();
                var user = Object.assign( {} , fireUser);
                user.online = 'true';
                    // console.log(user , 'online status true')
                if(fireUser && fireUser.online != 'true'){
                    database.ref('Users/user'+this.$store.getters.isAuthenticated.id).set({
                        ...user
                    })
                }

            });
        }

        window.addEventListener("beforeunload", e => {

            var total_tabs = JSON.parse(localStorage.getItem('WINDOW_VALIDATION') );

            console.log('sdadas' , this.fireUser ,total_tabs , localStorage.getItem('WINDOW_VALIDATION') )

            if(total_tabs && total_tabs.length == 0){

                var user_update = ''
                database.ref('Users/user'+this.$store.getters.isAuthenticated.id).once( 'value' , (snapshot) => {
                    user_update = snapshot.val();
                });

                if(user_update){

                    // var user_update = Object.assign( {} , this.fireUser);
                    var timestamp = new Date().getTime();
                    user_update.online = timestamp;
                    console.log(user_update , 'online status timestamp')
                    database.ref('Users/user'+this.$store.getters.isAuthenticated.id).set({
                        ...user_update
                    })
                    this.fireUser = ''
                    // console.log(user_update , 'user_update')
                }
            }


            // var confirmationMessage = 'It looks like you have been editing something. '
            //                         + 'If you leave before saving, your changes will be lost.';

            // (e || window.event).returnValue = confirmationMessage; //Gecko + IE
            // return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
        });

        // window.addEventListener('unload', function (e) {
        //     e.preventDefault();

        //     e.returnValue = '';
        // });

        // window.onbeforeunload =  () => {
        //     return false
        // }

        if(this.$root.$refs.paymentMethods && this.payment_response){
            console.log("Has Payment")
            // this.$router.push({ name: "payment method", params: {payment_response : this.payment_response}} );
            this.$root.$refs.paymentMethods.paypalPaymentComplete(this.payment_response)
        }


        // setTimeout(() => {
        //     $('#cookieModal').modal('show')
        // }, 2000);

        // console.log( 'cookie' , document.cookie );


        // this.$router.beforeEach((to, from, next) => {
        //     this.loadingPage = true
        //     next()
        // })
        // this.$router.afterEach((to, from, next) => {
        //     this.loadingPage = false
        // })


    },
    methods:{
        getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        },
        updateFirebaseBeforeClose(){
            return true;
        },
        searchQueryUpdated($value){
            this.search_query = $value;
            // console.log('searchQueryUpdated' , $value)
        },
        searchLocationUpdated($value){
            this.location = $value;
            console.log('searchLocationUpdated' , $value )
        },
        searchCategoryUpdated($value){
            // console.log('searchCategoryUpdated' , $value)
            this.category = $value;
        },
        searchInitiated($value){
            // console.log($value)
            this.$refs.routerView.searchQuery($value);
        }
    }
}
</script>

<style>

.router-loading{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffff9c;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    color: black;
}

</style>
