// .category-products
//     display: flex
//     justify-content: center
//     align-items: center

//     .filters
//         width: 20%


    // 0 0 4px 0px #cacaca

.category-products
    .lightSlider.lsGrab
        *
            cursor : pointer !important

.side-bar-filters
    background-color: #ffffff
    padding: 2px
    -webkit-font-smoothing: antialiased


    .filter-section
        border-bottom: 1px solid #ebebeb
        padding: 10px 5px
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        color: #4a687f !important

        .filter-heading
            -webkit-font-smoothing: antialiased
            -moz-osx-font-smoothing: grayscale

            .filter-section-name
                width: 95%

            .accordian-link
                color: #4a687f !important
                font-size: 14px
                font-weight: bold
                text-decoration: none
                text-transform: uppercase
                word-break: break-all
                -webkit-font-smoothing: antialiased
                -moz-osx-font-smoothing: grayscale

                i
                    width: 10px
                    float: right
                    margin-top: 6px

                img
                    width: 10px
                    margin-top: 6px
                    margin-right: 4px



        ul
            margin-top: 10px
            padding-left: 3px
            margin-bottom: 0
            list-style: none
            .sub-category-item.active-cat
                a
                    color: $background_red_dark_bg
                    font-weight: bold
            li
                padding: 3px 0
                a
                    color: #4a687f
                    text-decoration: none
                    text-align: center
                    width: 100%
                    padding: 4px
                    border-radius: 3px
                    font-size: 15px
                    line-height: 1.33
                    padding-bottom: 7px


    // #barcode
    //     width: 100%
    //     height: 300px
    //     padding: 10px




.modal-filters
    background-color: #ffffff
    padding: 2px
    -webkit-font-smoothing: antialiased


    .filter-section
        border-bottom: 1px solid #f1f1f1
        padding: 10px 5px
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        color: #4a687f !important

        .filter-heading
            -webkit-font-smoothing: antialiased
            -moz-osx-font-smoothing: grayscale

            .accordian-link

                // color: #222222d6 !important
                // color: #2c2c2c !important
                // color: #222 !important
                color: #4a687f !important
                font-size: 14px
                font-weight: bold
                text-decoration: none
                text-transform: uppercase
                word-break: break-all
                -webkit-font-smoothing: antialiased
                -moz-osx-font-smoothing: grayscale

                img
                    width: 10px
                    margin-top: 6px


        ul
            margin-top: 10px
            padding-left: 3px
            list-style: none
            li
                padding: 3px 0
                a
                    color: #4a687f
                    text-decoration: none
                    text-align: center
                    width: 100%
                    padding: 4px
                    border-radius: 3px
                    font-size: 15px
                    line-height: 1.33
                    padding-bottom: 7px




.category-products
    .search-bar
        background-color: white
        height: 45px
        display: flex
        justify-content: center
        align-items: center
        width: 100%

        .searh-bar-conatiner
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            height: 100%
            color: $placeholder_color
            // box-shadow: 0 0 4px 0px #e4e4e4
            box-shadow: rgb(0 0 0 / 12%) 0 1px 3px

            .search-button-sm
                display: none

            .search-filter-sm
                display: none

            .select-2-filter-box
                position: relative
                // width: 18%
                width: 18%
                border: 1px solid #d11d1d
                border-right: none
                background-color: white

                .v-select-in-categories
                    .vs__dropdown-toggle
                        padding: 0
                        height: 35px
                        border-radius: unset
                        border-right: none

                    // .vs__selected
                    //     .country-icon
                    //         img
                    //             margin-right: 5px


                // .select2-search, .select2-search--dropdown
                //     display: none


            // .select2, .select2-container, .select2-container--default
            //     width: 100% !important

            // .select2-selection, .select2-selection--single
            //     border: 1px solid $background_red_dark_bg
            //     border-right: 0
            //     height: 35px
            //     border-radius: 0
            //     align-items: center
            //     display: flex
            //     // padding: 0 22px
            //     font-size: 16px
            //     outline: none

                // .select2-selection__arrow
                //     height: 26px
                //     position: absolute
                //     top: 5px
                //     right: 20px
                //     width: 20px

            // .select-2-placeholder-icon
            //     position: absolute
            //     left: 4%
            //     top: 20%
            //     width: 15px
            //     z-index: 3

            // .select-2-placeholder-icon-category
            //     position: absolute
            //     left: 1%
            //     top: 11%
            //     width: 30px
            //     z-index: 3
            //     display: none

            .category-icon
                width: 25px !important

            .search-filter
                height: 37px
                border: none
                outline: none
                background-color: white
                border: 1px solid $background_red_dark_bg

                &:nth-child(1)
                    width: 22%
                    border-radius: 3px 0 0 3px
                    padding: 0 10px
                    font-size: 16px
                    border-right: 0
                    color: $text_green

                &:nth-child(2)
                    margin-left: 2px
                    width: 18%
                    padding: 0 30px
                    border-right: 0

            .filter-modal-button
                display: none

            .search-filter-button
                width: 7%
                border-radius: 0 3px 3px 0
                color: #E62222
                text-align: center
                font-weight: bold
                min-width: 85px
                font-size: 15px
                &:hover
                    color: $text_green


        .category-dropdown
            .select2-selection, .select2-selection--single
                padding-left: 0 !important

            .select2-selection__rendered
                padding-left: 4px



    .products-container
        padding: 10px !important
        .categories-slider
            // margin: 15px 15px 15px 15px
            background-color: white
            // border: 1px solid #e4e4e4
            box-shadow: 0 0 4px 0px #e4e4e4
            border-radius: 2px
            position: relative
            overflow: hidden

        .product-section
            // margin: 15px 15px 15px 0px
            margin-top: 10px
            // background-color: white
            padding: 0

            .product-list
                margin: -5px -5px
                // background-color: white


    .filter-cols
        padding: 0
        // padding: 15px

        .side-bar-filters
            background-color: white
            box-shadow: 0 0 4px 0px #e4e4e4


    .products-cols
        // padding: 8px 8px 8px 0

        .product-section
            background-color: white

    .categories-slider
        padding: 2px 10px
        box-shadow: $box_shadow1
        overflow: hidden

        li.active-category
            .slider-category-name
                color: $text_red !important

        .VueCarousel-slide.active-category
            .slider-category-name
                color: $text_red !important

        li , .VueCarousel-slide
            width: 60px !important
            height: 70px !important
            display: flex
            flex-direction: column
            margin-right: 15px !important
            justify-content: center
            align-items: center
            font-size: 11px
            margin: 3px 16px 10px 15px !important
            &:hover
                .slider-category-name
                    color: $text_red !important

                .slider-category-item
                    padding: 11px !important

            .slider-category-item
                background-color: #f1f1f3
                border-radius: 200px
                position: relative
                padding: 14px
                transition: all .1s ease-in-out
                // padding: 11px
                // padding: 8px
                img
                    width: 100%
                    height: auto

            .slider-category-name
                position: absolute
                bottom: 2px
                color: $text_green
                // color: #232323b8
                width: 90px
                text-align: center
                display: -webkit-box
                -webkit-line-clamp: 1
                -webkit-box-orient: vertical
                text-overflow: ellipsis
                overflow: hidden


    .container-box
        padding-left: 25px !important

        .filter-cols
            padding: 0
            margin-top: 10px
            // padding: 15px


.slick-categories
    background-color: white
    padding: 2px 10px
    position: relative

    #slick-slider
        padding: 2px 10px
        box-shadow: $box_shadow1

        .slick-slide
            width: 60px !important
            height: 70px !important
            display: flex
            flex-direction: column
            margin-right: 15px !important
            justify-content: center
            align-items: center
            font-size: 11px
            margin: 3px 16px 10px 15px !important
            &:hover
                .slider-category-name
                    color: $text_red !important

            .slider-category-item
                background-color: #f1f1f3
                border-radius: 200px
                position: relative
                img
                    width: 100%
                    height: auto

            .slider-category-name
                position: absolute
                bottom: 2px
                color: $text_green
                // color: #232323b8





.vue-slider
    background-color: white
    padding: 2px 10px
    position: relative
    padding: 2px 10px
    box-shadow: $box_shadow1

    .single_slide
        width: 60px !important
        height: 70px !important
        display: flex
        flex-direction: column
        margin-right: 15px !important
        justify-content: center
        align-items: center
        font-size: 11px
        margin: 3px 16px 10px 15px !important
        &:hover
            .single-category-name
                color: $text_red !important

        .single-category-item
            background-color: #f1f1f3
            border-radius: 200px
            position: relative
            img
                width: 100%
                height: auto

        .single-category-name
            position: absolute
            bottom: 2px
            color: $text_green
            // color: #232323b8




.filter-button
    display: none


.select2-dropdown
    .select-2-dropdown-image
        width: 24px
        height: auto

.custom-select-span
    display: flex
    justify-content: center
    align-items: center
    color: $text_green

.select-2-dropdown-image-selected
    width: 30px
    height: auto
    margin-bottom: 2px

.category-dropdown
    .select2-selection .select2-selection--single
        margin-left: -30px !important

.sticky-container
    position: sticky
    // top: -60%
    top: 130px


    .qr-code-container
        margin: 10px 0
        padding: 5px
        border-radius: 2px
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        box-shadow: $box_shadow1

        .heading
            font-size: 14px
            color: #4e6a80
            text-align: center
            font-weight: bold

        .sub-heading
            color:#afafaf
            text-align: center

        .download-statement
            font-size: 16px
            color: #4e6a80
            font-weight: 500
            text-align: center
            .download-text
                text-align: center
                color: $background_red_dark_bg
                font-weight: bold
                text-decoration: none !important


        .barcode-container
            position: relative

            .open-bazar-icon
                width: 40px
                height: 40px
                position: absolute
                background-color: white
                border-radius: 200px
                top: 35%
                left: 32%

            #barcode
                width: 170px
                height: auto
                // margin-top: 10px
                // margin-bottom: 10px

    .googe-adsense-banner
        width: 100%
        // height: 300px
        // box-shadow: $box_shadow1
        // background-color: red

        img
            width: 100%
            height: auto


.filters-desk
    display: inherit !important


.filters-mobile
    display: none !important

@media screen and (min-width: 786px) and (max-width: 991px)

    .filters-desk
        display: none !important

    .filters-mobile
        display: block !important

    // .side-bar-filters
    //     display: none

    .sticky-container
        display: none


    .filter-button
        font-size: 16px
        text-align: center
        // border: 1px solid #e4e4e4
        padding: 12px 15px
        background: #fff
        display: block
        border-radius: 2px
        color: #e40046
        width: 100%
        letter-spacing: 0 !important
        box-shadow: 0 0 4px 0px #e4e4e4

    .category-products
        .search-bar
            .searh-bar-conatiner

                .select-2-filter-box
                    width: 26%

                .search-filter
                    &:nth-child(1)
                        width: 30%

        .container-box
            padding: 10px 15px !important

            .filter-cols
                margin-top: 0 !important

    .filter-button-container
        padding: 0 10px !important

@media screen and ( max-width:786px  )

    .filters-desk
        display: none !important


    .filters-mobile
        display: block !important

    .sticky-container
        display: none

    .category-products
        .search-bar
            height: 300px
            background-image: url('/bazar/cover-image.png')
            // background-image: url('/bazar/mobile view banner.png')
            background-position: center
            background-color: #00000060
            background-size: cover
            background-repeat: no-repeat
            background-blend-mode: overlay

            .searh-bar-conatiner
                flex-direction: column
                padding: 10px
                width: 85%
                margin-top: 30px
                margin-bottom: 15px
                box-shadow: unset

                .search-filter-sm
                    display: block

                .search-button-sm
                    display: inline-block
                    height: 43px
                    color: white
                    background-color: $background_red_dark_bg
                    border-radius: 10px
                    border: none
                    width: 49%
                    margin-bottom: 12px
                    font-size: 16px
                    font-weight: bold

                .select-2-filter-box
                    width: 100%
                    margin-bottom: 12px
                    border: none
                    background-color: transparent
                    border-radius: 10px

                    .v-select-in-categories
                        border-radius: 10px
                        // padding-left: 30px !important

                        .vs__dropdown-toggle
                            border-radius: 10px
                            border: none
                            background-color: white
                            height: 44px

                        .vs__selected
                            .country-icon
                                img
                                    margin-left: 7px
                                    width: 13px
                                    margin-right: 7px

                .search-filter
                    &:nth-child(1)
                        width: 100%
                        padding: 10px 12px
                        margin-bottom: 12px
                        border-radius: 10px
                        border: unset
                        height: 44px

                .search-filter-button
                    display: none

                .filter-modal-button
                    display: inline-block
                    width: 49% !important
                    background-color: $background_red_dark_bg
                    color: white !important
                    border: unset
                    border-radius: 10px
                    height: 44px
                    margin-bottom: 12px
                    font-weight: bold

        // .side-bar-filters
        //     display: none

        .container-box
            padding: 0 15px !important


            .products-container
                padding: 0 !important

                .product-section
                    padding: 0 10px !important

                .categories-slider
                    box-shadow: unset
                    border-radius: unset
                    margin-top: 0 !important


            .filter-cols
                margin-top: 0 !important



.lslide
    margin-top: 5px

#responsive
    height: 90px !important


.custom-slider-control
    color: $text_green
    font-size: 25px
    &:hover
        color: $text_red

#goToPrevSlide
    // background-image: url(https://weu1-api.asm.skype.com/v1/objects/0-weu-d17-1c0b9464a83d1b3a70d6756176837d28/views/imgpsh_fullsize_anim) !important
    width: 10px !important
    height: 25px !important
    background-position: -4px 0 !important
    position: absolute
    top: 30%
    left: 10px
    opacity: 1
    transition: all .3s ease-in-out
    // &:hover
    //     opacity: 1


#goToNextSlide
    // background-image: url(https://weu1-api.asm.skype.com/v1/objects/0-weu-d12-76c75a487da897b9f5f8cf2f7bb9908a/views/imgpsh_fullsize_anim) !important
    width: 10px !important
    height: 25px !important
    background-position: -10px 0 !important
    position: absolute
    top: 30%
    right: 12px
    opacity: 1
    transition: all .3s ease-in-out
    // &:hover
    //     opacity: 1



@media screen and ( max-width:786px  )
    #goToPrevSlide
        left: 8px

    #goToNextSlide
        right: 11px
