.get-the-app-page
    background-color: white

    .top-banner
        height: 70px
        display: flex
        justify-content: center
        align-items: center
        font-size: 25px
        color: $background_red_dark_bg
        font-weight: bold
        text-align: center

    .grey-banner
        height: 250px
        background-color: white
        display: flex
        justify-content: center
        align-items: center
        font-size: 25px
        color: white
        text-align: center
        padding: 0 15px
        background: linear-gradient(#7c7979 , #9c9a9a)
        // background-color: #878484
        text-transform: capitalize
        padding-bottom: 50px

    .mobile-container-small
        display: none

        .banner-image
            width: 60%
            max-width: 300px
            height: auto
            margin-bottom: 20px

        a
            text-align: center
            display: flex
            flex-direction: column
            font-size: 20px
            color: white
            text-align: center
            text-decoration: none
            align-items: center

            .download-btn
                width: 150px
                
        .android-banner
            background: linear-gradient(#25868f , #679ea3db  )
            width: 100%
            min-height: 300px
            text-align: center
            padding: 30px 0
        
        .ios-banner
            background: linear-gradient( #ec112a , #d5696b  )
            width: 100%
            text-align: center
            min-height: 300px
            padding: 30px 0
    
    .mobile-container
        display: flex
        margin-top: -25px

        a
            width: 165px
            height: auto
            position: absolute
            display: flex
            flex-direction: column
            font-size: 20px
            color: white
            text-align: center
            bottom: 120px
            text-decoration: none
        
        a.apple-download
            left: 15%

        a.google-download
            right: 15%

        .left-box
            width: 45%
            height: 400px
            clip-path: polygon(0 0,100% 7%,100% 93%,0% 100%)
            position: relative
            background: linear-gradient(90deg , #ec112a , #df7678)   
        
        .center-box
            width: 10%
            position: relative

            .mobile-image
                position: absolute
                max-height: 500px
                z-index: 6
                top: -50px

            .mobile-image.ios
                left: -145px

            .mobile-image.android
                right: -145px
                
        
        .right-box
            width: 45%
            clip-path: polygon(0 7%,100% 0,100% 100%,0% 93%)
            position: relative
            height: 400px
            background: linear-gradient(90deg , #679ea3 , #25868f)

        
    .buidling-banner
        display: flex
        justify-content: flex-end
        align-items: center
        flex-direction: column
        height: 330px
        background-image: url('bazar/background.png')
        background-size: cover
        background-position: center
        text-align: center
        margin-top: -115px
        padding-bottom: 30px
        background-color: #fafafa

        img
            width: 150px
            height: auto
        
        .text
            font-size: 25px
            text-transform: capitalize
            margin-top: 10px
            color: $background_red_dark_bg



@media screen and ( max-width:1024px  )
    .get-the-app-page
        .mobile-container
            height: 560px
            .center-box
                .mobile-image
                    max-height: 400px
                    top: 0

                .mobile-image.ios
                    left: -150px
    
                .mobile-image.android
                    right: -150px
        
        .download-btn
            width: 140px



@media screen and ( max-width:768px  )
    .get-the-app-page
        .mobile-container
            display: none

        .mobile-container-small
            display: block
        .grey-banner
            font-size: 20px
            height: 120px
            padding-bottom: 0 !important

        .buidling-banner
            padding: 25px 0px 30px
            // margin-bottom: 15px
            height: 100px
            justify-content: center
            margin-top: 0
            background-image: none
            .bazar-logo
                display: none
            .text
                font-size: 20px
                margin-top: 30px
















        //             .mobile-container
        // display: flex
        // margin-top: -190px
        // position: relative
        // height: 600px

        // .download-btn
        //     width: 165px
        //     height: auto
        
        // .apple-download
        //     position: absolute
        //     left: 8%
        //     bottom: 120px
        //     display: flex
        //     flex-direction: column
        //     font-size: 20px
        //     color: white
        //     text-align: center

        // .google-download
        //     position: absolute
        //     right: 8%
        //     bottom: 120px
        //     display: flex
        //     flex-direction: column
        //     font-size: 20px
        //     color: white
        //     text-align: center

        // .left-side
        //     width: 47%

        // .center
        //     width: 14%
        //     position: relative

        //     .left-image
        //         position: absolute
        //         left: -150px
        //         bottom: -20px
        //         max-height: 500px

        //     .right-image
        //         position: absolute
        //         right: -150px
        //         bottom: -20px
        //         max-height: 500px

        // .right-side
        //     width: 47%

