// @charset "UTF-8"

// /* CSS Document
// /* latin-ext
// @font-face
//   font-family: 'Lato'
//   font-style: normal
//   font-weight: 400
//   src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format("woff2")
//   unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

// /* latin
// @font-face
//   font-family: 'Lato'
//   font-style: normal
//   font-weight: 400
//   src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format("woff2")
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

// /* latin-ext
// @font-face
//   font-family: 'Lato'
//   font-style: normal
//   font-weight: 700
//   src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format("woff2")
//   unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

// /* latin
// @font-face
//   font-family: 'Lato'
//   font-style: normal
//   font-weight: 700
//   src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format("woff2")
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

// html
//   height: 100%
//   width: 100%

// body
//   font-family: 'Lato', sans-serif
//   -webkit-font-smoothing: antialiased
//   -moz-osx-font-smoothing: grayscale
//   height: 100%
//   width: 100%

// p
//   font-size: 17px
//   line-height: 1.3
//   color: #57748C
//   font-weight: 400

// h1, h2, h3, h4, h5, h6
//   font-weight: 700




.intro-section
  background-color: #ffffff
  // margin-top: -38px
  padding-top: 10px
  .seprate
    background-color: $text_red
    border-radius: 200px
    width: 80%
    height: 1px
    margin-left: 10%
    margin-top: 60px
    margin-bottom: 25px

  .intro-heading-container
    margin: 40px 80px 0 80px
    .open-baraz-logo
      margin-top: 32px
      float: right

      img
        width: 120px
        height: auto
        // margin-right: 40px

    .welcome-title
      font-size: 40px
      color: #d23b3f
      font-weight: 600

      .welcome-to
        color: $text_green
        font-size: 50px
        font-weight: 400
        font-family: 'Alex Brush', cursive

    .open-bazar-title
      font-size: 50px
      font-weight: 900
      color: #d23b3f
      margin-top: -40px

  .intro-text
    font-size: 18px
    color: $text_green
    margin: 10px 50px


.country-flags-section
  padding: 10px 10px
  background-image: url('bazar/background.png')
  background-size: cover
  background-position: center

  .country-select-title
    color: $text_red
    font-size: 30px
    font-weight: 600
    margin-left: 25px
    margin-top: 20px

  .country-flags
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    // padding: 50px ​20px
    padding-top: 20px
    padding-bottom: 30px
    // padding-left: 20px
    // padding-right: 20px


    // display: grid
    // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
    // grid-gap: 10px

    a
      text-decoration: none

    .country-flag.active
      background-color: #d11d1d36

    .country-flag
      width: 14.28%
      text-align: center
      min-width: 150px
      padding: 25px 10px
      border-radius: 5px
      &:hover
        background-color: #d11d1d36

      .country-name
        color: $text_green
        font-size: 18px
        margin-top: 10px
        font-weight: 500

      img
        width: 60%
        height: auto

  .border-right
    border-right: 2px solid white


.red-text
  color: #B31617 !important

.white-text
  color: #FFFFFF !important

.tablediv
  display: table
  width: 100%

.intablediv
  display: table-cell
  vertical-align: middle


.iphone-notch
    width: 145px
    height: 23px
    background-color: #181010
    position: absolute
    top: 11px
    left: 75px
    z-index: 4
    border-radius: 0 0 18px 18px

.hero-section
    background-image: linear-gradient(#d11d1d, #A01111)
    //   background-image: linear-gradient(#E62222, #A01111)
    padding: 100px 0
    height: 100%

    .download-app-buttons
        img
            max-width: 100%
            height: auto

    h1
        color: #FFFFFF
        line-height: 1.4

.content-section
    background-color: #FFFFFF
    padding: 70px 0

    .card-box
        height: 100%

@media (min-width: 992px)
  .text-right-sp
    text-align: right

  .pad-top-100
    padding-top: 100px

.home-credit-packages
  padding: 70px 0
  background-image: linear-gradient(#E62222, #A01111)

  h2, h3, p
    color: #FFFFFF

  img
    max-height: 150px
    margin-bottom: 20px

@media (max-width: 992px)
  .home-credit-packages .col-md-3
    margin-bottom: 50px

.more-features
  img
    max-width: 75px

  .col-md-4
    height: 350px
    padding: 50px 20px

  h3
    color: #B31617 !important

.border-bottom
  border-bottom: 1px solid #CCD5DC

.border-right
  border-right: 1px solid #CCD5DC

.footer-section
  background-image: url("imgs/bottom-background.svg")
  background-size: cover
  background-position: bottom center
  background-repeat: no-repeat
  padding: 100px 0
  text-align: center
  color: #FFFFFF

.download-box
  background-color: #FFFFFF
  border-radius: 6px
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
  text-align: center
  padding: 50px

  img
    max-height: 60px

.footer-section ul
  list-style: none
  padding-left: 0px
  font-size: 17px

  li
    display: inline-block

    a
      color: #FFFFFF
      text-decoration: none
      padding: 10px

.card-box
  background: #FFFFFF
  border-radius: 4px
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
  padding: 20px

.grey-background
  background-color: #F8F8F8

@media (max-width: 992px)

  .mb-30
    margin-bottom: 30px
  // .card-box

/* Slider
/* Browser Resets

.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus
  outline: none

.slides, .flex-control-nav, .flex-direction-nav
  margin: 0
  padding: 0
  list-style: none

.flexslider
  a img
    outline: none
    border: none

  margin: 0
  padding: 0

  .slides
    > li
      display: none
      -webkit-backface-visibility: hidden

    img
      width: 100%
      display: block
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px

/* Hide the slides before the JS is loaded. Avoids image jumping

/* Clearfix for the .slides element

.slides:after
  content: "."
  display: block
  clear: both
  visibility: hidden
  line-height: 0
  height: 0

html[xmlns]
  .slides
    display: block


html
  .slides
    height: 1%

/* Theme Styles

.flexslider
    position: relative
    zoom: 1
    //   background-image: url("imgs/device_features.png")
    // background-size: 300px
    background-size: 300px 545px
    background-repeat: no-repeat
    height: 560px
    // height: 592px
    // left: 30px
    left: 5px
    background-image: url("bazar/iphone.png")
    // background-image: url("https://www.pngkit.com/png/full/114-1147208_barcelona-transparent-background-iphone-png.png")
    min-width: 300px

// .flexslider-main
    // left: 125px

// .flexslider-features
    // left: 0

/* Edit it if you want

.flex-container
  min-width: 150px
  max-width: 300px
  // max-width: 360px
  background-position: center center


.center-block
  margin-right: auto
  margin-left: auto


.flexslider
    .slides
        zoom: 1
        img
            // margin-top: 51px
            // max-width: 270px
            // margin-left: 15px

            margin-top: 16px
            max-width: 263px
            margin-left: 18px
            border-radius: 29px
            height: 513px
            z-index: 5

.flex-control-nav, .flex-direction-nav
  display: none

.flex-active-slide
  width: 100%
  float: none
  margin-right: 0%
  position: relative
  display: none




@media (min-width: 992px)
  .hero-text
    padding-top: 150px

.navbar-default
  background-color: transparent !important
  border-color: transparent !important

  .navbar-collapse, .navbar-form
    border-color: #FFFFFF

.top-nav-collapse
  background-color: #FFFFFF !important
  box-shadow: 0 0 1px 1px rgba(34, 45, 57, 0.15)

.navbar-nav
  font-size: 16px

  li a
    color: #FFF !important

@media (max-width: 768px)
  .intro-section
    .intro-heading-container
      .open-bazar-title
        font-size: 40px

  .country-flags-section
    background-image: none

  .navbar-default
    background-color: #FFFFFF !important
    border-color: #FFFFFF !important

  .navbar-toggle
    float: left !important

  .navbar-nav li a
    color: #57748C !important

@media (min-width: 767px)
  .navbar
    padding: 20px 0
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out
    transition: background .5s ease-in-out,padding .5s ease-in-out

  .top-nav-collapse
    padding: 10px 0

.top-nav-collapse
  .navbar-nav li a
    color: #57748C !important

  .navbar-brand img
    -webkit-filter: none !important
    filter: none !important

@media (min-width: 768px)
  .navbar .navbar-brand img
    -webkit-filter: brightness(0) invert(1)
    filter: brightness(0) invert(1)

.logo
  height: 50px
  margin-top: -15px

/* max-width:768px left: 35%
@media (max-width: 991px)
  .logo
    height: 35px
    margin-top: -7px
    position: absolute
    left: 8%

  .hero-text
    text-align: center
    margin-bottom: 30px

  .flex-container
    margin-top: 50px

.navbar-default .navbar-toggle
  border-color: transparent

  &:hover, &:focus
    background-color: transparent

@media (min-width: 768px)
  .hero-section .flex-container
    &::before
      content: ''
      position: absolute
      left: -97px
      z-index: 9 !important
      bottom: -235px
      background-image: url('/bazar/new-girl.png')
      // background-image: url(imgs/boy.png)
      background-repeat: no-repeat
      height: 519px
      width: 280px
      background-size: 280px

    &::after
      content: ''
      position: absolute
      right: 0
      z-index: 9 !important
      bottom: -10px
      background-image: url('/bazar/new-boy.png')
      // background-image: url(imgs/girl.png)
      background-repeat: no-repeat
      height: 508px
      width: 150px
      background-size: 170px


@media screen and ( max-width:670px  )
  .intro-section
    .intro-heading-container
      margin-bottom: 20px
      text-align: center
      // .open-baraz-logo
      //   float: initial




@media screen and ( max-width:992px  )
  .features-list-row
    text-align: center

@media screen and ( max-width:768px  )
  .flexslider-main
    left: 0

  .flexslider-features
    margin-bottom: 20px

  .intro-section
    .intro-heading-container
      .open-baraz-logo
        display: none

@media screen and ( max-width:510px  )
  .intro-section
    .intro-heading-container
      margin: 40px 10px 0 10px
