.notification-page
    .section-heading 
        font-size: 20px
        padding: 20px
        font-weight: 600
        color: #4e6a80

.my-wallet-top-text-container
    display: flex
    justify-content: center
    align-items: center
    font-size: 16px
    flex-direction: column
    color: $text_green

    .gradient-logo
        width: 215px
        margin-top: -50px    
    
    .my-wallet-top-text
        padding: 0 150px
        text-align: center
        margin-top: -50px
        // font-size: 16px

.list
    background-color: white
    .list-item
        padding: 15px 20px
        border-bottom: 1px solid #e4e4e4
        
        .accordian-link.collapsed
            color: $text_green

            .arrow-down-right
                transform: rotate(0deg)

        .accordian-link
            color: $background_red_dark_bg
            display: flex
            justify-content: flex-start
            align-items: center

        a
            text-decoration: none

            .list-item-name
                font-size: 18px
                width: 99%
                
            .list-item-icon
                margin-left: 10px

            .arrow-down-right
                font-weight: 300
                font-size: 30px
                transition: all 0.5s
                transform: rotate(180deg)

    .notification-item
        display: flex

        .notification-item-image
            width: 6%
            min-width: 60px
            text-align: left

            img
                width: 50px
                border-radius: 200%
        
        .notification-item-description
            width: 85%
            color: $text_green
            font-size: 17px
            display: flex
            align-items: center

        .notification-item-time
            width: 11%
            display: flex
            justify-content: center
            align-items: flex-end
            flex-direction:  column
            min-width: 80px
            
            .time-ago
                font-size: 14px
                color: #4e6a8099
                margin-top: 10px
            i._read
                color: #1de71d
            i._pending
                color: $background_red_dark_bg
            i
                font-size: 13px

    .collapse
        border-bottom: 1px solid #e4e4e4

    .expandable-area
        padding: 20px 30px
        color: $text_green



.notification-page 
    margin: 30px auto



@media screen and ( max-width:991px  )
    .my-wallet-top-text-container        
        .my-wallet-top-text
            padding: 0 70px

@media screen and ( max-width:768px  )
    .my-wallet-top-text-container        
        .my-wallet-top-text
            padding: 0 10px
    
    .notification-page 
        .section-heading
            font-size: 16px
            padding: 15px

    .list
        .list-item
            padding: 15px 10px
        .notification-item
            display: flex

            .notification-item-image
                width: 10%
                min-width: 50px

                img
                    width: 40px
            
            .notification-item-description
                width: 80%
                color: $text_green
                font-size: 13px
                display: flex
                align-items: center

            .notification-item-time
                width: 15%
                display: flex
                flex-direction:  column
                min-width: 70px
                    
                .time-ago
                    font-size: 12px
                    color: #4e6a8099
                i
                    color: $background_red_dark_bg
                    font-size: 10px
