.payment-method
    margin-top: 30px
    margin-bottom: 30px

    .section-heading
        font-size: 20px
        padding: 20px
        font-weight: 600
        color: $text_green

    .payment-box
        width: 100%
        border-radius: 10px
        box-shadow: $box_shadow3
        padding: 20px
        background-color: #fff

        .payment-box-title
            font-size: 20px
            text-align: center
            color: $text_green
            font-weight: bold
            margin-top: 15px
        
        .small-text
            font-size: 15px
            color: $text_green
            text-align: center
            margin-top: 50px
            margin-bottom: 30px


        .wallet-details
            display: flex
            font-size: 20px
            font-weight: bold
            margin-top: 70px

            .wallet-icon
                width: 50%
                display: flex
                justify-content: flex-start
                align-items: center

            .wallet-credit
                width: 50%
                text-align: right

            img
                width: 30px
                margin-bottom: 4px

    .security-box
        margin-top: 20px
        font-size: 20px
        text-align: center
        color: $text_green
        display: flex
        justify-content: center
        align-items: center
        img
            width: 50px
        .security-box-text
            margin-left: 5px
            div
                &:nth-child(2)
                    margin-left: 3px
                    margin-top: -5px
                    text-align: left
    .help-text
        font-size: 18px
        color: $text_green
        text-align: center
        margin-top: 20px
        margin-bottom: 20px
        a
            text-decoration: none
            color: $background_red_dark_bg

    .payment-options
        display: flex
        padding: 0 50px
        
        .payment-option-option
            width: 50%
            margin: 2px 40px
            height: 150px
            display: flex
            justify-content: center
            align-items: center
            position: relative
            
            .--disabled
                position: absolute
                top: 0
                left: 0
                right: 0
                bottom: 0
                width: 100%
                height: 100%
                background-color: #ffffff7a
            a
                text-decoration: none

            .option-title
                font-size: 25px
                font-weight: bold
                color: black

            img
                width: 40px
                margin-right: 5px
                margin-bottom: 10px

    .package-overview
        .package-details-list
            
            .package-list-item.total
                margin-top: 15px
                font-weight: bold
    
            .package-list-item
                display: flex
                background-color: white
                border-radius: 5px
                margin-top: 5px
                font-size: 18px
                box-shadow: $box_shadow3
                padding: 8px 15px
                color: $text_green


                .package-list-name
                    width: 50%
                    
                .package-list-details
                    width: 50%
                    text-align: right


@media screen and ( max-width:768px  )
    .payment-method 
        .payment-options 
            padding: 0
            .payment-option-option
                margin: 10px 25px

        .package-overview 
            .package-details-list 
                .package-list-item
                    font-size: 14px

@media screen and ( max-width:451px  )
    .payment-method 
        .payment-options 
            padding: 0
            .payment-option-option
                margin: 5px

@media screen and ( max-width:380px  )
    .payment-method 
        .payment-options 
            .payment-option-option
                width: 47%