<template>

<div>
<div class="bz-white-box py-0 other-user-profile">

        <loader :small="false" class="bz-text-red" v-if="loading" ></loader>

        <div class="user-info">
            <div class="other-options mobile-only-b">
                <i class="fas fa-ellipsis-v"  v-if="!showList" @click="showList = true" ></i>

                <div class="view-options" v-show="showList">
                    <div class="option">
                        <a href="javascript:;" >
                            <img src="/bazar/dashboard-icons/report.png"  data-toggle="modal" data-target="#reportUserModal" />
                        </a>
                        <!-- <div class="option-name">Block</div> -->
                    </div>
                    <div class="option">
                        <a href="javascript:;">
                            <img src="/bazar/dashboard-icons/rate.png" data-toggle="modal" data-target="#rateModal"  />
                        </a>
                        <!-- <div class="option-name">Delete</div> -->
                    </div>

                    <div class="option">
                        <a href="javascript:;" @click="showList = false"  >
                            <i class="fas fa-times-circle"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="profile-image">
                <img v-if="user_info.profile_image" :src="user_info.profile_image | serverPath" @error="$event.target.src = '/bazar/dashboard-icons/userimage.png'" />
                <img v-else src="/bazar/dashboard-icons/userimage.png" />
            </div>

            <div class="user-name">{{user_info.name}}
                <!-- <div class="dropdown show">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                </div> -->

            </div>

            <div class="member-date"> <i class="fa fa-calendar-minus-o" aria-hidden="true" ></i>
                Member since {{user_info.created_at | formatedDate}} </div>


            <div class="user-social-media-accounts">
                <a href="#">
                    <img src="/bazar/view-product-email.png" class="user-social-media-account" />
                </a>

                <a href="#" v-if="user_info.verify_phone == 'true'">
                    <img src="/bazar/view-product-mobile.png"  class="user-social-media-account" />
                </a>

                <a href="#" v-if="user_info.verify_facebook == 'true'">
                    <img src="/bazar/view-product.facebook.png"   class="user-social-media-account" />
                </a>

                <a href="#" v-if="user_info.verify_google == 'true'" >
                    <img src="/bazar/view-product-googleplus.png"   class="user-social-media-account" />
                </a>
            </div>

            <show-ratings ref="show_reviews" v-if="user_info" :user="user_info"></show-ratings>

            <div class="user-stats" >
                <div class="user-stats-box ml-0">
                    <router-link :to="'/user/'+ user_id + '/ads'">
                        <div>{{user_info.ads_count}}</div>
                        <div>Ads</div>
                    </router-link>
                </div>
                <div class="user-stats-box">
                    <router-link :to="'/user/'+ user_id + '/followings'">
                        <div>{{user_info.following}}</div>
                        <div>Following</div>
                    </router-link>
                </div>
                <div class="user-stats-box no-border">
                    <router-link :to="'/user/'+ user_id + '/followers'">
                        <div>{{user_info.followers}}</div>
                        <div>Followers</div>
                    </router-link>
                </div>
            </div>
        </div>




        <div class="dashboard-menu">
            <div class="menu-list">

                <router-link :to="'/user/'+ user_id + '/ads'" class="menu-item">
                    <img src="/bazar/dashboard-icons/marketing.png" class="menu-item-icon" />
                    <div class="menu-name">
                        My Ads
                        <div class="menu-notification-number">
                            <div>{{user_info.ads_count}}</div>
                        </div>
                    </div>
                </router-link>
                <router-link :to="'/user/'+ user_id + '/followings'" class="menu-item">
                    <img src="/bazar/dashboard-icons/following.png" class="menu-item-icon" />
                    <div class="menu-name">
                        Following
                        <div class="menu-notification-number">
                            <div>{{user_info.following}}</div>
                        </div>
                    </div>
                </router-link>
                <router-link :to="'/user/'+ user_id + '/followers'" class="menu-item">
                    <img src="/bazar/dashboard-icons/followers.png" class="menu-item-icon" />
                    <div class="menu-name no-border">
                        Followers
                        <div class="menu-notification-number">
                            <div>{{user_info.followers}}</div>
                        </div>
                    </div>
                </router-link>


            </div>
        </div>
    </div>



    <template v-if="user_info && user_info.id != $store.getters.isAuthenticated.id">
        <div class="bz-white-box report-box desktop-only" data-toggle="modal" data-target="#reportUserModal"  >
            <img src="/bazar/dashboard-icons/warning-sign.png" />
            Report This User
        </div>

        <div class="bz-white-box report-box desktop-only"  data-toggle="modal" data-target="#rateModal" >
            <img src="/bazar/dashboard-icons/rate.png" style="width: 23px" />
            Rate This User
        </div>
    </template>

<div class="modal fade" id="reportUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content">
        <div class="bz-modal-header">
            <div class="bz-modal-header-title">Report User</div>
        </div>
        <div class="modal-body">
            <div class="report-ad-modal report-option">

                <div class="small-text">
                    Please Select one of the following reasons
                </div>




                <div class="report-options">
                    <div class="report-option">
                        <div class="report-option-name" for="option-1">
                            <label for="option-1">
                                Inauthentic
                            </label>
                        </div>
                        <div class="report-item-switch">
                            <div class="custom-control custom-switch float-right">
                                <input @change="handleReportCase($event , 'Inauthentic')" type="checkbox" class="custom-control-input user-report-option" name="reason" id="option-1">
                                <label class="custom-control-label" for="option-1"></label>
                            </div>
                        </div>
                    </div>

                    <div class="report-option">
                        <div class="report-option-name" for="option-2">
                            <label for="option-2">
                                Inappropriate Communication
                            </label>
                        </div>
                        <div class="report-item-switch">
                            <div class="custom-control custom-switch float-right">
                                <input @change="handleReportCase($event , 'Inappropriate Communication')"  type="checkbox" class="custom-control-input user-report-option" name="reason" id="option-2">
                                <label class="custom-control-label" for="option-2"></label>
                            </div>
                        </div>
                    </div>

                    <div class="report-option">
                        <div class="report-option-name" for="option-2">
                            <label for="option-3">
                                Violating Ads
                            </label>
                        </div>
                        <div class="report-item-switch">
                            <div class="custom-control custom-switch float-right">
                                <input @change="handleReportCase($event , 'Violating Ads')"  type="checkbox" class="custom-control-input user-report-option" name="reason" id="option-3">
                                <label class="custom-control-label" for="option-3"></label>
                            </div>
                        </div>
                    </div>

                    <div class="report-option">
                        <div class="report-option-name" for="option-2">
                            <label for="option-4">
                                Sold Ads
                            </label>
                        </div>
                        <div class="report-item-switch">
                            <div class="custom-control custom-switch float-right">
                                <input @change="handleReportCase($event , 'Sold Ads')"  type="checkbox" class="custom-control-input user-report-option" name="reason" id="option-4">
                                <label class="custom-control-label" for="option-4"></label>
                            </div>
                        </div>
                    </div>

                    <div class="report-option">
                        <div class="report-option-name" for="option-2">
                            <label for="option-5">
                                Inappropriate Ads
                            </label>
                        </div>
                        <div class="report-item-switch">
                            <div class="custom-control custom-switch float-right">
                                <input @change="handleReportCase($event , 'Inappropriate Ads')"  type="checkbox" class="custom-control-input user-report-option" name="reason" id="option-5">
                                <label class="custom-control-label" for="option-5"></label>
                            </div>
                        </div>
                    </div>

                    <div class="report-option">
                        <div class="report-option-name" for="option-2">
                            <label for="option-6">
                                Suspicious Advertiser
                            </label>
                        </div>
                        <div class="report-item-switch">
                            <div class="custom-control custom-switch float-right">
                                <input @change="handleReportCase($event , 'Suspicious Advertiser')"  type="checkbox" class="custom-control-input user-report-option" name="reason" id="option-6">
                                <label class="custom-control-label" for="option-6"></label>
                            </div>
                        </div>
                    </div>

                    <div class="report-option">
                        <div class="report-option-name" for="option-7">
                            <label for="option-7">
                                Other
                            </label>
                        </div>
                        <div class="report-item-switch">
                            <div class="custom-control custom-switch float-right">
                                <input @change="handleReportCase($event , 'Other')"  type="checkbox" class="custom-control-input user-report-option" name="reason" id="option-7">
                                <label class="custom-control-label" for="option-7"></label>
                            </div>
                        </div>
                    </div>

                    <div class="report-option-text">
                        <input v-model="report_case_description" placeholder="Additional info (Optional)" onkeyup="countChar(this)" maxlength="120" />
                        <div id="charNum" class="character-length"> 0/120 </div>
                    </div>

                    <div class="submit-btn-area text">
                        <button type="button" @click="submitReportPost" :disabled="reporting_post" class="bz-sqaure-btn bz-btn-red full-mobile no-bold" >
                            <loader v-if="reporting_post"></loader>
                            <span v-else> SUBMIT </span>
                        </button>
                    </div>




                </div>
            </div>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="rateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="bz-modal-header">
                <div class="bz-modal-header-title">Rate This User</div>
            </div>
            <div class="modal-body">
                <div class="review-user-modal">

                    <div class="small-text">
                        Please rate from 1 till 5 stars of each experience
                    </div>
                    <div class="review-options">
                        <div class="review-option" v-for="(option,index) in review_options" :key="index" >
                            <div class="review-option-name">
                                <label>
                                    {{option.name}}
                                </label>
                            </div>
                            <star-rating
                                v-model="option.ratings"
                                :read-only="false"
                                :show-rating="false"
                                :star-size="20"
                            ></star-rating>
                        </div>
                    </div>
                    <div class="report-option text-center mt-4">
                        <div class="submit-btn-area">
                            <button type="button" @click="reviewUser" :disabled="rating_user" class="bz-sqaure-btn bz-btn-red full-mobile no-bold" >
                                <loader v-if="rating_user"></loader>
                                <span :class="{'non-visible' : rating_user}" > SUBMIT </span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>






</div>
</template>

<script>
export default {

    props:{
        user_id:{
            default:'',
        }
    },
    data(){
        return{
            user_info: '',
            report_case: '',
            report_case_description: '',
            reporting_post: false,
            showList: false,
            loading: false,
            rating_user: false,
            rating: 0,
            review: '',
            review_options:[
                { name: 'Product as described' , ratings: 1 },
                { name: 'Clear pictures ' , ratings: 1 },
                { name: 'Responds quickly ' , ratings: 1 },
                { name: 'Friendly ' , ratings: 1 },
                { name: 'Deal quickly closed ' , ratings: 1 },
                { name: 'Good service ' , ratings: 1 },
                { name: 'Fulfils agreements ' , ratings: 1 },
                { name: 'Fast shipping ' , ratings: 1 },
                { name: 'Meets expectations ' , ratings: 1 },
                { name: 'Professional communication ' , ratings: 1 },
            ]
        }
    },
    watch:{
        // user_id(){
        //     this.loadUserInfo();
        // }
    },
    mounted(){
        this.$root.$refs.userLeftMenu = this
        console.log(this.user_id , 'LEFT MENU')
        if(this.user_id && !this.user_info){
            console.log('should fetch')
            this.loadUserInfo();
        }

        $(".user-report-option:checkbox").click(function(){

            $(".user-report-option").not(this).prop('checked', false);
            $(this).attr("checked",true);
        });


    },
    methods:{
        loadUserInfo(){
            this.loading = true

            axios.post('/user_details', {
                id: this.user_id,
                current_user_id: this.$store.getters.isAuthenticated.id,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then( res => {
                console.log(`Simple response`, res)
            })


            axios.post('/v1/user_details', {
                id: this.user_id,
                current_user_id: this.$store.getters.isAuthenticated.id,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
            // console.log(res.data)
            console.log(`v1 response`, res)

            this.loading = false

            if(res.data.status ==  'success'){
                this.user_info = res.data.user_detail
                this.review = res.data.user_detail.review
                if(this.review){
                    this.fillRewviewForm()
                }
            }else{
                console.log(res)
                this.$toastr.error( res.data.message );
            }

            }).catch( err => {
                this.loading = false
                this.$toastr.error('An unexpected error occurred');
            })

        },
        handleReportCase(event , reason){
            if(event.target.checked){
                this.report_case = reason;
            }else{
                this.report_case = "";
            }
        },
        submitReportPost(){
            if(this.report_case && !this.reporting_post){
                this.reporting_post = true;
                axios.post('/v1/post_report', {
                    user_id: this.$store.getters.isAuthenticated.id,
                    post_id: this.user_id,
                    reason: this.report_case,
                    description: this.report_case_description,
                    type: '0',
                },{
                    headers:{
                        Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                    }
                }).then( res => {

                    console.log(res.data , res.data.status ==  'success' , res.data.status)

                    if(res.data.status ==  'success'){
                        // this.user_info = res.data.user_detail
                        this.reporting_post = false
                        this.report_case = "";
                        this.report_case_description = "";
                        $('.user-report-option').prop('checked' , false)
                        this.$toastr.success('User reported successfully');
                        $('#reportUserModal').modal('hide')
                    }else{
                        console.log(res)
                        this.$toastr.error( res.data.message );
                        this.reporting_post = false
                    }

                }).catch( err => {
                    this.$toastr.error('An unexpected error occurred');
                    this.reporting_post = false
                });
            }
            // console.log(reason)
        },

        reviewUser(){
            this.rating_user = true
            // let ratings = [
            //     this.review_options[0].ratings,
            //     this.review_options[1].ratings,
            //     this.review_options[2].ratings,
            //     this.review_options[3].ratings,
            //     this.review_options[4].ratings,
            //     this.review_options[5].ratings,
            //     this.review_options[6].ratings,
            //     this.review_options[7].ratings,
            //     this.review_options[8].ratings,
            //     this.review_options[9].ratings,
            // ]

            let ratings = {
                product_as_described : this.review_options[0].ratings,
                clear_pictures : this.review_options[1].ratings,
                responds_quickly: this.review_options[2].ratings,
                friendly : this.review_options[3].ratings,
                deal_quickly_closed: this.review_options[4].ratings,
                good_service: this.review_options[5].ratings,
                fulfils_agreements: this.review_options[6].ratings,
                fast_shipping: this.review_options[7].ratings,
                meets_expectations: this.review_options[8].ratings,
                professional_communication: this.review_options[9].ratings,
            }

            axios.post('/v1/store_review' , {
                reviewer_id: this.$store.getters.isAuthenticated.id,
                reviewed_id: this.user_info.id,
                ratings : JSON.stringify(ratings),
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then( res => {
                $('#rateModal').modal('hide')
                this.rating_user = false
                this.$refs.show_reviews.getReviews();
                console.log(res)
                this.user_info.has_reviewed = true
                // this.review_options.map(option => {
                //     option.ratings = 1;
                // });
            }).catch( err => {
                this.rating_user = false
                console.log(err)
            })

        },
        fillRewviewForm(){
            console.log(this.review.ratings , this.review)
            let review = this.review;
            this.review_options[0].ratings = review.ratings.product_as_described;
            this.review_options[1].ratings = review.ratings.clear_pictures;
            this.review_options[2].ratings = review.ratings.responds_quickly;
            this.review_options[3].ratings = review.ratings.friendly;
            this.review_options[4].ratings = review.ratings.deal_quickly_closed;
            this.review_options[5].ratings = review.ratings.good_service;
            this.review_options[6].ratings = review.ratings.fulfils_agreements;
            this.review_options[7].ratings = review.ratings.fast_shipping;
            this.review_options[8].ratings = review.ratings.meets_expectations;
            this.review_options[9].ratings = review.ratings.professional_communication;

        //     this.review.ratings.map( rating => {
        //         console.log(rating , 'rating' )
        //     })
        }

    }
}
</script>

<style>
.user-info{
    position: relative;
}
/* .user-info .other-options .options-box .option{
    padding: 3px 15px;
    width: 150px;
    border-bottom: 1px solid #ececec;
}
.user-info .other-options .options-box .close-btn{
    position: absolute;
    right: 7px;
    top: 0;
    font-size: 12px;

}
.user-info .other-options .options-box{
    position: absolute;
    padding-top: 15px;
    top: 5px;
    right: 0px;
    border-radius: 5px;
    box-shadow: 0 0 4px 0px #d6d6d6;
}
*/
.user-info .other-options{
    position: absolute;
    right: 0;
    top: 6px;
    color: #4e6a80;
}

@media screen and (max-width:768px) {
    .other-user-profile{
        margin-bottom: 10px;
    }
    .review-user-modal .small-text{
        font-size: 15px;
    }
}
</style>
