<template>

<div class="container-fluid user-dashboard">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 desktop-only">
            <left-dashboard></left-dashboard>
        </div>



        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 profile-form-container">


        <div class="bz-dashboard-page-header">
            <div class="bz-page-header-title text-center">
                My Account
            </div>
            <div class="small-text" ></div>
        </div>

            <div class="my-account-page" id="app">

                <div class="section-heading">{{$store.getters.getUserStats.plan}}</div>

                <div class="bz-white-box">

                    <div class="stats-box">
                        <div class="stats-box-heading">Used of live ads</div>
                        <div class="percentage-svg" v-if="account_usage" >
                        <!-- <svg class="radial-progress" data-percentage="02" viewBox="0 0 80 80">
                            <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                            <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 39.58406743523136;"></circle>
                            <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">0%</text>
                        </svg> -->

                        <!-- ebeaea -->
                        <!-- d11d1d -->

                        <!-- <progress-circle
                            :completed-steps="account_usage"
                            :total-steps="100"
                            start-color="#d11d1d"
                            stop-color="#d11d1d"
                            circle-color="#ebeaea"
                            :circle-width="15"
                            :diameter="200"
                        > {{account_usage}}% </progress-circle> -->
<!--
                        <vue-circle
                            :progress="account_usage"
                            :size="200"
                            line-cap="butt"
                            :fill='{ color: "#d11d1d" }'
                            empty-fill="#ebeaea"
                            :animation-start-value="0.0"
                            :start-angle="45"
                            insert-mode="append"
                            :thickness="15"
                            :show-percent="true"
                            >
                        </vue-circle>
                         -->
                        <!-- <progress-bar type="circle" ref="progressCircle" :options="options"></progress-bar> -->
                            <vue-ellipse-progress
                                :loading="loading"
                                :progress="account_usage"
                                color="#d11d1d"
                                colorFill="transparent"
                                emptyColor="#ebeaea"
                                emptyColorFill="transparent"
                                :size="170"
                                fontSize="32px"
                                :thickness="20"
                                :emptyThickness="20"
                                mode="normal"
                                line="butt"
                            >
                            {{account_usage}}%
                            </vue-ellipse-progress>
                            <!-- <vue-ellipse-progress
                            :progress="50"
                            :angle="-90"
                            color="#d11d1d"
                            colorFill="#d11d1d"
                            emptyColor="#ebeaea"
                            emptyColorFill="#ebeaea"
                            :size="300"
                            :thickness="10"
                            emptyThickness="10%"
                            lineMode="in 10"
                            :legend="true"
                            :legendValue="180"
                            legendClass="legend-custom-style"
                            dash="60 0.9"
                            animation="reverse 700 400"
                            :noData="false"
                            :loading="false"
                            fontColor="white"
                            :half="false"
                            :gap="10"
                            dot="10 blue"
                            reverse
                            fontSize="5rem">

                            <span slot="legend-value">/200</span>
                            <p slot="legend-caption">GOOD JOB</p>

                            </vue-ellipse-progress> -->

                        <!-- <svg class="radial-progress" :data-percentage="account_usage" viewBox="0 0 80 80">
                            <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                            <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 39.58406743523136;"></circle>
                            <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">{{account_usage}}%</text>
                        </svg> -->
                    </div>

                    <div class="stats-box-heading">live ads: <span class="value">{{account_details.ads_count}}</span> </div>
                    <div class="stats-box-heading">remaining:  <span class="value" v-if="account_details.total_ads">{{ account_details.total_ads}}</span></div>
                    <!-- <div class="stats-box-heading">remaining:  <span class="value">{{ total_ads - account_details.ads_count}}</span></div> -->


                    <div class="text-center">
                        <a href="javascript:;" data-toggle="modal" data-target="#upgradeAccountModal" class="upgrade-account-btn">Upgrade account</a>
                        <a href="#" class="get-more-view-link">Get more views and likes now</a>
                    </div>

                </div>

                </div>

                <div class="section-heading">Account Overview</div>

                <div class="bz-white-box py-2">

                    <div class="account-details">
                        <div class="account-detail">
                            <div class="account-detail-name">Account Type</div>
                            <div class="account-detail-value">{{$store.getters.getUserStats.plan}}</div>
                        </div>
                        <div class="account-detail">
                            <div class="account-detail-name">Limits of live ads</div>
                            <div class="account-detail-value" v-if="account_details.total_free_ads">{{parseInt(account_details.total_paid_ads) + parseInt(account_details.total_free_ads) - parseInt(account_details.ads_count)}}</div>
                        </div>
                        <div class="account-detail">
                            <div class="account-detail-name">limit ads</div>
                            <div class="account-detail-value" v-if="account_details.ads_count">{{ account_details.ads_count <= 50 ? 50 - account_details.ads_count  : 0}}</div>
                        </div>
                        <div class="account-detail">
                            <div class="account-detail-name">paid ads</div>
                            <div class="account-detail-value">{{account_details.ads_count > 50 ? account_details.total_paid_ads + 50 - account_details.ads_count : account_details.total_paid_ads}}</div>
                        </div>
                        <div class="account-detail">
                            <div class="account-detail-name">deleted ads</div>
                            <div class="account-detail-value">{{account_details.delete_count}}</div>
                        </div>
                    </div>
                </div>








            <div class="modal fade bd-example-modal-lg" id="upgradeAccountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered upgrade-credit-packages-modal" role="document">

                <div class="modal-content">
                    <div class="bz-modal-header">
                        <div class="bz-modal-header-title">Upgrade Your Account</div>
                    </div>
                    <div class="modal-body p-0" >

                        <div class="upgrade-account">
                            <div class="package-title">
                                Upgrade your account to get <span>More</span> live <span> Ads </span>
                            </div>

                            <upgrade-packages @package-selected="packageSelected"></upgrade-packages>
                        </div>

                    </div>
                </div>
                </div>
            </div>




            </div>

        </div>
    </div>
</div>




</template>

<script>
import loader from '../../partials/loader.vue'
// import { ProgressCircle } from 'vue-progress-circle'
// import VueCircle from 'vue2-circle-progress'
// import VueProgress from 'vue-progress'
// import VueEllipseProgress from 'vue-ellipse-progress';

export default {
  components: { loader },

    mounted(){
        this.loadAccountDetails()
        // this.$refs.progressCircle.animate(1.0)
    },
    data(){
        return{
            loading: false,
            ads: [],
            account_details: '',
            options: {
                color: '#007AFF',
                strokeWidth: 2,
                svgStyle: {
                    display: 'block',
                    width: '200px'
                },

            }

        }
    },
    computed:{
        total_ads(){

            let allowed_total_ads = 50;
            if(this.$store.getters.getUserStats.plan == 'Bronze Account'){
                allowed_total_ads = 100;
            }
            if(this.$store.getters.getUserStats.plan == 'Silver Account'){
                allowed_total_ads = 200;
            }
            if(this.$store.getters.getUserStats.plan == 'Gold Account'){
                allowed_total_ads = 300;
                // total_ads = 950;
            }
            if(this.$store.getters.getUserStats.plan == 'Diamond Account'){
                allowed_total_ads = 500;
                // total_ads = 950;
            }

            return allowed_total_ads

        },
        account_usage(){
            if(this.account_details.ads_count){
                var progress = Math.round((this.account_details.ads_count) / (parseInt(this.account_details.total_paid_ads) + parseInt(this.account_details.total_free_ads)) * 100);
                // var progress = Math.round((this.account_details.ads_count) / parseInt(this.account_details.total_paid_ads) * 100);
                // this.$refs.circle.animate(1.0)
                return progress;

            }else{
                return 0
            }
        }
    },
    methods:{

        loadAccountDetails(){
            this.loading = true;
            axios.post('/v1/my_account', {
                user_id: this.$store.getters.isAuthenticated.id,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
            console.log(res.data)
            if(res.data.status ==  'success'){
                this.account_details = res.data.data
                this.loading = false
                this.account_details.total_paid_ads = parseInt(this.account_details.total_paid_ads);
            }else{
                console.log(res)
                this.loading = false
                this.$toastr.error( res.data.message );
            }
            }).catch( err => {
                this.loading = false
                // this.$toastr.error('An unexpected error occurred');
            })

        },
        packageSelected(plan){
            $('#upgradeAccountModal').modal('hide');
            this.$router.push({ name: "payment method", params: {_plan: plan}} );
            // console.log(plan , 'sSd')
        },
    }
}
</script>


<style scoped>

    svg.radial-progress {
        height: auto;
        max-width: 200px;
        padding: 1em;
        transform: rotate(-90deg);
        width: 100%;
      }

      svg.radial-progress circle {
        fill: rgba(0,0,0,0);
        stroke: #d11d1d;
        stroke-dashoffset: 219.91148575129;
        stroke-width: 10;
      }

      svg.radial-progress circle.incomplete {
          stroke: #ebeaea;
         }

      svg.radial-progress circle.complete { stroke-dasharray: 219.9; }
      /* svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; } */

      svg.radial-progress text {
        fill: rgb(0, 0, 0);
        text-anchor: middle;
      }
.percentage-svg{
    text-align: center;
}

@media (min-width: 992px){
    .upgrade-packages-modal{
        max-width: 990px !important;
    }
}


</style>
