<template>

<div class="container-fluid user-dashboard">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 desktop-only">
            <left-dashboard></left-dashboard>
        </div>



            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 profile-form-container"><div class="dashboard" >

            <div class="bz-dashboard-page-header">
                <div class="bz-page-header-title text-center">
                    Blocked Users ({{blocked_list.length}})
                </div>
                <div class="small-text" ></div>
            </div>

            <div class="follow-list">

            <div class="loading-skeliton" v-if="loading">
                <div class="follow-list-item d-block" v-for="index in 8" :key="index" >
                    <b-skeleton animation="wave" width="85%"></b-skeleton>
                    <b-skeleton animation="wave" width="55%"></b-skeleton>
                    <b-skeleton animation="wave" width="70%"></b-skeleton>
                </div>
            </div>


                <div class="follow-list-item" v-for="user in blocked_list" :key="user.id" >

                    <div class="follow-list-item-image-box">

                        <img v-if="user && user.profile_image" :src="user.profile_image | serverPath" />
                        <!-- <img src="/bazar/user-avatar.jpg" v-else /> -->
                        <img v-else src="/bazar/dashboard-icons/userimage.png" />

                    </div>

                    <div class="follow-list-item-user-info">
                        <div class="user-name">{{user.name}}</div>
                        <div class="user-posts">{{user.ads_count}} Posts</div>
                    </div>
                    <div class="follow-list-item-btns">
                        <a href="javascript:;" @click="unblockUser(user)" class="following" >
                            <loader v-if="unblocking == user" ></loader>
                            <span v-else>Unblock</span>
                        </a>
                    </div>
                </div>


                <no-data-box message="No Blocked Users" icon="/bazar/dashboard-icons/blocked-users.png" v-if="!loading && blocked_list.length == 0"></no-data-box>

                <!-- <div class="bz-white-box"  v-if="!loading && blocked_list.length == 0" >
                    <div class="no-data-message-box">
                        No blocked users
                    </div>
                </div> -->

                <!-- <div class="follow-list-item">

                    <div class="follow-list-item-image-box">
                        <img src="/bazar/user-avatar.jpg" />
                    </div>

                    <div class="follow-list-item-user-info">
                        <div class="user-name">Muhammad</div>
                        <div class="user-posts">12 Posts</div>
                    </div>
                    <div class="follow-list-item-btns">
                        <a href="#" class="following" > Following </a>
                    </div>
                </div> -->


                </div>

            </div>
        </div>
    </div>
</div>




</template>

<script>
import loader from '../../partials/loader.vue'
export default {
  components: { loader },

    mounted(){
        this.loadBlockedUsers();

        firebase.app()
        var database = firebase.database();

    },
    data(){
        return{
            loading: false,
            following_process: "",
            unblocking: "",
            blocked_list: [],
        }
    },
    methods:{

        loadBlockedUsers(){
            this.loading = true;
            axios.post('/v1/blocked_list', {
                // user_id: 1,
                // index: 5,
                user_id: this.$store.getters.isAuthenticated.id,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
            console.log(res.data)
            if(res.data.status ==  'true'){
                this.blocked_list = res.data.data
            }
                this.loading = false
            }).catch( err => {
                this.loading = false
                this.$toastr.error('An unexpected error occurred');
            })

        },

        unblockUser(user){
            if(!this.unblocking){

            var _block = []

            _block['blockeduser' + user.id] = false;
            firebase.database().ref('Block/user' + user.id + '/user' + this.$store.getters.isAuthenticated.id).set({
                ..._block
            })
            // _block['blockeduser' + this.$store.getters.isAuthenticated.id] = false;
            // firebase.database().ref('Block/user' + this.$store.getters.isAuthenticated.id + '/user' + user.id).set({
            //     ..._block
            // })

            this.unblocking = user;
            axios.post('/v1/block_user', {
                block_id: user.id,
                type: 'unblock',
                user_id: this.$store.getters.isAuthenticated.id,
            },{
                headers:{
                        Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
                // console.log(res.data)
                this.unblocking = ''

            if(res.data.status ==  'true'){
                this.blocked_list.splice( this.blocked_list.indexOf(user) , 1 )
            }

            }).catch( err => {
                    this.unblocking = ''
                this.$toastr.error('An unexpected error occurred');
            })
            }

        },

    }
}
</script>
