<template>

<div class="container-fluid user-dashboard">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 desktop-only">
            <left-dashboard></left-dashboard>
        </div>



            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 profile-form-container"><div class="dashboard" >

            <div class="bz-dashboard-page-header">
                <div class="bz-page-header-title text-center">
                    Followers ({{$store.getters.getUserStats.followers}})
                </div>
                <div class="small-text" ></div>
            </div>

            <div class="follow-list">

            <!-- <div class="loading-skeliton" v-if="loading">
                <div class="follow-list-item" v-for="index in 8" :key="index" >
                    <b-skeleton animation="wave" width="85%"></b-skeleton>
                    <b-skeleton animation="wave" width="55%"></b-skeleton>
                    <b-skeleton animation="wave" width="70%"></b-skeleton>
                </div>
            </div> -->


                <div class="follow-list-item cursor-pointer" @click="gotoPage(follower)" v-for="follower in followers" :key="follower.id" >

                    <div class="follow-list-item-image-box">
                            <!-- :src="follower.profile_image | serverPath"  -->
                        <img
                            v-if="follower && follower.profile_image"
                            :src="$root.isValidURL(follower.profile_image) ? follower.profile_image : follower.profile_image | rootServerPath"
                            @error="$event.target.src = '/bazar/default-user-avatar.png'" />
                        <img src="/bazar/default-user-avatar.png" v-else />
                    </div>

                    <div class="follow-list-item-user-info">
                        <div class="user-name"> {{follower.name}} </div>
                        <div class="user-posts">{{follower.ads_count}} Posts</div>
                    </div>
                    <div class="follow-list-item-btns">
                        <button href="#" class="following" :disabled="following_process == follower" @click="follow(follower)" v-if="follower.followstatus == 'YES'" >
                            <loader v-if="following_process == follower" ></loader>
                            <span v-else>Following</span>
                        </button>
                        <button href="#" class="follow" :disabled="following_process == follower" @click="follow(follower)"  v-if="follower.followstatus == 'NO'" >
                            <loader v-if="following_process == follower" ></loader>
                            <span v-else>Follow</span>
                        </button>
                        <!-- <button href="#" class="follow" v-if="follower.followstatus == 'NO'" > Follow </button> -->
                    </div>
                </div>

                <div v-if="loading">
                    <loading-single-ad  v-for="index in 4" :key="index" ></loading-single-ad>
                </div>

                <no-data-box message="No Followers Found" icon="/bazar/dashboard-icons/followers.png" v-if="!loading && followers.length == 0"></no-data-box>


                <Intersect v-if="!no_more_products" @enter="loadMoreFollowers" @leave="pageEnd('Leave')"  >
                    <div></div>
                </Intersect>

                <!-- <div class="follow-list-item">

                    <div class="follow-list-item-image-box">
                        <img src="/bazar/user-avatar.jpg" />
                    </div>

                    <div class="follow-list-item-user-info">
                        <div class="user-name">Muhammad</div>
                        <div class="user-posts">12 Posts</div>
                    </div>
                    <div class="follow-list-item-btns">
                        <a href="#" class="following" > Following </a>
                    </div>
                </div> -->


                </div>

            </div>
        </div>
    </div>
</div>




</template>

<script>
import loader from '../../partials/loader.vue'
export default {
  components: { loader },

    mounted(){
        this.loadMyFollowers();
    },
    data(){
        return{
            loading: false,
            no_more_products: false,
            following_process: "",
            index: 0,
            followers: [],
        }
    },
    methods:{

        loadMyFollowers(){

        if(!this.loading){
            this.loading = true;
            axios.post('/v1/my_followers', {
                index: this.index ,
                user_id: this.$store.getters.isAuthenticated.id,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
            // console.log(res.data)

            this.loading = false

            // console.log(res.data.data.length , res.data.data.length == "0" , res.data.data.length == 0);

            if(res.data.status ==  'success' && res.data.data.length > 0){

                this.followers.push(...res.data.data)
                this.index = this.index + 1;

            }else if(res.data.data.length == 0){
                this.no_more_products = true;
            }
            else{
                // console.log(res)
                // this.loading = false
                this.$toastr.error( res.data.message );
            }
            }).catch( err => {
                this.loading = false
                this.$toastr.error('An unexpected error occurred');
            })
        }
        },
        loadMoreFollowers(){
            // if(this.followers.length < this.$store.getters.getUserStats.followers){
                this.loadMyFollowers()
            // }
        },
        follow(follower){
            console.log(follower)
            this.following_process = follower
            axios.post('/v1/follow', {
                following_id: follower.user_id,
                user_id: this.$store.getters.isAuthenticated.id,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
            // console.log(res.data)
            if(res.data.status ==  'success'){
                this.following_process = ''
                if(res.data.message ==  'Unfollow Successfully'){
                    follower.followstatus = 'NO';
                }else{
                    follower.followstatus = 'YES';
                }
            }else{
                console.log(res)
                this.$toastr.error( res.data.message );
                this.following_process = ''
            }

            }).catch( err => {
                this.$toastr.error('An unexpected error occurred');
                this.following_process = ''
            })

        },
        pageEnd(msg){
            console.log(msg)
        },

        gotoPage(follower){
            if(!this.following_process){
                this.$router.push('/user/' + follower.signupid + '/ads')
            }

        },

        isUrl(s) {
            var regexp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/
            return regexp.test(s);
            },
        fetchURL(image){

            let url;

            console.log(image)
            console.log(this.isUrl(image));

            // let res = image.match(/(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g);
            // console.log(res !== null , 'URL CHECK')

            try {
                url = new URL(image);
                // console.log('is url')
                return url.href;
            } catch (_) {
                // console.log('is not url')
                // return false;
                return this.$root.virtualmin_server + 'public/images/' + image;
            }

            // console.log(url)

            // return url.protocol === "http:" || url.protocol === "https:";
        }
        // followNow(follower){
        //     this.following_process = true;
        //     axios.post('/v1/my_followers', {
        //         user_id: 1,
        //         // index: 5,
        //         // user_id: this.$store.getters.isAuthenticated.id,
        //     },{
        //         headers:{
        //             Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
        //         }
        //     }).then (res => {
        //     // console.log(res.data)
        //     if(res.data.status ==  'success'){
        //         this.following_process = false
        //         // follower.followstatus = 'YES'
        //     }else{
        //         console.log(res)
        //         this.following_process = false
        //         this.$toastr.error( res.data.message );
        //     }
        //     }).catch( err => {
        //         this.following_process = false
        //         this.$toastr.error('An unexpected error occurred');
        //     })


        // }



    }
}
</script>
