<template>

<div class="container-fluid user-dashboard">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 desktop-only">
            <left-dashboard></left-dashboard>
        </div>



            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 profile-form-container"><div class="dashboard" >

            <div class="bz-dashboard-page-header">
                <div class="bz-page-header-title text-center">
                    Following Ads ({{$store.getters.getUserStats.following_adcount}})
                </div>
                <div class="small-text" ></div>
            </div>


            <div class="dashboard" >


            <div class="ads-listing">
                <single-ad v-for="ad in ads" :key="ad.id" :_ad="ad"></single-ad>

                <div v-if="loading">
                    <loading-single-ad  v-for="index in 4" :key="index" ></loading-single-ad>
                </div>


                <no-data-box message="No Ads Found" icon="/bazar/dashboard-icons/advertising.png" v-if="!loading && ads.length == 0"></no-data-box>

            </div>

            <Intersect v-if="!no_more_products" @enter="loadMoreAds" @leave="pageEnd('Leave')"  >
                <div></div>
            </Intersect>


            <!-- <div class="loading-skeliton" v-if="loading">
                <div class="ads-listing" >
                </div>
            </div> -->

    </div>

    </div>
</div>
    </div>
</div>




</template>

<script>
import loader from '../../partials/loader.vue'
import LoadingSingleAd from './partials/loadingSingleAd.vue'
export default {
  components: { loader, LoadingSingleAd },

    mounted(){
        this.loadMyAds()
        // this.loadRecentViewedAds()
    },
    data(){
        return{
            loading: false,
            no_more_products: false,
            fav_loading: '',
            ads: [],
            index: -1,
        }
    },
    methods:{
        loadMyAds(){
            this.loading = true;
            this.index = this.index + 1
            axios.post('/v1/my_followingsads', {
                index: this.index,
                user_id: this.$store.getters.isAuthenticated.id,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
                
            this.loading = false
            // console.log(res.data.data.length )
            if(res.data.status ==  'success' && res.data.data.length > 0){

                this.ads.push(...res.data.data)

            }else if(res.data.message == "No data"  || res.data.data.length == 0){

                this.no_more_products = true;
                
            }else{
                console.log(res)
                this.loading = false
                this.$toastr.error( res.data.message );
            }
            }).catch( err => {
                this.loading = false
                this.$toastr.error('An unexpected error occurred');
            })

        },
        loadRecentViewedAds(){
            this.loading = true;
            this.index = this.index + 1
            axios.post('/v1/recent_view', {
                user_id: 4,
                index: this.index,
                // user_id: this.$store.getters.isAuthenticated.id,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {

            this.loading = false
            console.log(res.data.message)

            if(res.data.status ==  'success'){

                this.ads.push(...res.data.data)

            }else if(res.data.message == "No data" ){

                this.no_more_products = true;

            }else{
                console.log(res)
                // this.loading = false
                // this.$toastr.error( res.data.message );
            }
            }).catch( err => {
                this.loading = false
                this.$toastr.error('An unexpected error occurred');
            })

        },

        loadMoreAds(){
            if(!this.loading){
                this.loadMyAds();
            }
        },

        pageEnd (msg){
            console.log(msg)
        }

        // favoriteAd(ad){
        //     this.fav_loading = ad
        //     axios.post('/v1/ad_view', {
        //         post_id: ad.id,
        //         user_id: this.$store.getters.isAuthenticated.id,
        //         type: 'favorite'
        //     },{
        //         headers:{
        //             Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
        //         }
        //     }).then (res => {
        //     // console.log(res.data)
        //     this.fav_loading = ''

        //     if(res.data.data.favorite ==  '1'){
        //         ad.fav_stattus = "Yes"
        //     }else{
        //         ad.fav_stattus = "No"
        //     }
        //     }).catch( err => {
        //         this.fav_loading = ''
        //         this.$toastr.error('An unexpected error occurred');
        //     })
        // },


      
    }
}
</script>