<style>
.invite-freinds-btn{
    background-color: #ffffff;
    padding: 7px 15px;
    border-radius: 5px;
    color: #da0000;
    box-shadow: 0 2px 6px 0px #31313147;
    font-size: 16px;
    min-width: 115px;
    border: none;
    outline: none;
}
</style>

<template>

<div class="container-fluid user-dashboard">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 desktop-only">
            <left-dashboard></left-dashboard>
        </div>



            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 profile-form-container"><div class="dashboard" >

            <div class="bz-dashboard-page-header">
                <div class="bz-page-header-title text-center">
                    Invite Freinds
                </div>
                    <button class="invite-freinds-btn" type="button"  @click="openInviteModal" > <i class="fas fa-plus"></i> Invite </button>
            </div>

            <div class="follow-list">

            


                

                     <no-data-box message="No Users Found" icon="/bazar/dashboard-icons/users.png"></no-data-box>
    
                    <!-- <div class="follow-list-item">

                    <div class="follow-list-item-image-box">
                        <img src="/bazar/user-avatar.jpg" />
                    </div>

                    <div class="follow-list-item-user-info">
                        <div class="user-name">Muhammad</div>
                        <div class="user-posts">12 Posts</div>
                    </div>
                    <div class="follow-list-item-btns">
                        <a href="#" class="following" > Following </a>
                    </div>
                </div> -->


                </div>

            </div>
        </div>
    </div>



            <div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="passwordChangeModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Invite Your Freind</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        
                    <form @submit.prevent="inviteFreind">
                        <div class="invite-form-conainer">
                            <input class="dashboard-input" type="text" required v-model="invite_name" placeholder="Name" />

                            <input class="dashboard-input mt-3" type="email" required v-model="invite_email" placeholder="Email" />
                            
                            <button type="submit" :disabled="inviting" class="bz-sqaure-btn bz-btn-red full-mobile update-password-btn float-right mt-3">
                                <loader v-if="inviting"></loader>
                                <span v-else>Invite</span>
                            </button>
                        </div>
                    </form>
                    </div>
                </div>
                </div>
            </div>

</div>




</template>

<script>
import loader from '../../partials/loader.vue'
export default {
  components: { loader },

    mounted(){
        // this.loadBlockedUsers();
    },
    data(){
        return{
            loading: false,
            inviting: false,
            invite_email: "",
            invite_name: "",
            following_process: "",
            unblocking: "",
            blocked_list: [],
        }
    },
    methods:{
        openInviteModal(){
            $('#inviteModal').modal('show')
        },
        inviteFreind(){
            this.inviting = true
            console.log(this.invite_email)

            axios.post('/invitation_email' , {
                // email: 'saadanjum047@gmail.com',
                email: this.invite_email,
                sender: this.$store.getters.isAuthenticated.name,
                receiver: this.invite_name,
                reffer_id: this.$store.getters.isAuthenticated.id,
                link: window.location.origin + '/accept-invitation?name='+ this.invite_name +'&email='+ this.invite_email +'&reffer_id='+this.$store.getters.isAuthenticated.id,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then( res=> {
                
                this.inviting = false
                // console.log(res)
                if(res.data.status == "true"){
                    $('#inviteModal').modal('hide');
                }

            }).catch( err => {
                
                console.log(err.response.data.message)
                this.inviting = false
                this.$toastr.error('An unexpected error occurred');

            })
        }
    }
}
</script>