<template>

<div class="container-fluid user-dashboard">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 desktop-only">
            <left-dashboard></left-dashboard>
        </div>



        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 profile-form-container">

            <div class="bz-dashboard-page-header">
                <div class="bz-page-header-title text-center">
                    Edit Profile
                </div>
                <div class="small-text" ></div>
            </div>

        <div class="profile-page">

            <loader :small="false" class="bz-text-red" v-if="loading" ></loader>

            <div class="profile-image">
                <img :src="user_image"  />

                <input style="display: none" accept="image/*" type="file" id="profile-imaeg" ref="fileInput" @change="imageSelected">

                <a href="javascript:;" @click="$refs.fileInput.click()" class="change-photo-text">Change Your Photo</a>
            </div>


            <div class="user-form">
                
                <form @submit.prevent="updateProfile" >
                    <div class="form-group">
                        <input class="dashboard-input" v-model="name"  required placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <input class="dashboard-input" v-model="email" disabled required  placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <input class="dashboard-input" v-model="phone" required  placeholder="Phone" />
                    </div>
                    <div class="form-group">
                        <button type="submit" :disabled="updating" class="dashboard-white-btn">
                            <loader v-if="updating" ></loader>
                            <span v-else>Save</span>
                            </button>

                        <button type="button" data-toggle="modal" data-target="#passwordChangeModal" class="dashboard-white-btn mt-3">Change Your Password</button>
                    </div>
                </form>
                
                
                
                
                <div class="build-trust">
                    <div class="build-trust-text">Build Trust</div>

                    <div class="form-group">
                        <button class="dashboard-white-btn google-option">
                            <loader class="bz-text-red" v-if="verifying_google"></loader>
                            <img src="/bazar/google.png" />
                            Google

                            <div class="custom-control custom-switch float-right">
                                <input :checked="user_info.verify_google == 'true'" @change="verifySocialAccount('google')" type="checkbox" class="custom-control-input" id="google-switch">
                                <label class="custom-control-label" for="google-switch"></label>
                            </div>

                        </button>
                    </div>
                    <div class="form-group">

                        <button class="dashboard-white-btn facebook-option">
                            <loader class="bz-text-red" v-if="verifying_facebook"></loader>

                            <img src="/bazar/facebook.png" />
                            Facebook

                            <div class="custom-control custom-switch float-right">
                                <input :checked="user_info.verify_facebook == 'true'" @click="verifySocialAccount('fb')" type="checkbox" class="custom-control-input" id="facebook-switch">
                                <label class="custom-control-label" for="facebook-switch"></label>
                            </div>
                            
                            </button>
                    </div>
                </div>

                    
            </div>



            <div class="modal fade" id="passwordChangeModal" tabindex="-1" role="dialog" aria-labelledby="passwordChangeModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Change Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <form @submit.prevent="updatePassword">
                        <div class="modal-body">
                        
                            <div class="form-group">
                                <input class="dashboard-input" type="password" required v-model="reset_password.password" placeholder="Type Password" />
                            </div>
                            <div class="form-group">
                                <input class="dashboard-input" type="password" required v-model="reset_password.confirm_password" placeholder="Re-Type Password" />
                            </div>

                        </div>
                        <div class="modal-footer">
                        <button type="submit" class="bz-sqaure-btn bz-btn-red full-mobile update-password-btn">
                                <loader v-if="password_updating"></loader>
                                <span v-else>Update</span>
                            </button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            
            </div>
            
        </div>
    </div>
</div>




</template>

<script>
import loader from '../../partials/loader.vue'
export default {
  components: { loader },

    mounted(){
        this.loadUserInfo()
    },
    data(){
        return{
            user_info: '',
            updating: false,
            password_updating: false,
            verifying_google: false,
            verifying_facebook: false,
            loading: false,
            name: "",
            email: "",
            phone: "",
            reset_password:{
                password: "",
                confirm_password: "",
            },
            user_image: "/bazar/dashboard-icons/userimage.png",
            uploadedImage: "",
        }
    },
    methods:{
        loadUserInfo(){

            this.loading = true
            axios.post('/v1/user_details', {
                id: this.$store.getters.isAuthenticated.id,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {

            this.loading = false

            console.log(res.data)
            if(res.data.status ==  'success'){
                this.user_info = res.data.user_detail
                this.name = this.user_info.name
                this.email = this.user_info.email
                this.phone = this.user_info.phone_no

                if(this.user_info.profile_image){
                    // console.log(this.$root.data)
                    this.user_image = this.$root.virtualmin_server + '/public/images/' + this.user_info.profile_image;
                }

            }else{
                console.log(res)
                this.$toastr.error( res.data.message );
            }

            }).catch( err => {
                this.loading = false
                this.$toastr.error('An unexpected error occurred');
            })

        },

        updatePassword(){
            
            if(this.reset_password.password == this.reset_password.confirm_password){
            this.password_updating = true
            axios.post('/v1/reset_password', {
                email: this.email,
                password: this.reset_password.password,
            }).then (res => {

                if(res.data.status ==  'success'){
                    
                    this.password_updating = false
                    this.reset_password.password = ''
                    this.reset_password.confirm_password = ''

                    $('#passwordChangeModal').modal('hide')
                }else{
                    console.log(res)
                    this.password_updating = false
                    this.reset_password.password = ''
                    this.reset_password.confirm_password = ''
                    this.$toastr.error( res.data.message );
                }

            }).catch( err => {
                console.log(err)
                this.password_updating = false
                this.reset_password.password = ''
                this.reset_password.confirm_password = ''
                this.$toastr.error('An unexpected error occurred');

            });
            }else{
                this.$toastr.error('Password does not match');
            }

        },

        verifySocialAccount(type = ''){
            
            
            if(type){
            console.log(type)
            if(type == 'google'){
                this.verifying_google = true
                }else{
                this.verifying_facebook = true
            }
            axios.post('/v1/verify_social_account', {
                user_id: this.$store.getters.isAuthenticated.id,
                type: type,
                verify: 'true',
            }).then (res => {

                this.verifying_google = false
                this.verifying_facebook = false

                
                if(res.data.status ==  'success'){ 
                       
                    this.$root.$refs.leftDashboard.getProfileStats();

                }else{
                    console.log(res)
                }

            }).catch( err => {
                console.log(err)
                this.verifying_google = false
                this.verifying_facebook = false

                this.$toastr.error('An unexpected error occurred');
            });
            }
            

        },

        updateProfile(){

            this.updating = true;
            var fd = new FormData();
            fd.append('profile_image', this.uploadedImage)
            fd.append('verify_facebook', 'false')
            fd.append('verify_google', 'false')
            fd.append('name', this.name)
            fd.append('id', this.$store.getters.isAuthenticated.id)

            axios.post('/v1/update_profile', fd , {
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token,
                    'Content-Type': 'multipart/form-data',
                },
                // onUploadProgress: function(progressEvent) {
                //     uploadProgress = parseInt( Math.round((progressEvent.loaded / progressEvent.total) * 100))
                // }.bind(this),
            }).then (res => {
            console.log(res.data)
            if(res.data.status ==  'success'){
                this.user_info = res.data.data
                this.updating = false;
                this.$store.commit('profileUpdate' , this.user_info)

            }else{
                console.log(res)
                this.updating = false;
                this.$toastr.error( res.data.message );
            }

            }).catch( err => {
                this.updating = false;
                this.$toastr.error('An unexpected error occurred');
            })

        },






        imageSelected(event)
        {
            let file = event.target.files[0]
            if(!file) return;

            // console.log(file)
            var src = URL.createObjectURL(file);

            this.user_image = src;
            this.uploadedImage = file;

        },
    }
}
</script>