<template>

<div class="container-fluid user-dashboard">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 desktop-only">
            <left-dashboard></left-dashboard>
        </div>



        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 profile-form-container">

        <div class="bz-dashboard-page-header">
            <div class="bz-page-header-title text-center">
                My Wallet
            </div>
            <div class="small-text" ></div>
        </div>


        <div class="my-wallet-page" id="app">

                <div class="section-heading pb-0 ml-3">Balance</div>
                <div class="section-heading-small ml-3">{{ 'Today,' + new Date() | todayDate }}</div>
                <!-- <div class="section-heading-small ml-3">Today, 10 Jan</div> -->

                <div class="current-coins ml-3"> {{coins}} </div>
                
                
                
                
                <div class="row coins-details-row">
                        <div class="col-6">
                            <div class="wallet-coins-details-box">  
                                <img  src="/bazar/atm-card.png" />
                                <div class="big-text curser-pointer" data-toggle="modal" data-target="#buyCreditsModal" >
                                    
                                    Buy Credits
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="wallet-coins-details-box">  
                                
                                <img  src="/bazar/redeem.png" />
                                <div class="big-text curser-pointer" data-toggle="modal" data-target="#redeemModal" >
                                    
                                    Redeem
                                </div>
                            </div>
                        </div>
                    </div>
                



                <div class="transaction-list-heading">
                    Transaction List
                </div>

                <div class="wallet-transaction-list-box">

                    <div class="wallet-transaction-list" v-for="coin in coins_transactions" :key="coin.id">
                        <div class="wallet-transaction-list-item">
                            <div class="wallet-transaction-item-icon"> 
                                <img v-if="coin.type =='redeem' || coin.type =='upgrade'" src="/bazar/minus.png"/> 
                                <img v-if="coin.type !='redeem' && coin.type !='upgrade'" src="/bazar/plus1.png"/> 
                                
                            </div>
                            <div class="wallet-transaction-item-description">{{coin.tital}}</div>
                            <div class="wallet-transaction-item-time">{{coin.created_at | formatDifferenceDate}} </div>
                            <div class="wallet-transaction-item-coins" :class="{spent: coin.type =='redeem'|| coin.type =='upgrade' , gained: coin.type !='redeem' || coin.type !='upgrade'}" >{{coin.coins}} credit</div>
                        </div>
                        
                    </div>

                    <no-data-box  height="264px" message="No Transactions Found" icon="/bazar/dashboard-icons/wallet.png" v-if="!loading && coins_transactions.length == 0"></no-data-box>

                    <div class="ads-listing" v-if="loading">
                        <div class="ad-list-item">
                            <div v-for="index in 5" :key="index" class="ad-list-item-main-container d-block p-2">
                                <b-skeleton animation="wave" width="100%"></b-skeleton>
                            </div>
                        </div>
                    </div>
                    <Intersect v-if="!no_more_transactions" @enter="loadMoreAds" @leave="pageEnd('Leave')"  >
                        <div></div>
                    </Intersect>

                </div>





            <div class="modal fade" id="redeemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">        
                    <div class="modal-body">
                        <div class="redeem-modal">

                            <div class="redeem-modal-title">
                                <img  src="/bazar/redeem.png" />
                                Exchange your Coins
                            </div>

                            <div class="redeem-modal-input">
                                <input v-model="redeem_coins" class="dashboard-input" placeholder="Enter The Amount Of Coins" />
                            </div>

                            <div class="redeem-modal-small-text">
                                By Clicking on Redeem your Coins will be on your wallet as Credits
                            </div>
                            <button class="redeem-modal-button" :disabled="redeeming_coins" type="button" @click="redeemCoins">
                                <loader v-if="redeeming_coins"></loader>
                                <span v-else>Redeem</span>
                            </button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            






            <div class="modal fade bd-example-modal-lg" id="buyCreditsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered upgrade-credit-packages-modal" role="document">
                    
                <div class="modal-content">  
                    <div class="bz-modal-header">
                        <div class="bz-modal-header-title">Buy Credits Packages</div>
                    </div>
                    <div class="modal-body p-0" >

                        <credit-package @package-selected=packageSelected></credit-package>

                    </div>
                </div>
                </div>
            </div>


            </div>
            
        </div>
    </div>
</div>




</template>

<script>
import loader from '../../partials/loader.vue'
export default {
  components: { loader },

    mounted(){
        this.loadCoins()
    },
    data(){
        return{
            loading: false,
            no_more_transactions: false,
            redeeming_coins: false,
            ads: [],
            coins_transactions: [],
            coins: 0,
            index: 0,
            redeem_coins: '',
        }
    },
    methods:{
        
        loadCoins(){

            if(!this.loading){
                this.loading = true;
                // axios.post('/v1/get_mycoins', {
                axios.post('/v1/get_mycoins', {
                    type: 1,
                    index: this.index,
                    user_id: this.$store.getters.isAuthenticated.id,
                },{
                    headers:{
                        Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                    }
                }).then (res => {
                // console.log(res.data)
                this.loading = false
                this.index = this.index + 1;

                if(res.data.status ==  'success'){
                    this.coins_transactions.push(...res.data.data) 
                    this.coins = res.data.mycoins
                }else if(res.data.status == "fail"){
                    this.no_more_transactions = true;
                }             
                else{
                    console.log(res)
                    // this.loading = false
                    this.$toastr.error( res.data.message );
                }
                }).catch( err => {
                    this.loading = false
                    this.$toastr.error('An unexpected error occurred');
                })



                // axios.post('/v1/get_total_credits', {
                //     user_id: this.$store.getters.isAuthenticated.id,
                // },{
                //     headers:{
                //         Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                //     }
                // }).then (res => {
                // console.log(res.data)
                // }).catch( err => {
                //     this.loading = false
                //     this.$toastr.error('An unexpected error occurred');
                // })


                }
        },

        loadMoreAds(){
            this.loadCoins();
        },
        pageEnd(msg){
            console.log(msg)
        },
        refetchAllTransactions(){
            this.index = 0;
            this.coins_transactions = [];
            this.loadCoins();
        },
        redeemCoins(){

            if(this.redeem_coins){

                this.redeeming_coins = true;
                this.index = this.index + 1
                axios.post('/v1/redeem_coin', {
                    coin: this.redeem_coins,
                    user_id: this.$store.getters.isAuthenticated.id,
                },{
                    headers:{
                        Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                    }
                }).then (res => {
                    
                // console.log(res.data)
                this.redeeming_coins = false

                if(res.data.status ==  'success'){
                    $('#redeemModal').modal('hide')
                    // this.ads.push(...res.data.data)
                    // this.loadCoins();
                    this.redeem_coins = ''
                    this.refetchAllTransactions();
                }else{
                    console.log(res)
                    this.$toastr.error( res.data.message );
                }
                }).catch( err => {
                    this.redeeming_coins = false
                    this.$toastr.error('An unexpected error occurred');
                })
                
            }

        },
        packageSelected(plan){
            $('#buyCreditsModal').modal('hide');
            this.$router.push({ name: "payment method", params: {_plan: plan}} );
            // console.log(plan , 'sSd')
        }


      
    }
}
</script>