<template>
<div class="social-share-component">




<!-- Modal -->
<div class="modal fade" id="openAdShareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">

          <div class="social-media-share-container-top">
              Share this ad with others
          </div>
          <div v-if="ad" class="social-media-share-container">
            <ShareNetwork
                network="twitter"
                :url="fullUrl"
                :title="ad.ad_title"
                :description="ad.ad_description.substr( 0 , 100)"
                :media="this.ad.images && JSON.parse(this.ad.images).length ? JSON.parse(this.ad.images)[0].image : ''"
                :hashtags="`openbazar,${JSON.parse(ad.category)[0].value}`"
                >
                <img src="/bazar/share-icons/Twitter.png" />
            </ShareNetwork>

            <ShareNetwork
                network="facebook"
                :url="fullUrl"
                :title="ad.ad_title"
                :description="ad.ad_description.substr( 0 , 100)"
                :hashtags="`openbazar,${JSON.parse(ad.category)[0].value}`"
                >
                <img src="/bazar/share-icons/facebook.png" />
            </ShareNetwork>

            <ShareNetwork
                network="whatsapp"
                :url="fullUrl"
                :title="ad.ad_title"
                :description="ad.ad_description.substr( 0 , 100)"
                >
                <img src="/bazar/share-icons/whatsapp.png" />
            </ShareNetwork>

            <ShareNetwork
                network="skype"
                :url="fullUrl"
                :title="ad.ad_title"
                :description="ad.ad_description.substr( 0 , 100)"
                >
                <img src="/bazar/share-icons/Skype.png" />
            </ShareNetwork>

            <ShareNetwork
                network="email"
                :url="fullUrl"
                :title="ad.ad_title"
                :description="ad.ad_description.substr( 0 , 100)"
                >
                <img src="/bazar/share-icons/email.png" />
            </ShareNetwork>

          </div>

          <div class="social-media-share-link">
              <input placeholder="link" class="link-input" disabled :value="fullUrl" />
              <a href="javascript:;" class="link-copy-button" title="Copy Link" v-clipboard:copy="message"
                    v-clipboard:success="onCopy"
                    v-clipboard:error="onError"
                    type="button"
            >Copy Link</a>
          </div>

      </div>
    </div>
  </div>
</div>

</div>
</template>

<script>


export default {
    components:{
    },
    props:{
        ad : {

        }
    },
    watch:{
        ad(){

            this.message = window.location.origin + `/view-ad-details/${this.ad.id}`
            // this.message = window.location.origin + `/product/${this.ad.id}/view`;
            this.fullUrl = window.location.origin + `/view-ad-details/${this.ad.id}`
            // this.fullUrl = window.location.origin + `/product/${this.ad.id}/view`;
        }
    },
    methods:{
        openAdShareModal(){
            $('#openAdShareModal').modal('show')
        },
        onCopy: function (e) {
            // this.$copyText(window.location.origin + this.$route.fullPath)
            this.$toastr.success('Link copied to clipboard');
            // alert('You just copied: ' + e.text)
        },
        onError: function (e) {
            this.$toastr.error('Failed to copy texts')
        }

    },
    mounted(){
        console.log(this.$route.fullPath)
    },
    data(){
        return {
            message: window.location.origin + `/product/${this.ad.id}/view`,
            fullUrl :window.location.origin + `/view-ad-details/${this.ad.id}`

            // fullUrl : window.location.origin + `/product/${this.ad.id}/view`,
        }
    }
}
</script>

<style>

.social-share-component{
    position: relative;
}
.social-share-component .social-media-share-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 20px;
}
.social-share-component .social-media-share-link .link-input,.link-copy-button{
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 100;
    min-width: 100px;
}
.social-share-component .social-media-share-link .link-input{
    background-color: #f5f5f5;
    color: #4e6a80;
    flex-grow: 1;
    border-radius: 2px 0 0 2px;
}
.social-share-component .social-media-share-link .link-copy-button{
    background-color: #d11d1d;
    border-radius: 0 2px 2px 0;
    color: #ffffff;
    text-decoration: none !important;
}
.social-share-component .social-media-share-container-top{
    border-bottom: 1px solid #00000012;
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 5px;
    text-align: center;
    margin: -8px -15px 15px;
    color: #4e6a80;
}
.social-share-component .social-media-share-container{
    text-align: center;
}
.social-share-component .social-media-share-container img{
    width: 40px;
    height: auto;
    margin-right: 15px;
}

@media screen and (max-width:768px) {
    .social-share-component .social-media-share-link {
        padding: 0 5px;
    }
    .social-share-component .social-media-share-container img{
        margin-right: 5px;
    }
}
</style>
