.user-dashboard
    padding: 30px 25px

    .dashboard-white-btn
        color: $background_red_dark_bg
        width: 100%
        background-color: white
        border-radius: 5px
        border: 1px solid #c8c8c8
        padding: 10px 15px
        outline: none
        position: relative
        min-height: 45px
        &:hover
            background-color: #efefef

        &:disabled
            background-color: #f1f1f1

    .build-trust
        margin-top: 15px

        .build-trust-text
            color: $background_red_dark_bg
            font-size: 20px
            font-weight: bold
            margin-bottom: 15px

        .google-option
            img
                margin-right: 6px !important

        .google-option , .facebook-option
            text-align: left
            padding-left: 45%
            color: $text_green

            // .custom-control-input
            //     &:checked
            //         ~
            //             .custom-control-label
            //                 &::before
            //                     border-color: $background_red_dark_bg
            //                     background-color: $background_red_dark_bg
            img
                margin-right: 5px
                width: 20px


    .user-form
        padding: 10px 150px
    .user-info
        .profile-image
            min-height: 200px
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column

            .small-text
                font-size: 25px
                color: $text_green
                margin-bottom: 20px

            img
                width: 120px
                height: 120px
                object-fit: cover
                border-radius: 200%


        .user-name
            font-size: 25px
            text-align: center
            color: $text_green

        .member-date
            // color: #777
            color: $text_green
            text-align: center
            font-size: 14px
            margin-top: 10px

        .user-social-media-accounts
            text-align: center
            margin-top: 20px

            a
                margin: 0 4px
                text-decoration: none

                .user-social-media-account
                    width: 23px
                    height: auto


        .user-stats
            display: flex
            justify-content: center
            align-items: center
            margin-top: 10px
            // margin-top: 25px

            .user-stats-box
                width: 33.33%
                display: flex
                justify-content: center
                align-items: center
                border-right: 1px solid #dddddd
                color: $text_green
                flex-direction: column
                a
                    color: $text_green
                    text-align: center
                    text-decoration: none



.dashboard-menu

    .menu-list
        margin-top: 20px

        .menu-item.exact-active
            background-color: #dddddd

        .menu-item
            display: flex
            justify-content: flex-start
            align-items: center
            border-radius: 3px
            text-decoration: none
            color: $text_green
            padding: 5px 3px

            &:hover
                background-color: #dddddd

            .menu-item-icon
                width: 20px
                height: auto

            .menu-name
                font-size: 15px
                margin-left: 10px
                width: 100%
                padding-bottom: 3px
                border-bottom: 1px solid #dddddd

                .menu-notification-number
                    margin-right: 10px
                    float: right

.report-box
    font-size: 16px
    color: $background_red_dark_bg
    margin-top: 20px
    margin-bottom: 20px
    text-align: center
    cursor: pointer

    img
        width: 18px
        margin-top: -3px
        margin-right: 2px

.other-user-profile
    .view-options
        display: flex
        justify-content: flex-end
        align-items: center
        color: $text_green
        position: absolute
        right: -10px
        top: 7px

        .option
            display: flex
            align-items: center
            justify-content: center
            padding: 0 10px
            height: 12px
            border-right: 1px solid $text_green
            position: relative
            min-width: 30px
            &:nth-child(3)
                border: none

            a
                text-decoration: none
                color: $text_green

            i
                font-size: 14px
                color: $text_green
            img
                width: 16px


.bz-dashboard-page-header
    background-color: $background_red_dark_bg
    color: white
    width: 100%
    padding: 10px 15px
    // margin-top: 10px
    display: flex
    align-items: center
    position: relative
    // border-radius: 5px

    .bz-page-header-title
        font-size: 25px
        width: 100%
        font-weight: bold
        justify-content: center

    .small-text
        margin-left: auto

        img
            width: 35px
            margin-right: 10px
            position: absolute
            right: 10px
            top: 12px


@media screen and ( max-width:768px  )

    .dashboard-menu
        display: none

    .user-dashboard
        padding: 15px

        .user-form
            padding: 10px

        .build-trust
            .google-option, .facebook-option
                padding-left: 34%

        .bz-dashboard-page-header
            margin-top: 5px
            // margin-top: 20px

        .user-info
            .profile-image
                min-height: 100px
                padding-top: 20px

                img
                    width: 80px
                    height: 80px

            .user-name
                margin-top: 10px
                font-size: 20px

            .member-date
                margin-top: 5px
                font-size: 12px

            .user-social-media-accounts
                margin-top: 10px
            .user-stats
                margin-top: 15px
                padding-bottom: 10px
