.my-coins-page
    .section-heading
        font-size: 30px
        padding: 20px 0
        font-weight: 600
        color: $text_green

    .section-heading-small
        font-size: 13px
        color: $text_green
        margin-top: -5px

    .current-coins
        font-size: 30px
        color: $text_green
        img
            width: 25px
            height: auto
    .coins-details-row
        
        padding: 0 75px
        
        .col-6
            padding: 0 40px


    .coins-details-box
        border-radius: 10px
        box-shadow: 0 0 15px #b6b6b67a
        // box-shadow: 0 0 15px #b6b6b6
        padding: 20px
        // padding: 20px
        background-color: #ffffff
        color: $text_green
        margin-top: 30px

        img
            width: 60px

        .coins-details-box-heading
            text-transform: capitalize
            font-size: 25px
            color: #343434
            text-align: center
            margin-bottom: 20px

        .coin-detail-row
            font-size: 18px
            display: flex
            align-items: center
            margin-top: 5px
            
            .coin-type
                width: 33.33%
                text-align: left
            .coin-value
                text-align: center
                width: 33.33%
            .coin-credit
                text-align: right
                width: 33.33%

    .transaction-list-heading
        color: #7f92a1
        font-size: 16px
        margin-top: 30px
        margin-bottom: 20px
        
    .transaction-list-box
        background-color: white
        border-radius: 3px
        box-shadow: $box_shadow3

        .transaction-list-item
            border-bottom: 1px solid #e4e4e4
            padding: 10px
            display: flex
            justify-content: center
            align-items: center
            // flex-wrap: wrap

            .transaction-item-icon
                width: 40px
                // width: 5%
                img
                    width: 30px

            .transaction-item-description
                width: 60%
                font-size: 20px
                font-weight: bold
                color: $text_green

            .transaction-item-time
                width: 20%
                font-size: 16px
                color: #8ca3b6
                // min-width: 150px

            .transaction-item-coins
                font-size: 20px
                text-align: right
                font-weight: bold
                width: 15%
                // min-width: 200px

            .transaction-item-coins.gained
                color: #45d164
                // color: #06e306

            .transaction-item-coins.spent
                color: #ff3f3f

    .big-text
        text-align: right
        font-size: 30px
        margin-top: 60px



@media screen and ( max-width:768px  )
    .my-coins-page 
        .coins-details-box
            padding: 12px 14px
            text-align: left
            

        .coins-details-row
            padding: 0 10px
            .col-6
                padding: 0 10px

        .transaction-list-box 
            .transaction-list-item
                flex-wrap: wrap
                justify-content: flex-start

                .transaction-item-icon
                    width: 40px
                    img
                        width: 25px
                        
                .transaction-item-description
                    width: 65%
                    font-size: 17px
                
                .transaction-item-time

                    order: 4
                    width: 100%
                    font-size: 12px
                    margin-left: 40px
                    margin-top: -5px

                .transaction-item-coins
                    width: 22%
                    font-size: 17px
    
        // .wallet-transaction-list-box 
        //     .wallet-transaction-list-item
        //         flex-wrap: wrap
        //         justify-content: flex-start

        //         .wallet-transaction-item-icon
        //             width: 40px
        //             img
        //                 width: 25px
                        
        //         .wallet-transaction-item-description
        //             width: 63%
        //             font-size: 15px
                
        //         .wallet-transaction-item-time

        //             order: 4
        //             width: 100%
        //             font-size: 12px
        //             margin-left: 40px

        //         .wallet-transaction-item-coins
        //             width: 25%
        //             font-size: 14px




// @media screen and ( max-width:400px  )
//     .my-coins-page
//         .wallet-transaction-list-box 
//             .wallet-transaction-list-item
//                 .wallet-transaction-item-description
//                     width: 85%
//                     font-size: 15px
                
//                 .wallet-transaction-item-time
//                     width: 35%
//                     font-size: 12px
//                     margin-left: 40px
//                     order: 0

//                 .wallet-transaction-item-coins
//                     width: 50%
//                     font-size: 14px






// @media screen and ( max-width:459px  )
//     .my-coins-page 
//         .big-text
//             font-size: 18px
//         .coins-details-row
//             .col-6
//                 padding: 0 10px

//                 .coins-details-box
//                     padding: 20px 10px
//                     img
//                         width: 40px
                    