.my-wallet-page
    .section-heading
        font-size: 30px
        padding: 20px 0
        font-weight: 600
        color: $text_green

    .section-heading-small
        font-size: 13px
        color: $text_green
        margin-top: -5px

    .current-coins
        font-size: 30px
        color: $text_green
        img
            width: 25px
            height: auto
    .coins-details-row
        
        padding: 0 75px
        
        .col-6
            padding: 0 40px

    
    .transaction-list-heading
        color: #7f92a1
        font-size: 16px
        margin-top: 30px
        margin-bottom: 20px

    .wallet-coins-details-box
        border-radius: 10px
        box-shadow: 0 0 15px #b6b6b67a
        // box-shadow: 0 0 15px #b6b6b6
        padding: 20px
        height: 200px
        // padding: 20px
        background-color: #ffffff
        color: $text_green
        margin-top: 30px

        img
            width: 60px

    .wallet-transaction-list-box
        background-color: white
        border-radius: 3px
        box-shadow: $box_shadow3

        .wallet-transaction-list-item
            border-bottom: 1px solid #e4e4e4
            padding: 10px
            display: flex
            justify-content: center
            align-items: center
            // flex-wrap: wrap

            .wallet-transaction-item-icon
                width: 40px
                // width: 5%
                img
                    width: 30px

            .wallet-transaction-item-description
                width: 60%
                font-size: 20px
                font-weight: bold
                color: $text_green

            .wallet-transaction-item-time
                width: 20%
                font-size: 16px
                color: #8ca3b6
                // min-width: 150px

            .wallet-transaction-item-coins
                font-size: 20px
                text-align: right
                font-weight: bold
                width: 15%
                // min-width: 200px

            .wallet-transaction-item-coins.gained
                color: #45d164
                // color: #06e306

            .wallet-transaction-item-coins.spent
                color: #ff3f3f

    .big-text
        text-align: right
        font-size: 30px
        margin-top: 60px



.redeem-modal
    text-align: center
    padding: 10px 0
    .redeem-modal-title
        color: $text_green
        font-size: 18px
        margin-bottom: 10px

        img
            width: 17px
            margin-bottom: 2px

    .redeem-modal-input
        input
            width: 90%
        //     max-width: 350px
        //     padding: 8px 20px
        //     background-color: #efefef
        //     border-radius: 5px
        //     border: none
        //     // border: 1px solid #c8c8c8
        //     text-align: center
        //     outline: none
        //     color: $text_green

    .redeem-modal-small-text
        font-size: 12px
        margin: 10px 0
        color: $background_red_dark_bg
            

    .redeem-modal-button
        border-radius: 5px
        position: relative
        outline: none
        border: none
        background-color: $background_red_dark_bg
        display: inline-block
        width: 170px
        color: white
        height: 40px
        font-size: 20px
        &:hover
            background-color: #b11919




.buy-credit-packages
    
    .package.standard
        background: linear-gradient(#ce091c , #f65ca2)

    .package.advanced
        background: linear-gradient(#2d5c64 , #4db3ca)

    .package.premium
        background: linear-gradient(#fe7604 , #fcb377)

    .package.supreme
        background: linear-gradient(#999999 , #bebebe)

    .package-title
        font-size: 20px
        color: $text_green
        text-align: center
        margin: 15px 0
        span
            color: $background_red_dark_bg
            font-weight: bold

    .credit-packages
        display: flex
        padding: 20px 10px
        background-image: none !important

        .credit-package-item
            width: 25%
            margin: 0 10px
            .package
                padding: 20px 0
                border-radius: 20px
                text-align: center
                color: white

                .package-image
                    margin-top: 20px
                    img
                        width: 150px

                .package-name
                    font-size: 25px
                    margin-top: 40px
                    font-weight: bold

                .package-statment
                    margin: 30px 0
                    font-size: 15px

                .package-type
                    margin: 30px 0
                    font-size: 25px
                    font-weight: bold


                .package-cost
                    font-size: 16px
                    margin-top: 20px


                .package-amount
                    margin-top: 10px

                .package-total-credit
                    font-weight: bold
                    margin-top: 20px

                .buy-credit
                    margin-top: 15px
                    display: flex
                    justify-content: center
                    align-items: center
                    width: 85%
                    height: 40px
                    background-color: white
                    color: $background_red_dark_bg
                    font-size: 15px
                    border-radius: 5px
                    text-decoration: none
                    margin-left: auto
                    margin-right: auto

    
    .credit-packages-small
        display: none
        padding: 0 10px 20px 10px
        .credit-package-item
            .package
                padding: 20px
                border-radius: 10px
                color: white
                text-align: center
                position: relative
                margin-bottom: 20px

                .accordian-link.collapsed
                    .right-item-icon
                        transform: rotate(0deg)


                .accordian-link
                    display: flex
                    justify-content: center
                    align-items: center
                    color: white
                    text-decoration: none
                    .right-item-icon
                        position: absolute
                        right: 15px
                        transition: all 0.5s
                        transform: rotate(180deg)
                        img
                            width: 15px

                .package-name
                    font-size: 20px

                .package-total-credit
                    margin-top: 5px
                    font-weight: bold
                
                .buy-credit
                    margin-top: 15px
                    display: flex
                    justify-content: center
                    align-items: center
                    width: 100%
                    height: 40px
                    background-color: white
                    color: $background_red_dark_bg
                    font-size: 17px
                    border-radius: 5px
                    text-decoration: none

@media (min-width: 992px)
    .upgrade-credit-packages-modal
        max-width: 975px !important

@media (min-width: 576px)
    .upgrade-credit-packages-modal
        max-width: 93%


@media screen and ( max-width:1032px  )
    .my-wallet-page
        .coins-details-row
            padding: 0 25px

            .col-6
                padding: 0 20px


@media screen and ( max-width:768px  )

    .credit-packages
        display: none !important

    .credit-packages-small
        display: block !important

    .my-wallet-page     

        .coins-details-box
            padding: 12px 14px
            text-align: left
            

        .coins-details-row
            padding: 0 10px
            .col-6
                padding: 0 10px

        .wallet-coins-details-box
            padding: 12px 14px
            text-align: left
            height: 100px

            img
                width: 40px

            .big-text
                font-size: 15px
                text-align: right
                margin-top: 17px


        .wallet-transaction-list-box 
            .wallet-transaction-list-item
                flex-wrap: wrap
                justify-content: flex-start

                .wallet-transaction-item-icon
                    width: 40px
                    img
                        width: 25px
                        
                .wallet-transaction-item-description
                    width: 63%
                    font-size: 15px
                
                .wallet-transaction-item-time

                    order: 4
                    width: 100%
                    font-size: 12px
                    margin-left: 40px

                .wallet-transaction-item-coins
                    width: 25%
                    font-size: 14px




@media screen and ( max-width:400px  )
    .my-wallet-page
        .wallet-transaction-list-box 
            .wallet-transaction-list-item
                .wallet-transaction-item-description
                    width: 85%
                    font-size: 15px
                
                .wallet-transaction-item-time
                    width: 35%
                    font-size: 12px
                    margin-left: 40px
                    order: 0

                .wallet-transaction-item-coins
                    width: 50%
                    font-size: 14px
