<template>
    <div class="notification-page container">

        <div class="bz-dashboard-page-header">
            <div class="bz-page-header-title text-center">
                Notifications
            </div>
        </div>

        <div class="section-heading cursor-pointer" @click="markAllRead">
            Mark All as Read
        </div>

        <div class="list">


        <div v-for="(notification , index) in notifications" :key="index" class="list-item notification-item cursor-pointer" @click="markAsReadAndNext(notification)" >
            <div class="notification-item-image">
                <img v-if="notification.sender_image" :src="$root.virtualmin_server + 'public/images/' + notification.sender_image"  @error="$event.target.src = '/bazar/default-user-avatar.png'" />
                <img v-else src="/bazar/default-user-avatar.png" />
            </div>
            <div class="notification-item-description">
                {{notification.tital}}
            </div>

            <div class="notification-item-time ">
                <i class="fas fa-circle _pending" v-if="notification.status == 0" ></i>
                <div class="time-ago">
                    {{notification.created_at | formatDifferenceDate }}
                </div>
            </div>


        <Intersect v-if="!no_more_notifications && index == notifications.length - 1" @enter="loadMoreNotifications" @leave="pageEnd('Leave')"  >
            <div></div>
        </Intersect>

        </div>
<!--
        <Intersect v-if="!no_more_notifications" @enter="loadMoreNotifications" @leave="pageEnd('Leave')"  >
            <div></div>
        </Intersect> -->



            <div class="loading-skeliton" v-if="loading">
                <div class="ads-listing" >
                    <div class="ad-list-item" v-for="index in 8" :key="index" >
                        <div class="ad-list-item-main-container d-block p-2">
                            <b-skeleton animation="wave" width="85%"></b-skeleton>
                            <b-skeleton animation="wave" width="55%"></b-skeleton>
                            <b-skeleton animation="wave" width="70%"></b-skeleton>
                        </div>
                    </div>
                </div>
            </div>



    </div>
</div>


</template>


<script>
export default {
    data(){
        return{
            loading: false,
            show: false,
            no_more_notifications: false,
            notifications: [],
            index: 0
        }
    },
    mounted(){
        this.loadNotifications()
    },
    methods:{

        loadNotifications(){

            this.loading = true;
            axios.post('/v1/fetch_notification', {
                index: this.index ,
                user_id: this.$store.getters.isAuthenticated.id,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
            console.log(res.data)
            this.loading = false

            if(res.data.status ==  'success'){

                this.notifications.push(...res.data.data)
                this.index = this.index + 1;
                this.$store.commit('setNotificationCount' , res.data.noty )

            }else if(res.data.status ==  'fail'){
                this.no_more_notifications = true;

            }
            }).catch( err => {
                this.loading = false
                this.$toastr.error('An unexpected error occurred');
            })

        },

        markAllRead(){
            axios.post('/v1/notification_status', {
                type: 'all' ,
                noty_id: this.$store.getters.isAuthenticated.id,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {

            if(res.data.status ==  'true'){
                this.markAsReadNotification();
            }else if(res.data.status ==  'fail'){

            }
            }).catch( err => {
                this.loading = false
                this.$toastr.error('An unexpected error occurred');
            })

        },
        loadMoreNotifications(){
            this.loadNotifications();
        },

        pageEnd(msg){
            console.log(msg)
        },
        markAsReadAndNext(notification){

            this.$store.commit('decrementNotifcation')
            this.$router.push({ name: 'view-product' , params : { id : notification.refer_id , notification : notification }} )

            // axios.post('/v1/notification_status', {
            //     type: 'single' ,
            //     noty_id: notification.id,
            // },{
            //     headers:{
            //         Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
            //     }
            // }).then (res => {

            // if(res.data.status ==  'true'){
            //     // this.markAsReadNotification();

            // }else if(res.data.status ==  'fail'){

            // }
            // }).catch( err => {
            //     this.loading = false
            //     this.$toastr.error('An unexpected error occurred');
            // })

        },
        markAsReadNotification(){
            this.notifications.map( not => {
                not.status = 1
            });
        }


}
}
</script>

<style>

</style>
