.auth-components
    .login-form , .signup-form, .forget-form
        transition: all .4s ease-in-out
        padding: 0 30px
        color: $text_green

        .form-heading
            font-size: 25px
            text-align: center

        .form-heading-description
            font-size: 17px
            text-align: center
            padding: 0 30px
            margin-bottom: 15px
            margin-top: 5px

        .signup-with-facebook
            background-color: #3b5998
            width: 100%
            height: 40px
            color: white
            text-decoration: none
            border-radius: 7px
            border: none
            outline: none
            position: relative
            &:hover
                background-color: #334d82
            
        .signup-with-google
            margin-top: 10px
            background-color: #ea4335
            width: 100%
            height: 40px
            color: white
            text-decoration: none
            border-radius: 7px
            border: none
            outline: none
            position: relative
            &:hover
                background-color: #cc3427

        .seprator
            display: flex
            justify-content: center
            align-items: center
            padding: 0 5px

            .seprate-1 , .seprate-2
                background-color: #dee2e6
                height: 2px
                width: 45%

            .or-text
                font-weight: bold
                font-size: 20px
                margin: 10px 25px

        .form-input
            width: 100%
            border-radius: 4px
            border: 1px solid #bababa
            box-shadow: $box_shadow_inner1
            margin-top: 20px
            outline: none
            padding: 0 10px
            height: 40px

        .privacy-text
            text-align: center
            color: $text_red
            margin-top: 20px

        .privacy-links
            text-align: center
            margin-top: 10px
            a
                color: $text_green
                text-decoration: none
                &:hover
                    color: $text_green_hover
                    

        .submit-btn
            margin-top: 20px
            background-color: #4e6a80bd
            // background-color: #7c9cce
            width: 100%
            height: 40px
            color: white
            text-decoration: none
            border-radius: 7px
            border: none
            font-weight: bold
            text-transform: uppercase
            outline: none
            margin-bottom: 5px
            position: relative
            &:hover
                background-color: #4e6a80c7
                // background-color: #6582af


        .already-have-account
            text-align: center
            font-weight: bold
            margin-top: 20px
            margin-bottom: 20px

        .small-text
            text-align: center
            font-size: 16px
            margin-top: 7px
            color: $background_red_dark_bg

        .forgot-password
            text-align: center
            font-weight: bold
            margin-top: 20px
            margin-bottom: 20px
            margin-left: auto
            a
                text-decoration: none
                color: $text_green

#authModal
    .modal-content
        overflow-x: hidden
        // min-height: 550px

.showComponent
    transform: translateX(0)
    // display: block

.hideComponent
    transform: translateX(100%)
    // display: none
