<template>
  <div>

    <loading
        :active.sync="fullPageLoading"
        loader="dots"
        :height="170"
        :width="170"
        color="#d11d1d"
        background-color="rgb(0 0 0)"
        :lock-scroll="false"
        :is-full-page="true"
    ></loading>


      <div class="country-flags-section">
            <div class="country-select-title">Select Country</div>
            <div class="country-flags">
                <div class="country-flag" :class="{'active': $store.getters.currentCountry.id == country.id }"  v-for="(country,index) in countries" :key="index">
                    <a href="javascript:;" @click="selectCountry(country)"  >
                        <img :src="country.flag" />
                        <div class="country-name">{{country.name}}</div>
                    </a>
                </div>
            </div>

            <!-- <div class="country-flags">
                <div class="country-flag">
                    <a href="javascript:;" @click="openLoginModal"  >
                        <img src="/bazar/belgium.png" />
                        <div class="country-name">Belgium</div>
                    </a>
                </div>

                <div class="country-flag">
                    <a href="javascript:;" @click="openLoginModal" >
                        <img src="/bazar/france.png" />
                        <div class="country-name">France</div>
                    </a>
                </div>

                <div class="country-flag">
                    <a href="javascript:;" @click="openLoginModal" >
                        <img src="/bazar/germany.png" />
                        <div class="country-name">Germany</div>
                    </a>
                </div>

                <div class="country-flag">
                    <a href="javascript:;" @click="openLoginModal" >
                        <img src="/bazar/india.png" />
                        <div class="country-name">India</div>
                    </a>
                </div>

                <div class="country-flag">
                    <a href="javascript:;" @click="openLoginModal"  >
                        <img src="/bazar/netherlands.png" />
                        <div class="country-name">Netherlands</div>
                    </a>
                </div>


                <div class="country-flag">
                    <a href="javascript:;" @click="openLoginModal" >
                        <img src="/bazar/poland.png" />
                        <div class="country-name">Poland</div>
                    </a>
                </div>

                <div class="country-flag">
                    <a href="javascript:;" @click="openLoginModal" >
                        <img src="/bazar/spain.png" />
                        <div class="country-name">Spain</div>
                    </a>
                </div>
            </div> -->
        </div>





            <!-- Modal -->
      <div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
                <div class="auth-components">
                    <auth-components></auth-components>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-remove-icon" @click="closeModal" > <i class="fa fa-times-circle"></i> </div>
            <div class="modal-body">
                <div class="auth-components">
                    <div class="login-form">
                        <div class="form-heading">
                            Login
                        </div>

                        <form @submit.prevent="login" autocomplete="off" >
                            <input class="form-input" required v-model="login_user.email" type="email" placeholder="Email Address" />
                            <input class="form-input" v-model="login_user.password" type="password" placeholder="Password" />

                            <button class="submit-btn" :disabled="loading" type="submit">
                                <loader v-if="loading"></loader>
                                <span v-else >Login</span>
                            </button>

                        </form>


                        <div class="seprator">
                            <div class="seprate-1"></div>
                            <div class="or-text">OR</div>
                            <div class="seprate-2"></div>
                        </div>


                        <div>
                            <button @click="socialLogin('facebook')" class="signup-with-facebook">
                                <loader v-if="facebook_loading"></loader>
                                <span v-else><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</span>
                            </button>
                        </div>

                        <div>
                            <button @click="socialLogin('google')" class="signup-with-google">
                                <loader v-if="google_loading"></loader>
                                <span v-else> <i class="fab fa-google mr-2"></i> Sign in with Google</span>
                            </button>

                        </div>

                        <div class="d-flex align-items-center">

                            <div class="already-have-account text-left">Do not have account ?<a @click="openRegisterModal" href="javascript:;">Sign up</a> </div>

                            <div class="forgot-password"><a @click="openForgetModal" href="javascript:;">Forgot Password?</a> </div>

                        </div>
                    </div>

                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-remove-icon" @click="closeModal" > <i class="fa fa-times-circle"></i> </div>
            <div class="modal-body">
                <div class="auth-components">
                    <div class="signup-form">
                        <div class="form-heading">
                            Sign Up
                        </div>
                        <div class="form-heading-description">
                            To Post ads, like ads, chat with users follow users or earn free coins
                        </div>

                        <div>
                            <button  @click="socialLogin('facebook')" type="button" class="signup-with-facebook"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>
                        </div>

                        <div>
                            <button  @click="socialLogin('google')" type="button" class="signup-with-google"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
                        </div>

                        <div class="seprator">
                            <div class="seprate-1"></div>
                            <div class="or-text">OR</div>
                            <div class="seprate-2"></div>
                        </div>

                        <form @submit.prevent="register" >
                            <input class="form-input" type="text" v-model="signup_user.name" required  placeholder="Name" />

                            <input class="form-input" type="text" v-model="signup_user.phone_no" required placeholder="Phone Number" />

                            <input class="form-input" type="email" v-model="signup_user.email" required  placeholder="Email Address" />

                            <input class="form-input" type="password" v-model="signup_user.password" required  placeholder="Password" />

                            <input class="form-input" type="password" v-model="signup_user.confirm_password" required  placeholder="Confirm Password" />

                            <div class="privacy-text">
                                By signing up you agree on our terms and conditions
                            </div>

                            <div class="privacy-links">
                                <a href="/terms-of-use" target="_blank"  class="mr-5">Terms and Conditions</a>
                                <a href="/privacy-policy" target="_blank"  >Privacy Policy</a>
                            </div>

                            <button class="submit-btn" :disabled="loading" type="submit">
                                <loader v-if="loading"></loader>
                                <span v-else> Create Account </span>
                            </button>
                        </form>

                        <div class="already-have-account">Already have an account ? <a  @click="openLoginModal" href="javascript:;">Login</a> </div>
                    </div>

                </div>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="forgetModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-remove-icon" @click="step = 1" v-if="step == 2" > <i class="fas fa-arrow-circle-left"></i> </div>
            <div class="modal-remove-icon" @click="closeModal" v-else > <i class="fa fa-times-circle"></i> </div>
            <div class="modal-body">
                <div class="auth-components">
                    <div class="forget-form">

                        <div v-if="step == 1">
                            <div class="form-heading">
                                Reset Password
                            </div>

                            <form @submit.prevent="sendVerificationCode" >
                                <div class="small-text">Please enter your registered email</div>
                                <input class="form-input" required type="email" v-model="reset_password.email" placeholder="Email" />

                                <button class="submit-btn" :disabled="loading" type="submit">
                                    <loader v-if="loading"></loader>
                                    <span v-else> Send Verification Link </span>
                                </button>
                            </form>
                        </div>


                        <div v-if="step == 2">
                            <div class="form-heading">
                                Verification Code
                            </div>
                            <form @submit.prevent="verifyCode" >
                                <div class="small-text">Please enter your 5 digits verification code that has been sent to your email</div>

                                <input class="form-input" type="text" v-model="reset_password.verification_code" required  placeholder="Verification" />

                                <div class="small-text" style="font-size: 14px;margin-top: 10px;"  >Please if you did'nt recieve email in 10 seconds, Check spam</div>
                                <button class="submit-btn" style="margin-top:10px;" :disabled="loading" type="submit">
                                    <loader v-if="loading"></loader>
                                    <span v-else> Submit </span>
                                </button>
                            </form>
                        </div>

                        <div v-if="step == 3">
                            <div class="form-heading">
                                Verification Code
                            </div>

                            <form @submit.prevent="updatePassword" >

                            <input class="form-input" type="password" required v-model="reset_password.password"  placeholder="Password" />

                            <input class="form-input" type="password" required v-model="reset_password.confirm_password"  placeholder="Confirm Password" />

                                <button class="submit-btn" :disabled="loading" type="submit">
                                    <loader v-if="loading"></loader>
                                    <span v-else> Change Password </span>
                                </button>
                            </form>
                        </div>



                    </div>

                </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import loadingText from './loadingText.vue'
import Loading from 'vue-loading-overlay';

export default {
  components: { loadingText , Loading },
    data(){
        return{
            step: 1,
            loading: false,
            fullPageLoading: false,
            google_loading: false,
            facebook_loading: false,
            country: '',
            fireUser: '',
            social_user: '',
            referred: '',
            login_user:{
                email: "",
                password: "",
            },
            signup_user:{
                email: "",
                password: "",
                confirm_password: "",
                name: "",
                phone_no: "",
                signup_type: "Email",
                app_type: "Website",
                reffer_id: "",
            },
            reset_password:{
                email: '',
                verification_code: '',
                password: "",
                confirm_password: "",
                otp: "",
            },
            countries:[
                { id: 1 , name: 'Belgium' , flag: '/bazar/belgium.png' },
                { id: 2 , name: 'France' , flag: '/bazar/france.png' },
                { id: 3 , name: 'Germany' , flag: '/bazar/germany.png' },
                { id: 4 , name: 'India' , flag: '/bazar/india.png' },
                { id: 5 , name: 'Netherlands' , flag: '/bazar/netherlands.png' },
                { id: 6 , name: 'Poland' , flag: '/bazar/poland.png' },
                { id: 7 , name: 'Spain' , flag: '/bazar/spain.png' },
            ]

        }
    },
    mounted(){
        // console.log(this.$store.getters.isAuthenticated);

        if(this.$root.$refs._wrapper && this.$root.$refs._wrapper.social_user){
            this.social_user = this.$root.$refs._wrapper.social_user
            this.loginWithSocialUser();
        }else{
            // console.log('No Social User')
        }

        if(this.$root.$refs._wrapper && this.$root.$refs._wrapper.referred){
            this.referred = this.$root.$refs._wrapper.referred
            this.signup_user.email = this.referred.email
            this.signup_user.name = this.referred.name
            // $('#registerModal').modal('show')
            // this.openRegisterModal();
            // console.log('openRegisterModal shoul open')
        }else{
            // console.log('No Social User')
        }

        if(this.loading){
            $('.modal').modal({
                backdrop: 'static',
                keyboard: false
            })
        }
    },
    methods:{

        selectCountry(country){
            // this.$emit('country-selected' , this.countries[id] )
            this.$root.country = country;
            this.country = country;
            console.log(this.$root.cities[0])


            if(this.$store.getters.isAuthenticated){

                axios.post('/v1/update_user_country' , {
                    user_id : this.$store.getters.isAuthenticated.id,
                    country: country.id
                },{
                    headers:{
                        Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                    }
                });

                this.$store.commit('setCountry' , country );

                if(this.$store.getters.getActualURL){
                    this.$router.push(this.$store.getters.getActualURL)
                    this.$store.commit('setCurrentUrl' , '' )
                }else{
                    this.$router.push('/products')
                }

            }else{
                this.openLoginModal();
            }
        },

        loginWithSocialUser(){
            this.fullPageLoading = true
            console.log(`this.social_user`, this.social_user)
            axios.post('/v1/sociallogin', {
                email: this.social_user.email,
                name: this.social_user.name,
                signup_type: this.social_user.source,
                social_details: JSON.stringify(this.social_user.user),
                social_token: this.social_user.token,
                profile_image: this.social_user.avatar,
                app_type: 'Website',
            }).then (res => {

                this.fullPageLoading = false

                console.log(res.data.data)
                if(res.data.status ==  'success'){

                    firebase.app()
                    // Get a reference to the database service
                    var database = firebase.database();

                    // this.fireUser = ''
                    // database.ref('Users/user'+res.data.data.id).once( 'value' , (snapshot) => {
                    // let fireUser = snapshot.val();
                    // this.fireUser = snapshot.val();
                    //     console.log(fireUser , 'this.fireUser auth')
                    //     var user = Object.assign( {} , fireUser);
                    //         console.log(user , 'online status true')
                    //         if(fireUser && fireUser.online != 'true'){
                    //             user.online = 'true';
                    //             database.ref('Users/user'+res.data.data.id).set({
                    //                 ...user
                    //             })
                    //         }
                    // });


                    database.ref('Users/user'+res.data.data.id).once( 'value' , snapshot => {
                        console.log(snapshot.val() , 'snapshot.val()')
                        var user = {};
                        if(snapshot.val()){
                            user = snapshot.val();
                            user.online = 'true'
                        }else{
                            user = {
                                name : res.data.data.name,
                                image : this.social_user.avatar,
                                msgcount : '0',
                                online : 'true'
                            }
                        }
                        database.ref('Users/user'+res.data.data.id).set({
                            ...user
                        })
                    })

                    this.$store.commit('login' , res.data.data)
                    this.updateFireUser(res.data.data);
                    if(this.$store.getters.getActualURL){
                        this.$router.push(this.$store.getters.getActualURL)
                        this.$store.commit('setCurrentUrl' , '' )
                    }else{
                        this.$router.push('/products')
                    }

                }else{
                    console.log(res)
                    this.$toastr.error( res.data.message );

                }
                this.$root.$refs._wrapper.social_user = ''

            }).catch( err => {
                console.log(err)
                this.loading = false
                this.fullPageLoading = false
                // $('#loginModal').modal('hide')
                this.$toastr.error('An unexpected error occurred');
                this.$root.$refs._wrapper.social_user = ''
            })
        },

        login(){
            this.loading = true
            this.fireUser = ''

            axios.post('/v1/login', {
                email: this.login_user.email,
                password: this.login_user.password,
                app_type : 'Website'
            }).then (res => {

                this.loading = false
                this.fullPageLoading = false


                if(res.data.status ==  'success'){
                    $('#loginModal').modal('hide')
                    // this.$toastr.success('Logged in successfully');
                    this.$store.commit('setCountry' , this.country );
                    this.$store.commit('login' , res.data.data)

                    axios.post('/v1/update_user_country' , {
                        user_id : this.$store.getters.isAuthenticated.id,
                        country: this.country.id
                    },{
                        headers:{
                            Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                        }
                    });

                    if(this.$store.getters.getActualURL){
                        this.$router.push(this.$store.getters.getActualURL)
                        this.$store.commit('setCurrentUrl' , '' )
                    }else{
                        this.$router.push('/products')
                    }
                    this.$root.$refs.navbar.getFireUser();
                    // Get a reference to the database service
                    this.updateFireUser(res.data.data);

                    // this.fireUser = ''
                    // database.ref('Users/user'+res.data.data.id).once( 'value' , (snapshot) => {
                    // let fireUser = snapshot.val();
                    // this.fireUser = snapshot.val();
                    //     console.log(fireUser , 'this.fireUser auth')
                    //     var user = Object.assign( {} , fireUser);
                    //         console.log(user , 'online status true')
                    //         if(fireUser && fireUser.online != 'true'){
                    //             user.online = 'true';
                    //             database.ref('Users/user'+res.data.data.id).set({
                    //                 ...user
                    //             })
                    //         }
                    // });

                    // this.$root.$refs.navbar.city = this.$root.cities[0];

                }else{
                    console.log(res)
                    this.$toastr.error( res.data.message );

                }

            }).catch( err => {
                console.log(err)
                this.loading = false
                this.fullPageLoading = false
                // $('#loginModal').modal('hide')
                this.$toastr.error('An unexpected error occurred');

            })
        },

        updateFireUser(user){
            this.fireUser = ''
            firebase.app()
            var database = firebase.database();
            database.ref('Users/user'+user.id).once( 'value' , (snapshot) => {
            let fireUser = snapshot.val();
            this.fireUser = snapshot.val();
                console.log(fireUser , 'this.fireUser auth')
                var user = Object.assign( {} , fireUser);
                    console.log(user , 'online status true')
                    if(fireUser && fireUser.online != 'true'){
                        user.online = 'true';
                        database.ref('Users/user'+user.id).set({
                            ...user
                        })
                    }
            });
        },

        register(){

            if(this.signup_user.password == this.signup_user.confirm_password){

            this.loading = true
            // console.log(this.signup_user)
            axios.post('/v1/signup', {
                email: this.signup_user.email,
                password: this.signup_user.password,
                name: this.signup_user.name,
                phone_no: this.signup_user.phone_no,
                app_type: this.signup_user.app_type,
                signup_type: this.signup_user.signup_type,
                reffer_id: this.referred.reffer_id,
            }).then (res => {

                if(res.data.status ==  'success'){


                    this.loading = false
                    $('#registerModal').modal('hide')
                    this.fullPageLoading = true
                    this.login_user.email = this.signup_user.email
                    this.login_user.password = this.signup_user.password
                    this.$root.current_user = res.data.data

                    firebase.app()
                    // Get a reference to the database service
                    var database = firebase.database();
                    var user = {};
                    console.log(res.data.data , res.data.data.name)
                    user = {
                        name : res.data.data.name,
                        image : '',
                        msgcount : '0',
                        online : 'true'
                    }
                    database.ref('Users/user'+res.data.data.id).set({
                        ...user
                    })

                    this.login();
                    // this.$toastr.success('Logged in successfully');
                    // this.$router.push('/products')
                }else{
                    console.log(res)
                    this.loading = false
                    // $('#loginModal').modal('hide')
                    this.$toastr.error( res.data.message );
                }

            }).catch( err => {
                console.log(err)
                this.loading = false
                $('#registerModal').modal('hide')
                this.$toastr.error('An unexpected error occurred');

            });
            }else{
                this.$toastr.error('Password does not match');
            }
        },

        sendVerificationCode(){

            // this.step = 2
            this.loading = true

            axios.post('/v1/emailotp', {
                email: this.reset_password.email,
                type:'other'
            }, {
                headers:{
                    'Accept': 'application/json, text/plain',
                    'Content-Type': 'application/json;charset=UTF-8',
                    'X-Requested-With' : 'XMLHttpRequest',
                },
            }
            ).then (res => {

                if(res.data.status ==  'success'){
                    this.loading = false
                    this.step = 2
                    this.reset_password.otp = res.data.otp

                }else{
                    console.log(res)
                    this.loading = false
                    this.$toastr.error( res.data.message );
                }

            }).catch( err => {
                console.log(err)
                this.loading = false
                this.$toastr.error('An unexpected error occurred');
                // this.step = 2

            });

            // console.log('sendVerificationCode')
        },

        verifyCode(){

            // this.step = 2
            this.loading = true
            if(this.reset_password.verification_code == this.reset_password.otp){
                this.step = 3
                this.loading = false
                this.reset_password.email = ''
                this.reset_password.verification_code = ''

            }else{
                this.loading = false
                this.$toastr.error('Code does not match');
            }

            // console.log('sendVerificationCode')
        },


        updatePassword(){

            if(this.reset_password.password == this.reset_password.confirm_password){
            this.loading = true
            axios.post('/v1/reset_password', {
                email: this.reset_password.email,
                password: this.reset_password.password,
            }).then (res => {

                if(res.data.status ==  'success'){
                    this.loading = false
                    this.closeModal();
                    this.openLoginModal();
                    this.step = 1
                    this.reset_password.password = ''
                    this.reset_password.confirm_password = ''

                }else{
                    console.log(res)
                    this.loading = false
                    this.$toastr.error( res.data.message );
                }

            }).catch( err => {
                console.log(err)
                this.loading = false
                this.$toastr.error('An unexpected error occurred');

            });
            }else{
                this.$toastr.error('Password does not match');
            }

        },

        openLoginModal(){
            this.closeModal();
            $('#loginModal').modal('show');
            this.checkIfModalOpen();
        },

        openRegisterModal(){
            this.closeModal();
            $('#registerModal').modal('show');
            this.checkIfModalOpen();
        },

        openForgetModal(){
            this.step = 1
            this.closeModal();
            $('#forgetModal').modal('show');
            this.checkIfModalOpen();
        },

        checkIfModalOpen(){
            $(document).on('hidden.bs.modal', function (event) {
                if ($('.modal:visible').length) {
                $('body').addClass('modal-open');
                }
            });
        },
        closeModal(){
            $('.modal').modal('hide');
        },
        socialLogin(type){

            if(type == 'google'){
                this.$store.commit('setCountry' , this.country );
                this.google_loading = true;
                window.location = '/login-google'
            }
            if(type == 'facebook'){
                this.facebook_loading = true;
                this.$store.commit('setCountry' , this.country );
                window.location = '/login-facebook'
            }
            // console.log(type)
        }

    }
}
</script>

<style>

</style>
