<template>
  <div class="bazar-footer" :class="{ 'grey-footer' : $route.path == '/get-the-app'  }" >
            <div class="bazar-footer-content">
                <div class="download-box">
                    <div class="app-download-text">
                        Download the app
                    </div>
                    <div class="qoute">
                        Whatever you’ve got in mind, we’ve got inside. OpenBazar App is what you’d want to have on your mobile phone.
                    </div>
                    <div class="download-button">
                        <a href="https://play.google.com/store/apps/details?id=com.open_bazar" target="_blank" >
                            <img class="google-download" src="/bazar/google-download-icon.png" />

                        </a>

                        <a href="https://apps.apple.com/nl/app/open-bazar/id1486285030?l=en" target="_blank" >
                            <img class="apple-download" src="/bazar/apple-download-icon.png" />
                        </a>
                    </div>
                </div>
                <div class="follow-us">
                    Follow Us
                </div>
                <div class="social-icons">
                    <div class="social-icon"><a href="https://www.facebook.com/OpenBAZAR4u/"><i class="fab fa-facebook-f"></i></a>  </div>
                    <div class="social-icon"><a href="https://mobile.twitter.com/BazarOpen"><i class="fab fa-twitter"></i></a>  </div>
                    <div class="social-icon"><a href="https://www.youtube.com/c/OpenBazar"><i class="fab fa-youtube"></i></a>  </div>
                    <div class="social-icon"><a href="https://www.instagram.com/openbazar4u/?hl=nl"><i class="fab fa-instagram"></i></a>  </div>
                </div>

                <div class="footer-menu">
                    <router-link to="/terms-of-use" > Terms of use </router-link>
                    <router-link to="/privacy-policy"> Privacy Policy </router-link>
                    <router-link to="/contact-us"> Contact us </router-link>
                    <router-link to="/help"> Help </router-link>
                </div>
                <div class="all-rights">
                    <!-- © 2019 OpenBazar.nl Developed And Managed By MobiSparx -->
                    Copyright © 2018 - 2021 OpenBazar.nl. All rights reserved
                </div>

            </div>


        </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
