<template>

<div class="chat-container" id="app">

    <div class="bz-dashboard-page-header">
        <div class="bz-page-header-title text-center">
            Chat
        </div>
    </div>

    <div class="section-heading">
        Messages
    </div>

    <div class="bz-white-box user-container position-relative">
        <div class="user-image">
            <img v-if="$store.getters.isAuthenticated.profile_image" :src="$root.virtualmin_server + '/public/images/' + $store.getters.isAuthenticated.profile_image" @error="$event.target.src = '/bazar/default-user-avatar.png'" />
            <img v-else src="/bazar/default-user-avatar.png" />
        </div>

        <div class="user-name" @click="activeChatUser = ''">
            {{$store.getters.isAuthenticated.name}}
        </div>
        <div class="chat-icon">
            <img src="/bazar/message.png"  />
            <div class="messages-number" @dblclick="emptyMessageCounter($store.getters.isAuthenticated.id , 0)" v-if="fireUser && fireUser.msgcount && fireUser.msgcount != '0'">{{fireUser ? fireUser.msgcount : ''}}</div>
        </div>



    </div>

<div class="mt-5">
        <div class="main-row">

            <div class="users-col bz-white-box users-list-col"  :class="{'show-col': !activeChatUser}" >
                <div class="search-input-container"  v-if="chats && chats.length > 0"  >
                    <i class="fas fa-search"></i>
                    <input placeholder="Search" v-model="search" />
                </div>

                <div class="users-list">
                    <loader :small="false" class="text-bz-red" v-if="loadingUsers"></loader>
                    <template v-if="noChatsFound">
                        <div v-if="_chats && _chats.length == 0" class="bz-white-box no-chats-message">
                            <img src="/bazar/chatting.png" />
                            <div class="text">No Conversations</div>
                        </div>
                    </template>

                    <!-- <loader :small="false" class="text-bz-red" v-if="!_chats || (_chats.length == 0 && !search && (!allData.ads || allData.ads.length == 0))"></loader> -->
                    <!-- active -->
                    <div
                        class="user-item"
                        :class="{ 'active' : activeChatUser == user }"
                        v-for="(user , index) in _chats" :key="index"
                        @click="selectActiveChat(user ,  chats.indexOf(user) , chatted_ads[chats.indexOf(user)] )"
                        v-longclick="() => chatLongClicked(user)"
                    >
                        <!-- v-longclick="() => changeValue(1)" -->
                        <!-- v-longclick="chatLongClicked(user ,  chats.indexOf(user) , chatted_ads[chats.indexOf(user)])" -->

                        <!-- chatted_ads[chats.indexOf(user)] -->
                        <div class="user-image">
                            <div class="message-number" v-if="user.unseen_count > 0">{{user.unseen_count}}</div>
                            <img v-if="user.user.image" :src="user.user.image | serverPath"  @error="$event.target.src = '/bazar/default-user-avatar.png'" />
                            <img v-else src="/bazar/default-user-avatar.png" />
                        </div>

                        <div class="user-name">

                            <div class="name text-limit">
                                {{user.user.name}}
                            </div>
                            <div class="last-message last-message-text text-limit">
                                <span class="last-message-user-name"> {{user.last_message.user_name}} : </span>
                                <span class="last-message-text" v-if="user.last_message.type == 'audio'" > Shared Audio </span>
                                <span class="last-message-text" v-if="user.last_message.type == 'image'" > Shared Image </span>
                                <span class="last-message-text" v-if="user.last_message.type == 'location'" > Shared Location </span>
                                <span class="last-message-text" v-if="user.last_message.type == 'text' || user.last_message.type == 'quickreply'" > {{user.last_message.message}} </span>
                                <span class="last-message-text" v-if="user.last_message.type == 'offer'" > {{user.last_message.message}} </span>
                            </div>
                            <div class="last-message text-limit">
                                {{user.ad.title }}
                                <!-- {{chatted_ads[index].title}} -->
                            </div>
                        </div>


                        <div class="last-time">
                            <div class="status" :class="{online: user.user.online == 'true'}" >
                                <i class="fas fa-circle"></i>
                            </div>
                            <div class="last-sent-time" v-if="user.last_message">
                                {{user.last_message.timestamp | timestampToDifference}}
                                <!-- {{user.user.online | timestampToDifference}} -->
                            </div>
                        </div>

                    </div>


                </div>
            </div>

            <div class="messages-col" :class="{'show-col':activeChatUser}" >

                <!-- <loader :small="false" v-if="newChat && !activeChatUser" ></loader> -->
                <loader class="bz-text-red" :small="false" v-if="newChat && loadingUsers || uploadingImages"></loader>
                <template v-if="!activeChatUser">
                    <div class="bz-white-box no-message-box">
                        <img src="/bazar/chatting.png" />
                        <div class="text">Select a Conversation</div>
                    </div>
                </template>
                <template v-else>
                <div class="bz-white-box cursor-pointer advertising-box-container" v-if="activeChatAd">
                    <div class="current-user-info"  >
                        <img v-if="activeChatUser.user && activeChatUser.user.image" :src="activeChatUser.user.image | serverPath" @error="$event.target.src = '/bazar/default-user-avatar.png'" />
                        <img v-else src="/bazar/default-user-avatar.png"  />
                        <div class="user-name">
                            {{activeUserDetails.name}}
                        </div>
                        <!-- <i @click="activeChatUser = ''" class="fas fa-times-circle text-danger"></i> -->
                        <div class="ml-auto d-lg-none d-md-block d-sm-block" v-if="activeChatUser">
                            <a href="javascript:;" @click="showingListMobile = true" v-show="!showingListMobile"  >
                                <img style="top:15px !important; right : 15px !important;" src="/bazar/list-icon.png" class="profile-list-icon" />
                            </a>
                            <div class="view-options" style="top : 20px !important" v-show="showingListMobile"  v-click-outside="outsideClickedMobile">

                                <div class="option">
                                    <a href="javascript:;" @click="blockUser" >
                                        <img src="/bazar/delete-user.png"/>
                                    </a>
                                </div>
                                <div class="option">
                                    <a href="javascript:;" @click="deleteChat" >
                                        <img src="/bazar/delete-green.png" />
                                    </a>
                                </div>

                                <div class="option">
                                    <a href="javascript:;" @click="activeChatUser = ''"  >
                                        <i class="mt-2 fas fa-times-circle"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <router-link :to="'/product/'+ activeChatAd.ad_id +'/view'" class="ad-box-link">
                    <advertising-box v-if="activeChatAd" :activeChatAd="activeChatAd"></advertising-box>
                    </router-link>
                </div>


                <div class="message-list" id="message-list" >
                <!-- v-chat-scroll -->

                    <div v-for="(message , index) in currentConversation" :key="index">

                    <div class="chat-time" > {{getChatTimes(message , index)}} </div>

                    <template v-if="message.type == 'audio'">
                        <bz-audio :audio_message="message"></bz-audio>
                    </template>


                    <template v-if="message.type == 'location'">
                        <div class="chat-image-box" :class="{'sent' : message.user == 'user' + $store.getters.isAuthenticated.id}">
                            <a target="_blank" :href="'https://maps.google.com/?q='+message.message">
                                <img src="/bazar/share-location.png"   class="chat-image" />
                            </a>

                            <div class="message-meta-details right" >
                                <div class="time">{{message.timestamp | timestampToTime}}</div>

                                <div class="message-read-status" v-if="message.user == 'user' + $store.getters.isAuthenticated.id" >
                                    <img src="/bazar/unread-icon.png" v-if="message.seen == false" class="read-status" />
                                    <img src="/bazar/read-icon.png" v-else class="read-status" />
                                </div>
                            </div>
                        </div>
                    </template>
                    <template v-if="message.type == 'image'">
                        <div class="chat-image-box" :class="{'sent' : message.user == 'user' + $store.getters.isAuthenticated.id}">
                            <a data-fancybox="images" :href="message.message | serverPath">
                            <!-- <a data-fancybox="images" :href="$root.server + '/public/images/' + message.message"> -->
                                <img :src="message.message | serverPath"  class="chat-image"/>
                                <!-- <img :src="$root.server + '/public/images/' + message.message"  class="chat-image"/> -->
                            </a>

                            <div class="message-meta-details right">
                                <div class="time">{{message.timestamp | timestampToTime}}</div>

                                <div class="message-read-status"  v-if="message.user == 'user' + $store.getters.isAuthenticated.id">
                                    <img src="/bazar/unread-icon.png" v-if="message.seen == false" class="read-status" />
                                    <img src="/bazar/read-icon.png" v-else class="read-status" />
                                </div>
                            </div>
                        </div>
                    </template>

                    <template v-if="message.type == 'text'">
                    <div v-if="message.user == 'user' + $store.getters.isAuthenticated.id" class="message-container message-sent">
                        <div class="message-body" > {{message.message}}

                            <div class="message-read-status">
                                <img src="/bazar/unread-icon.png" v-if="message.seen == false" class="read-status" />
                                <img src="/bazar/read-icon.png" v-else class="read-status" />
                            </div>
                        </div>
                        <div class="user-image">
                            <img v-if="$store.getters.isAuthenticated.profile_image" :src="$store.getters.isAuthenticated.profile_image | serverPath" @error="$event.target.src = '/bazar/default-user-avatar.png'" />
                            <img v-else src="/bazar/default-user-avatar.png"  />

                            <!-- <img src="/bazar/user-avatar.png" /> -->
                            <div class="time">{{message.timestamp | timestampToTime}}</div>

                        </div>
                        <!-- <i class="fas fa-check read-sign" v-if="message.seen == false"></i>
                        <i class="fas fa-check-double read-sign" v-else></i> -->
                    </div>

                    <div v-else class="message-container message-recieved">
                        <div class="user-image">
                            <!-- <img src="/bazar/default-user-avatar.png" /> -->
                            <img v-if="activeChatUser.user.image && activeChatUser.user.image" :src="activeChatUser.user.image | serverPath" @error="$event.target.src = '/bazar/default-user-avatar.png'" />
                            <img v-else src="/bazar/default-user-avatar.png"  />

                            <div class="time">{{message.timestamp | timestampToTime}}</div>
                        </div>
                        <div class="message-body"> {{message.message}}  </div>
                    </div>
                    </template>
                    <template  v-if="message.type == 'quickreply'">
                        <div class="quick-reply-message">
                            <div class="text"> {{ message.message }} </div>

                            <div class="message-ad">
                                <div class="ad-image">
                                    <img v-if="activeChatAd.image" :src="activeChatAd.image | serverPath"  @error="$event.target.src = '/bazar/no-image-preview.png'"  />
                                    <img v-else src="/bazar/no-image-preview.png"  />
                                </div>

                                <div class="ad-details">
                                    <div class="ad-title">{{activeChatAd.title}}</div>
                                    <div class="ad-price">{{$store.getters.getCuerrency}} {{activeChatAd.price}}</div>
                                    <div class="message-date">{{message.timestamp | timestampToTime}}
                                        <div class="message-read-status" v-if="message.user == 'user' + $store.getters.isAuthenticated.id">
                                            <img src="/bazar/unread-icon.png" v-if="message.seen == false" class="read-status" />
                                            <img src="/bazar/read-icon.png" v-else class="read-status" />
                                        </div>
                                    </div>

                                    <div class="ad-date"> {{message.timestamp | timestampToDate}} </div>
                                </div>


                            </div>
                        </div>
                    </template>

                    <template  v-if="message.type == 'offer'">
                        <div class="offer-message">

                            <div class="text" v-if="message.user == 'user'+$store.getters.isAuthenticated.id" > Your have offered {{message.message}} </div>
                            <div class="my-offer-message-box" v-if="message.user == 'user'+$store.getters.isAuthenticated.id">

                                <div class="pending-offer" v-if="message.status == 'pending'">
                                    <div class="pending-offer-status-text" >Please wait for the user response</div>
                                    <div class="pending-offer-time" >{{message.timestamp | timestampToTime}}</div>
                                </div>

                                <template  v-if="message.status == 'accepted'">
                                    <div class="offer-price">
                                        <span class="price"> {{message.message}}</span>
                                        <span class="time">{{message.timestamp | timestampToTime}}</span>
                                    </div>
                                    <div class="offer-status">
                                        <div class="accepted-btn w-100"> <a href="javascript:;"  >Accepted</a> </div>

                                        <div class="offer-status-text">Please contact the user</div>
                                    </div>
                                </template>

                                <template  v-if="message.status == 'rejected'">
                                    <div class="offer-status">
                                        <div class="rejected-btn w-100"> <a href="javascript:;"  >Rejected</a> </div>
                                        <div class="offer-status-text"  >Make another offer</div>
                                    </div>
                                    <div class="offer-price">
                                        <span class="price"> {{message.message}}</span>
                                        <span class="time">{{message.timestamp | timestampToTime}}</span>
                                    </div>
                                </template>





                            </div>

                            <template v-else>
                            <div class="text"> New Offer </div>
                                <div class="offer-message-box" v-if="message.status == 'pending'">
                                    <div class="reject-btn"> <a @click="responseOffer(index , 'rejected')" href="javascript:;"  >
                                        <loader class="text-white" v-if="rejectingOffer == message"></loader>
                                        <span v-else>Reject</span>
                                         </a> </div>
                                    <div class="offer-price"> <span class="price">{{message.message}}</span> <span class="time">12:10 AM</span> </div>
                                    <div class="accept-btn"> <a @click="responseOffer(index , 'accepted')" href="javascript:;"  >
                                        <loader class="text-white" v-if="acceptingOffer == message"></loader>
                                        <span v-else>Accept</span>
                                    </a> </div>
                                </div>

                                <div class="offered-message-box" v-else>
                                    <div v-if="message.status == 'rejected'" class="rejected-btn"> <a href="javascript:;"  >Rejected</a> </div>
                                    <div class="offer-price"> <span class="price">{{message.message}}</span> <span class="time">12:10 AM</span> </div>
                                    <div  v-if="message.status == 'accepted'"  class="accepted-btn"> <a href="javascript:;"  >Accepted</a> </div>
                                </div>
                            </template>
                        </div>
                    </template>

                    </div>

                </div>

                <div class="message-input position-relative">
                    <div class="blocked-user" v-if="hasUserBlocked">
                        You have been blocked by user.
                    </div>

                    <div class="input-field">
                        <div>
                            <input @keyup.enter="sendNewMessage" placeholder="Write Message" v-model="message" />
                        </div>

                        <div class="icons">
                            <input type="file" class="d-none" ref="images_input" accept="image/*" @change="imagesSelected" multiple />
                            <b-spinner small v-if="uploadingImages"></b-spinner>
                            <i class="far fa-image" @click="$refs.images_input.click()" v-if="!uploadingImages"></i>
                            <i class="far fa-map-marker-alt" @click="getCurrentLocation"></i>
                            <!-- <i class="far fa-camera"></i> -->
                        </div>
                    </div>

                    <div class="send-btn">
                        <div class="sent-btn-box" @click="sendNewMessage">
                            <loader v-if="sending"></loader>
                            <img v-else src="/bazar/send.png" />
                        </div>
                    </div>
                </div>

            </template>
            </div>

            <div class="profile-col bz-white-box">
                <loader class="text-bz-red" :small="false" v-if="loadingUserDeails"></loader>
                <template v-if="!activeChatUser || !activeUserDetails" >

                </template>
                <template v-else>
                <div class="user-info"  v-click-outside="outsideClicked">
                    <a href="javascript:;"   @click="showingList = true" v-show="!showingList"  >
                        <!-- data-toggle="tooltip" data-placement="top" title="Explore Options" -->
                        <img  src="/bazar/list-icon.png" class="profile-list-icon" />
                    </a>
                    <div class="view-options" v-show="showingList">

                        <div class="option">
                            <a href="javascript:;" @click="blockUser" >
                                <img src="/bazar/delete-user.png"/>
                            </a>
                            <!-- <div class="option-name">Block</div> -->
                        </div>
                        <div class="option">
                            <a href="javascript:;" @click="deleteChat" >
                                <img src="/bazar/delete-green.png" />
                            </a>
                            <!-- <div class="option-name">Delete</div> -->
                        </div>

                        <div class="option">
                            <a href="javascript:;" @click="showingList = false"  >
                                <i class="fas fa-times-circle"></i>
                            </a>
                            <!-- <div class="option-name">Block</div> -->
                        </div>
                    </div>
                    <div class="profile-image">
                        <div class="small-text"> {{activeChatUser && activeChatUser.user.online == 'true' ? 'Onlne' : "" }}
                            <!-- <i class="fas fa-ellipsis-h float-right"></i> -->
                        </div>
                        <div class="profile-image-container" >
                            <img v-if="activeChatUser.user && activeChatUser.user.image" :src="activeChatUser.user.image | serverPath" @error="$event.target.src = '/bazar/default-user-avatar.png'" />
                            <img v-else src="/bazar/default-user-avatar.png" />
                            <i class="fas fa-circle" v-if="activeChatUser && activeChatUser.user.online == 'true'" ></i>
                        </div>
                    </div>

                    <div class="user-name"> <router-link :to="'/user/'+activeUserDetails.id+'/ads'"> {{activeUserDetails.name}} </router-link></div>

                    <div class="member-date"> <i class="fa fa-calendar-minus-o" aria-hidden="true" ></i>
                        Member since {{activeUserDetails.created_at | formatedDate}} </div>

                    <div class="user-social-media-accounts">
                        <a href="#">
                            <img src="/bazar/view-product-email.png" class="user-social-media-account" />
                        </a>

                        <a href="#" v-if="activeUserDetails.verify_phone == 'true'">
                            <img src="/bazar/view-product-mobile.png"  class="user-social-media-account" />
                        </a>

                        <a href="#" v-if="activeUserDetails.verify_facebook == 'true'">
                            <img src="/bazar/view-product.facebook.png"   class="user-social-media-account" />
                        </a>

                        <a href="#" v-if="activeUserDetails.verify_google == 'true'" >
                            <img src="/bazar/view-product-googleplus.png"   class="user-social-media-account" />
                        </a>
                    </div>

                    <!-- <div class="rating-area">
                        <a class="link-to-show" href="#" >See All Experiences (11)</a>
                    </div> -->

                    <show-ratings :user="activeUserDetails" v-if="activeUserDetails"></show-ratings>

                    <div class="user-stats">
                        <div class="user-stats-box ml-0" @click="$router.push('/user/'+activeUserDetails.id+'/ads')" >
                            <div>{{activeUserDetails.ads_count}}</div>
                            <div>Ads</div>
                        </div>
                        <div class="user-stats-box" @click="$router.push('/user/'+activeUserDetails.id+'/followings')">
                            <div>{{activeUserDetails.following}}</div>
                            <div>Following</div>
                        </div>
                        <div class="user-stats-box no-border" @click="$router.push('/user/'+activeUserDetails.id+'/followers')">
                            <div>{{activeUserDetails.followers}}</div>
                            <div>Followers</div>
                        </div>
                    </div>


                    <div class="response-time" v-if="activeUserDetails && activeUserDetails.average_response">Response in {{activeUserDetails.average_response | responseTimeDifference}}</div>


                    <user-country-show v-if="activeUserDetails && activeUserDetails.user_country" :user_country="activeUserDetails.user_country"></user-country-show>
               </div>
                </template>

            </div>
        </div>
    </div>

        <!-- @block-user="blockUser" -->
    <!-- <chat-options-dialog
        @delete-conversation="deleteChat"
        ref="conversationActionDialog"
    /> -->
</div>
</template>


<script>
import VueAudio from 'vue-audio';
import VueChatScroll from 'vue-chat-scroll'
import UserCountryShow from './chat/user-country-show.vue';
import AdvertisingBox from './chat/advertising-box.vue';
import chatOptionsDialog from './chat/chat-options-dialog.vue';
import Audio from './chat/audio.vue';
import ClickOutside from 'vue-click-outside'

export default{
    directives:{
        ClickOutside
    },
    components:{
        'vue-audio' : VueAudio,
        VueChatScroll,
        UserCountryShow,
        AdvertisingBox,
        chatOptionsDialog,
        'bz-audio': Audio,
    },
    props:{
        newChat:{

        }
    },
    created(){
        console.log('Chat')
        this.$root.$refs.chatComponent = this
    },

    mounted(){
        this.loadingUsers = true;


        firebase.app()
        // Get a reference to the database service
        var database = firebase.database();
        // Provide custom logger which prefixes log statements with "[FIREBASE]"
        firebase.database.enableLogging(function(message) {
            // console.log("[FIREBASE]", message);
        });

        if(!this.$root.$refs._wrapper.isDeltaLoaded){
            this.$root.$refs._wrapper.isDeltaLoaded = true
        }


        database.ref("messages").on("value" , snapshot => {
            // console.log(snapshot.val())

            this.allData.messages = snapshot.val();
            this.loadingUsers = false;
            // snapshot.forEach((sauceSnapshot) => {
            //     let sauce = snapshot.val();
            //     console.log(sauceSnapshot , 'sauceSnapshot')
            //     // sauces.push(sauce.id);
            // });
            // console.log(sauces , 'sauces')

        });

        database.ref("messages").on("child_changed" , snapshot => {
            // onWrite()
            console.log('Messages Updated' , snapshot.val() )
            if(this.activeUserDetails){
                setTimeout(() => {
                    this.updateSeenStatus(this.activeUserDetails.id)
                }, 500);

                this.acceptingOffer = ''
                this.rejectingOffer = ''
            }
        });

        database.ref("Ads").on("value" , snapshot => {
            this.allData.ads = snapshot.val();
        } )

        database.ref("Users").on("value" , snapshot => {
            this.allData.users = snapshot.val();
        })

        database.ref("Block/user"+this.$store.getters.isAuthenticated.id).on("value" , snapshot => {
            this.allData.blocks = snapshot.val();
        })

        database.ref("Chat/user"+this.$store.getters.isAuthenticated.id).on("value" , snapshot => {
            this.allData.chat = snapshot.val();
        })


        if(this.newChat){

            console.log(`this.newChat.chat_instance`, this.newChat)
            if(this.newChat.chat_instance){
                console.log(`should created chat instance` , this.newChat)

                let chat_instance = this.newChat.chat_instance

                database.ref('Chat/user' + this.newChat.user.id + '/ads' + this.newChat.ad.id + '_user'+ this.$store.getters.isAuthenticated.id).set({
                    ...chat_instance,
                });

                database.ref('Chat/user' + this.$store.getters.isAuthenticated.id + '/ads' + this.newChat.ad.id + '_user'+ this.newChat.user.id).set({
                    ...chat_instance,
                });

                this.newChat._ad = this.handleFirebaseAd(this.newChat.ad);
            }


        }

        database.ref("Users/user"+this.$store.getters.isAuthenticated.id).on("value" , snapshot => {
            this.fireUser = snapshot.val();
        });



        // this.fetchFirebaseDate()
    },

    destroyed(){
        firebase.database().ref("messages").off()
        this.$destroy();

        // firebase.database().ref("Ads").off()
        // firebase.database().ref("Users").off()
        // firebase.database().ref("Block/user"+this.$store.getters.isAuthenticated.id).off()
        // firebase.database().ref("Chat/user"+this.$store.getters.isAuthenticated.id).off()
    },
    computed:{
        _chats(){
            this.loadingUsers = true;

            let chats = []
            let message_keys = [];
            let messages = [];
            let inner = [];
            let inner_keys = [];

            this.chatted_messages = [];
            this.chatted_message_keys = [];

            Object.keys(this.allData.messages).map(index => {

                // index.includes('user' + this.$store.getters.isAuthenticated.id)

                if( index.split("_")[1] == 'user' + this.$store.getters.isAuthenticated.id && this.allData.messages[index] !== undefined && !inner_keys.includes(Object.keys(this.allData.messages[index]))){

                    // console.log(index , 'inner' , 'user' + this.$store.getters.isAuthenticated.id)
                    message_keys.push(index);
                    messages.push(this.allData.messages[index]);
                    inner_keys.push( ... Object.keys(this.allData.messages[index]))

                    Object.keys(this.allData.messages[index]).map( sub => {
                        // console.log(`sub`, sub , this.allData.messages[index][sub])
                        inner.push(this.allData.messages[index][sub])
                    } )

                }

            });
            this.chats = [];
            this.chatted_ads = [];
            this.chatted_ad_keys = [];
            this.chatted_user_keys = [];
            let doesNotHaveAnyValidChats = false;

            inner_keys.forEach( (_keyIndex , index) => {

                var chatUser = {};


                if(this.extractUserFromString(_keyIndex) !== undefined && this.extractUserFromString(_keyIndex).name && this.extractAdFromString(_keyIndex) !== undefined && this.allData.chat[_keyIndex] && this.allData.chat[_keyIndex].delete == false ){

                    this.chatted_ads.push(this.extractAdFromString(_keyIndex))
                    this.chatted_ad_keys.push(_keyIndex.split("_")[0])
                    this.chatted_user_keys.push(_keyIndex.split("_")[1])

                    chatUser.user = this.extractUserFromString(_keyIndex);
                    chatUser.ad = this.extractAdFromString(_keyIndex.split("_")[0])

                    chats.push(chatUser)
                }
            })

            if(inner_keys.length > 0 && chats.length == 0){
                doesNotHaveAnyValidChats = true
            }

            this.chatted_messages = inner;
            this.chatted_message_keys = inner_keys;
            this.chats = [...chats];

            chats.map( chat => {
                chat.conversation = this.getChatCoversation(chat)
                chat.last_message = this.getLastMessage(chat)
                chat.unseen_count = this.getUnseenCount(chat)
                chat.unread_count = this.getUreadCount(chat)
                chat.isNewChat = this.checkIfChatIsNew(chat.conversation)
            })

            this.chats = [...chats];

            chats.sort((x, y) => y.last_message.timestamp-x.last_message.timestamp)


            var self=this;
            // if(inner_keys > 0){
            if(chats && chats.length > 0 && this.allData && this.allData.messages && Object.keys(this.allData.messages).length > 0 && inner_keys.length > 0){
                // console.log(inner_keys  , 'inner_keys ')
                // console.log(chats , this.chatted_ads , this.chatted_message_keys , this.chatted_messages.length , 'this.chatted_messages.length')
                this.loadingUsers = false;
            }
            if(this.allData && this.allData.messages && Object.keys(this.allData.messages).length > 0 && (inner_keys.length == 0 || doesNotHaveAnyValidChats)){
                this.loadingUsers = false;
                this.noChatsFound = true;
            }

            console.log(`chats`, chats)
            if(chats.length){
                return chats.filter(function(chat){return chat.user && chat.user.name.toLowerCase().indexOf(self.search.toLowerCase())>=0;});
            }else{
                return [];
            }

            return chats
        },

        currentConversation(){
            let conversation = []
            this.chatDates = []

                if(this.activeChatUser && this.activeChatAd){

                    this.chats.map( (user , index) => {
                        // user.user == this.activeChatUser.user
                        if(user.user.name == this.activeChatUser.user.name && user.ad == this.activeChatUser.ad){
                            this.activeChatUser = user
                        }
                    })

                    let key = this.chatted_message_keys.indexOf('ads'+ this.activeChatAd.ad_id +'_'+ this.chatted_user_keys[this.chats.indexOf(this.activeChatUser)]);

                    conversation = this.chatted_messages[key];

                    console.log(`conversation`, conversation)
                }
                this.conversationUpdated();

            this.loadingChat = false;
            return conversation;

        },
        chatCount(){
            let counts = 0;
            this.chats.map(chat => {
                if(chat.unseen_count > 0){
                    counts = counts + 1
                }
            })
            return counts;
        },

        isUserBlocked(){

            let stat = false;
            // console.log(`this.allData.blocks`, this.allData.blocks)
            if(this.activeChatUser && this.activeChatAd && this.allData.blocks){
                stat = this.allData.blocks;
                // console.log(`stat`, stat)
            }
            // if(stat && stat['blockeduser'+this.$store.getters.isAuthenticated.id] == true){
            //     return true
            // }else{
            //     return false
            // }
        },
        hasUserBlocked(){

            let stat = false;
            if(this.activeChatUser && this.activeChatAd && this.allData.blocks){
                stat = this.allData.blocks['user' + this.activeUserDetails.id];
            }
            if(stat && stat['blockeduser'+this.$store.getters.isAuthenticated.id] == true){
                return true
            }else{
                return false
            }
        },

        chatTime(message){
            let date = this.$options.filters.timestampToDate(message.timestamp);
            let result = false;
            console.log(date , message.timestamp )
            if(!this.chatDates.includes(date)){
                this.chatDates.push(date)
                result = date;
            }
            console.log(result , 'result')
            return result;

        }
    },
    watch:{
        chats(){
            this.checkIfNewChat();
        },
    },
    data(){
        return{
            scrollOptions: { enabled: true, always: false, smooth: false, notSmoothOnInit: true },
            showMessages: false,
            __active: false,
            showingList: false,
            showingListMobile: false,
            sending: false,
            loadingUsers: true,
            loadingUserDeails: false,
            needtoCreateNewChat: false,
            alreadyHaveChatted: false,
            uploadingImages: false,
            loadingChat: false,
            noChatsFound: false,
            rejectingOffer: '',
            acceptingOffer: '',
            fireUser: '',
            allData: {
                messages : [],
                ads : [],
                blocks : [],
                users : [],
                chat : [],
            },
            activeChat: '',
            activeUserDetails: '',
            selectedActiveUserDetails: '',
            search: '',

            activeChatUser: '',
            activeChatAd: '',
            currentFireUser: '',
            message: '',

            chats: [],
            chatted_ads: [],
            chat_keys: [],
            chatted_users: [],
            chatted_ads: [],
            chatted_ad_keys: [],
            chatted_user_keys: [],
            chatted_messages: [],
            chatted_message_keys: [],
            active_conversation: [],
            acceptedTypes: ['image/gif', 'image/jpg', 'image/jpeg', 'image/png'],
            chatDates: [],

        }
    },
    methods:{
        outsideClicked(){
            this.showingList = false
        },
        outsideClickedMobile(){
            this.showingListMobiles = false
        },
        chatLongClicked(user){
            console.log(`chatLongClicked`, user)
            this.$refs.conversationActionDialog.showDialogBox(user);
        },

        checkIfNewChat(){

            if(this.newChat){
                // this.activeChatUser == '' || !this.activeChatUser.conversation
                firebase.database().ref('messages/ads' + this.newChat.ad.id + '_user' + this.newChat.user.id + '/ads' + this.newChat.ad.id + '_user'+ this.$store.getters.isAuthenticated.id).on('value' , snapshot => {

                    let selected = false
                    this.chats.map((chat,index) => {

                        if( chat.user.name == this.newChat.__user.user.name && chat.ad.ad_id == this.newChat.__user.ad.ad_id && !selected){

                            chat.conversation = this.getChatCoversation(chat)
                            chat.last_message = this.getLastMessage(chat)

                            selected = true

                            if(this.needtoCreateNewChat){
                                this.selectActiveChat(chat , index , this.chatted_ads[index]);
                            }
                        }
                    })


                    // this.createNewChatInstances();

                    if(!selected){
                        this.active_conversation = [];
                        this.needtoCreateNewChat = true;
                        this.activeChatUser = this.newChat.__user
                        // this.activeUserDetails = this.newChat.user
                        if(!this.activeUserDetails){
                            console.log(`this.newChat.user.id`, this.newChat.user.id)
                            this.loadUserInfo(this.newChat.user.id)
                        }
                        this.activeChatAd = this.handleFirebaseAd(this.newChat.ad);
                    }

                })
            }
        },
        conversationUpdated(){
            console.log('conversationUpdated called')
            setTimeout(() => {
                if(this.$el.querySelector("#message-list")){
                    this.$nextTick( () => {
                        var container = this.$el.querySelector("#message-list");
                            container.scrollTop = container.scrollHeight;
                    })
                }
            }, 200);
        },

        selectActiveChat(user , index  , ad ){

            this.chatDates = [];
            this.loadingChat = true;
            let key = this.chatted_message_keys.indexOf('ads'+ user.ad.ad_id +'_'+ this.chatted_user_keys[this.chats.indexOf(user)]);

            this.active_conversation = this.chatted_messages[key];
            this.activeChatUser = user
            this.activeChatAd = user.ad
            this.__active = true

            let user_key = this.chats.indexOf(user)
            let num = this.getIdOfString( this.chatted_user_keys[user_key])
            this.loadUserInfo(num)
            this.updateSeenStatus(num)

            this.conversationUpdated()
        },

        getChatCoversation(user , index){
            let conversation = []
            if(user.user && user.ad){
                let key = this.chatted_message_keys.indexOf('ads'+ user.ad.ad_id +'_'+ this.chatted_user_keys[this.chats.indexOf(user)]);

                conversation = this.chatted_messages[key];
            }
            return conversation;

        },
        checkIfChatIsNew(conversation){
            var status = true
            if(conversation && Object.keys(conversation).length){
                Object.keys(conversation).map(index => {
                    // console.log(conversation[index].user)
                    if(conversation[index].user == "user" + this.$store.getters.isAuthenticated.id){
                        status = false;
                    }
                })
            }else{
                status = true;
            }
            return status;

        },
        getLastMessage(user , index){

            if(user.conversation){
                return user.conversation[Object.keys(user.conversation)[Object.keys(user.conversation).length - 1]];
            }else{
                return false
            }
        },
        getUnseenCount(user , index){
            let count = 0;
            if(user.conversation){
                Object.keys(user.conversation).map( index => {
                if(user.conversation[index] && user.conversation[index].user != 'user'+this.$store.getters.isAuthenticated.id && user.conversation[index].seen == false){
                    count = count + 1;
                }
            })
            }
            return count;
        },
        getUreadCount(user , index){
            let count = 0;
            if(user.conversation){
                Object.keys(user.conversation).map( index => {
                if(user.conversation[index] && user.conversation[index].user != 'user'+this.activeUserDetails.id && user.conversation[index].seen == false){
                    count = count + 1;
                }
            })
            }

            return count;
        },

        getUserConversation(user , ad , index){
            let key = this.chatted_message_keys.indexOf('ads'+ ad.ad_id +'_'+ this.chatted_user_keys[index])
            return this.chatted_messages[key];
        },
        fetchChattedUsers(){
            this.chatted_users.forEach( name => {
                this.chatted_users_details.push( this.all_users[name] )
            } )
            this.chatted_ads.forEach( name => {
                this.chatted_ads_details.push( this.all_ads[name] )
            } )
        },
        loadUserInfo(id){
            this.loadingUserDeails = true
            axios.post('/v1/user_details', {
                id: id,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
            this.loadingUserDeails = false

            if(res.data.status ==  'success'){
                this.activeUserDetails = res.data.user_detail
                this.selectedActiveUserDetails = res.data.user_detail
            }else{
                this.$toastr.error( res.data.message );
                this.selectedActiveUserDetails = ''
                this.activeUserDetails = ''
            }

            }).catch( err => {
                this.activeUserDetails = ''
                this.loadingUserDeails = false
                this.$toastr.error('An unexpected error occurred');
            })
        },

        getIdOfString(str){
            return str.replace( /^\D+/g, '');
        },

        extractAdFromString(string){

            let id = string.split("_")[0];
            id = this.getIdOfString(id);
            return this.allData.ads['ads' + id];

        },
        extractUserFromString(string){

            let id = string.split("_")[1];
            id = this.getIdOfString(id);
            // console.log(this.allData.users['user' + id] , id)
            return this.allData.users['user' + id];
        },

        sendNewMessage() {

            if(this.message && !this.sending){

                this.sending = true;
                var timestamp = new Date().getTime();

                let message = [];

                message[timestamp] = {
                    message : this.message,
                    seen : false,
                    timestamp: timestamp,
                    type: 'text',
                    user: 'user' + this.$store.getters.isAuthenticated.id,
                    user_name: this.$store.getters.isAuthenticated.name
                    // user_name: 'user' + this.$store.getters.isAuthenticated.name
                }

                console.log(`this.needtoCreateNewChat`, this.needtoCreateNewChat)

                setTimeout(() => {
                    if(this.needtoCreateNewChat){

                        firebase.database().ref('messages/ads' + this.activeChatAd.ad_id + '_user' +this.$store.getters.isAuthenticated.id + '/ads' + this.activeChatAd.ad_id + '_user'+ this.activeUserDetails.id).set({
                            ...message
                        }).then( res => {
                            // this.sending = false
                            this.message = ''
                        }).catch( err => {
                            this.sending = false
                        })

                        firebase.database().ref('messages/ads' + this.activeChatAd.ad_id + '_user' + this.activeUserDetails.id + '/ads' + this.activeChatAd.ad_id + '_user'+ this.$store.getters.isAuthenticated.id).set({
                            ...message
                        }).then( res => {
                            // this.sending = false
                            this.sendPushNotification(this.message)
                            this.message = ''
                        }).catch( err => {
                            this.sending = false
                        })

                    }else{

                        firebase.database().ref('messages/ads' + this.activeChatAd.ad_id + '_user' +this.$store.getters.isAuthenticated.id + '/ads' + this.activeChatAd.ad_id + '_user'+ this.activeUserDetails.id).set({
                            ...this.currentConversation,
                            ...message
                            // user: _user
                        }).then( res => {
                            // this.sending = false
                            this.sendPushNotification(this.message)
                            this.message = ''
                        }).catch( err => {
                            this.sending = false
                        })

                        firebase.database().ref('messages/ads' + this.activeChatAd.ad_id + '_user' + this.activeUserDetails.id + '/ads' + this.activeChatAd.ad_id + '_user'+ this.$store.getters.isAuthenticated.id).set({
                            ...this.currentConversation,
                            ...message
                            // user: _user
                        }).then( res => {
                            // this.sending = false
                            this.message = ''
                        }).catch( err => {
                            this.sending = false
                        })

                    }
                    // console.log(reciever , 'reciever update')
                    var reciever = "";
                    firebase.database().ref('Users/user'+this.activeUserDetails.id).once( 'value' , snapshot => {
                        reciever = snapshot.val();
                    })

                    if(reciever){
                        reciever.msgcount = (parseInt(reciever.msgcount) + 1).toString();
                        // console.log(reciever , 'reciever')
                        firebase.database().ref('Users/user'+this.activeUserDetails.id).set({
                            ...reciever
                        })
                    }
                    this.sending = false
                    if(this.needtoCreateNewChat){
                        if(this.newChat){
                            this.selectActiveChat(this._chats[0]  , 0 , this._chats[0].ad);
                        }
                    }

                    if(this.activeChatUser.isNewChat){
                        this.upadteUserResponseTime();
                    }
                }, 500);


            }

            this.conversationUpdated()

        },
        updateSeenStatus(id){
            if(!this.needtoCreateNewChat){

                let _seen = Object.assign( {} , this.currentConversation ) ;
                let unseen_count = 0;
                Object.keys(_seen).map( index => {
                    if(_seen[index].user != 'user' + this.$store.getters.isAuthenticated.id){
                        if(_seen[index].seen == false){
                            unseen_count = unseen_count + 1;
                        }
                        _seen[index].seen = true
                    }
                });

                // console.log(unseen_count , 'unseen_count')

                if(Object.keys(this.currentConversation).length){

                    firebase.database().ref('messages/ads' + this.activeChatAd.ad_id + '_user' +this.$store.getters.isAuthenticated.id + '/ads' + this.activeChatAd.ad_id + '_user'+ id).set({
                        ..._seen
                    })
                    firebase.database().ref('messages/ads' + this.activeChatAd.ad_id + '_user' + id + '/ads' + this.activeChatAd.ad_id + '_user'+ this.$store.getters.isAuthenticated.id).set({
                        ..._seen
                    })

                    if(unseen_count > 0){

                        var reciever = "";
                        firebase.database().ref('Users/user'+this.$store.getters.isAuthenticated.id).once( 'value' , snapshot => {
                            reciever = snapshot.val();
                        })

                        if(reciever){
                            // console.log(reciever ,' reciever bef')
                            if(parseInt(reciever.msgcount) - unseen_count > 0){
                                reciever.msgcount = (parseInt(reciever.msgcount) - unseen_count).toString();
                            }else{
                                reciever.msgcount = "0";
                            }
                            // console.log('Users/user'+this.$store.getters.isAuthenticated.id ,reciever , unseen_count)
                            firebase.database().ref('Users/user'+this.$store.getters.isAuthenticated.id).set({
                                ...reciever
                            })
                        }
                    }
                }
            }else{
                this.needtoCreateNewChat = false
            }

        },

        deleteChat(){

            // Removing unread count if exists
            if(this.activeChatUser.unread_count > 0){
                let reciever = ''
                firebase.database().ref('Users/user'+this.activeUserDetails.id).once( 'value' , snapshot => {
                    reciever = snapshot.val();
                })
                console.log(`delete chat user count before`, reciever)
                if(reciever && parseInt(reciever.msgcount) >= this.activeChatUser.unread_count){
                    reciever.msgcount = (parseInt(reciever.msgcount) - parseInt(this.activeChatUser.unread_count)).toString();
                    console.log(`delete chat user count`, reciever)
                    firebase.database().ref('Users/user'+this.activeUserDetails.id).set({
                        ...reciever,
                    })
                }
            }

            firebase.database().ref('Chat/user' + this.$store.getters.isAuthenticated.id + '/ads' + this.activeChatAd.ad_id + '_user' + this.activeUserDetails.id).update({
                delete : true
            })
            firebase.database().ref('Chat/user' + this.activeUserDetails.id + '/ads' + this.activeChatAd.ad_id + '_user' +  this.$store.getters.isAuthenticated.id).update({
                delete : true
            })

            firebase.database().ref('messages/ads' + this.activeChatAd.ad_id + '_user' +this.$store.getters.isAuthenticated.id + '/ads' + this.activeChatAd.ad_id + '_user'+ this.activeUserDetails.id).set({
                ...[]
            })

            firebase.database().ref('messages/ads' + this.activeChatAd.ad_id + '_user' + this.activeUserDetails.id + '/ads' + this.activeChatAd.ad_id + '_user'+ this.$store.getters.isAuthenticated.id).set({
                ...[]
            })



            this.newChat = '';
            this.activeChatAd = ''
            this.activeUserDetails = ''
            this.activeChatUser = ''
            this.deleting_chat = false
        },

        responseOffer(index , response){

            if(!this.acceptingOffer && !this.rejectingOffer){

                if(response == 'accepted'){
                    this.acceptingOffer = this.currentConversation[index]
                }else{
                    this.rejectingOffer = this.currentConversation[index]
                }


                let _current_conversation = Object.assign( {} , this.currentConversation ) ;
                _current_conversation[index].status = response;

                firebase.database().ref('messages/ads' + this.activeChatAd.ad_id + '_user' + this.activeUserDetails.id + '/ads' + this.activeChatAd.ad_id + '_user'+ this.$store.getters.isAuthenticated.id).set({
                    ..._current_conversation,
                });

                firebase.database().ref('messages/ads' + this.activeChatAd.ad_id + '_user' + this.$store.getters.isAuthenticated.id + '/ads' + this.activeChatAd.ad_id + '_user'+ this.activeUserDetails.id).set({
                    ..._current_conversation,
                });

            }
        },

        blockUser(){
            var _block = []


            _block['blockeduser' + this.activeUserDetails.id] = true;
            firebase.database().ref('Block/user' + this.activeUserDetails.id + '/user' + this.$store.getters.isAuthenticated.id ).set({
                ..._block
            })
            // Before it was like this
            // _block['blockeduser' + this.$store.getters.isAuthenticated.id] = true;
            // firebase.database().ref('Block/user' + this.$store.getters.isAuthenticated.id + '/user' + this.activeUserDetails.id).set({
            //     ..._block
            // })

            axios.post('/v1/block_user', {
                user_id: this.$store.getters.isAuthenticated.id,
                block_id: this.activeUserDetails.id,
                type: 'block',
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {

            if(res.data.status ==  'true'){
                this.$toastr.success( this.activeUserDetails.name + ' Blocked' );
            }else{
                this.$toastr.error( res.data.message );
            }
            }).catch( err => {
                this.$toastr.error('An unexpected error occurred');
            })

        },
        handleFirebaseAd(db_ad){

            var price = ''
            if(db_ad.price_type != 'price'){
                price = db_ad.price_type
            }else{
                price = db_ad.price
            }

            let new_ad = {
                ad_id: db_ad.id.toString(),
                image: db_ad.images ? JSON.parse(db_ad.images)[0].image : '',
                mobileno: db_ad.mobile ? db_ad.mobile : "",
                mobileno_status: db_ad.hide_mobileno,
                price : price.toString(),
                title: db_ad.ad_title,
            }
            firebase.database().ref('Ads/ads' + db_ad.id).set({
                ...new_ad
            })

            return new_ad;
        },

        createNewChatInstances(){
            let check = [];

            let chat_instance = {
                timestamp : new Date().getTime(),
                seen :false,
                delete : false,
            }
            firebase.database().ref('Chat/user' + this.newChat.user.id + '/ads' + this.activeChatAd.ad_id + '_user'+ this.$store.getters.isAuthenticated.id).set({
                chat_instance,
            });

            firebase.database().ref('Chat/user' + this.$store.getters.isAuthenticated.id + '/ads' + this.activeChatAd.ad_id + '_user'+ this.newChat.user.id).set({
                chat_instance,
            });

        },
        isNumber() {
            return /^\d+$/.test(this);
        },

        sendPushNotification(message = ''){
            if(this.activeUserDetails){
                axios.post('/v1/chat_push' , {
                    id: this.activeUserDetails.id,
                    massage: 'You have a new message from ' + this.$store.getters.isAuthenticated.name ,
                    data: "",
                })
            }
        },
        imagesSelected(event)
        {
            let files = event.target.files
            if(!files) return;
            // console.log(files , ...files , event.target , Array.isArray(files))
            // console.log(files[0].name)
            this.uploadImage(files)

        },
        isValid(file)
        {
            return this.acceptedTypes.includes(file.type)
        },

        uploadImage(files)
        {
            this.uploadingImages = true;
            let uploadedImages = [];

            Object.keys(files).forEach(index => {
                if(this.isValid(files[index])){

                    var fd = new FormData();
                    fd.append('image', files[index])

                    axios.post('/v1/uploadimage', fd, {
                        headers: {
                            Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token,
                            'Content-Type': 'multipart/form-data',
                        },
                    })
                    .then(response => {

                        if(response.data.status ==  'success'){
                            // firebase
                            var timestamp = new Date().getTime();

                            let message = [];

                            message[timestamp] = {
                                message : response.data.image,
                                seen : false,
                                timestamp: timestamp,
                                type: 'image',
                                user: 'user' + this.$store.getters.isAuthenticated.id,
                                user_name: this.$store.getters.isAuthenticated.name
                                // user_name: 'user' + this.$store.getters.isAuthenticated.name
                            }

                            uploadedImages.push(message)

                            if(this.needtoCreateNewChat){
                                firebase.database().ref('messages/ads' + this.activeChatAd.ad_id + '_user' +this.$store.getters.isAuthenticated.id + '/ads' + this.activeChatAd.ad_id + '_user'+ this.activeUserDetails.id).set({
                                    ...message
                                }).then( res => {
                                    this.sending = false
                                    this.message = ''
                                }).catch( err => {
                                    this.sending = false
                                })

                                firebase.database().ref('messages/ads' + this.activeChatAd.ad_id + '_user' + this.activeUserDetails.id + '/ads' + this.activeChatAd.ad_id + '_user'+ this.$store.getters.isAuthenticated.id).set({
                                    ...message
                                }).then( res => {
                                    this.sending = false
                                    this.message = ''
                                    this.sendPushNotification()
                                }).catch( err => {
                                    this.sending = false
                                })

                            }else{

                                firebase.database().ref('messages/ads' + this.activeChatAd.ad_id + '_user' +this.$store.getters.isAuthenticated.id + '/ads' + this.activeChatAd.ad_id + '_user'+ this.activeUserDetails.id).set({
                                    ...this.currentConversation,
                                    ...message
                                    // user: _user
                                }).then( res => {
                                    this.sending = false
                                    this.message = ''
                                }).catch( err => {
                                    this.sending = false
                                })

                                firebase.database().ref('messages/ads' + this.activeChatAd.ad_id + '_user' + this.activeUserDetails.id + '/ads' + this.activeChatAd.ad_id + '_user'+ this.$store.getters.isAuthenticated.id).set({
                                    ...this.currentConversation,
                                    ...message
                                    // user: _user
                                }).then( res => {
                                    this.sending = false
                                    this.sendPushNotification()
                                    this.message = ''
                                }).catch( err => {
                                    this.sending = false
                                })

                            }

                            if( index == Object.keys(files).length - 1){
                                this.uploadingImages = false
                                console.log(`this.uploadingImages after`, this.uploadingImages)
                            }


                            // console.log(index , index == Object.keys(files).length - 1 , index , Object.keys(files).length , 'Finished')

                        }
                    })
                    .catch(error => {
                        this.$toastr.error('Image Upload Failed');
                        this.uploading = false
                        this.uploadingImages = false;
                    })

                }else{
                    this.$toastr.error('File should be of image type');
                }

            })
            console.log(`this.uploadingImages after loop`, this.uploadingImages)
        },


        getCurrentLocation(){
            if( navigator.geolocation )
                {
                // Call getCurrentPosition with success and failure callbacks
                navigator.geolocation.getCurrentPosition( position => {
                    // alert('success')

                    var timestamp = new Date().getTime();
                    let message = [];

                    message[timestamp] = {
                        message : position.coords.latitude + "," + position.coords.longitude ,
                        seen : false,
                        timestamp: timestamp,
                        type: 'location',
                        user: 'user' + this.$store.getters.isAuthenticated.id,
                        user_name: this.$store.getters.isAuthenticated.name
                        // user_name: 'user' + this.$store.getters.isAuthenticated.name
                    }

                    if(this.needtoCreateNewChat){
                        firebase.database().ref('messages/ads' + this.activeChatAd.ad_id + '_user' +this.$store.getters.isAuthenticated.id + '/ads' + this.activeChatAd.ad_id + '_user'+ this.activeUserDetails.id).set({
                            ...message
                        }).then( res => {
                            this.sending = false
                            this.message = ''
                        }).catch( err => {
                            this.sending = false
                        })

                        firebase.database().ref('messages/ads' + this.activeChatAd.ad_id + '_user' + this.activeUserDetails.id + '/ads' + this.activeChatAd.ad_id + '_user'+ this.$store.getters.isAuthenticated.id).set({
                            ...message
                        }).then( res => {
                            this.sending = false
                            this.message = ''
                            this.sendPushNotification()
                        }).catch( err => {
                            this.sending = false
                        })

                    }else{

                        firebase.database().ref('messages/ads' + this.activeChatAd.ad_id + '_user' +this.$store.getters.isAuthenticated.id + '/ads' + this.activeChatAd.ad_id + '_user'+ this.activeUserDetails.id).set({
                            ...this.currentConversation,
                            ...message
                            // user: _user
                        }).then( res => {
                            this.sending = false
                            this.message = ''
                        }).catch( err => {
                            this.sending = false
                        })

                        firebase.database().ref('messages/ads' + this.activeChatAd.ad_id + '_user' + this.activeUserDetails.id + '/ads' + this.activeChatAd.ad_id + '_user'+ this.$store.getters.isAuthenticated.id).set({
                            ...this.currentConversation,
                            ...message
                            // user: _user
                        }).then( res => {
                            this.sending = false
                            this.message = ''
                            this.sendPushNotification()
                        }).catch( err => {
                            this.sending = false
                        })

                    }

                    // this.$toastr.success('Your Location has been updated on the map');

                }, () => {
                        this.$toastr.error('Location Permission is required');
                    // alert('fail')
                } );
                }
                else
                {
                alert("Sorry, your browser does not support geolocation services.");
                }
            },

            getChatTimes(message , index){
                if(message.timestamp){

                    if(!this.currentConversation[Object.keys(this.currentConversation)[Object.keys(this.currentConversation).indexOf(index) - 1]] || (this.currentConversation[Object.keys(this.currentConversation)[Object.keys(this.currentConversation).indexOf(index) - 1]] && this.$options.filters.timestampToDate(this.currentConversation[Object.keys(this.currentConversation)[Object.keys(this.currentConversation).indexOf(index) - 1]].timestamp) != this.$options.filters.timestampToDate(message.timestamp)) ){
                        return this.$options.filters.timestampToDate(message.timestamp);
                    }
                }
                return "";
            },

            upadteUserResponseTime(){
                console.log(this.activeChatUser.ad.ad_id)
                axios.post('/v1/store_response' , {
                    sender_id : this.activeUserDetails.id,
                    user_id : this.$store.getters.isAuthenticated.id,
                    ad_id : this.activeChatUser.ad.ad_id,
                    first_message : this.currentConversation[Object.keys(this.currentConversation)[0]].timestamp,
                    first_reply : new Date().getTime(),
                },{
                    headers:{
                        Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                    }
                }).then( res => {
                    console.log(res)
                }).catch( err => {
                    console.log(err)
                })
            },
            deSelectChat(){
                this.newChat = '';
                this.activeChatAd = ''
                this.activeUserDetails = ''
                this.activeChatUser = ''
            },

            emptyMessageCounter(user_id , count = 0){

                var reciever = "";
                firebase.database().ref('Users/user'+user_id).once( 'value' , snapshot => {
                    reciever = snapshot.val();
                })
                if(reciever){
                    reciever.msgcount = count.toString()
                    firebase.database().ref('Users/user'+user_id).set({
                        ...reciever
                    })

                    this.$root.$emit('fire-user-update' , reciever)
                }
                // var reciever = "";
                // firebase.database().ref('Users/user'+this.$store.getters.isAuthenticated.id).once( 'value' , snapshot => {
                //     reciever = snapshot.val();
                // })
                // if(reciever){
                //     reciever.msgcount = '0'
                //     firebase.database().ref('Users/user'+this.$store.getters.isAuthenticated.id).set({
                //         ...reciever
                //     })
                // }

            }

            // getChatTimes(message){
            //     let date = this.$options.filters.timestampToDate(message.timestamp);
            //     let result = false;
            //     if(!this.chatDates.includes(date)){
            //         this.chatDates.push(date)
            //         result = true;
            //     }
            //     console.log(date , message.timestamp , message.message , result )
            //     // console.log(result , 'result')
            //     return result;

            // },

    }
}


</script>




<style>
</style>
