<template>
    <section class="content-section text-center grey-background" id="about">
    <div class="container contact-us-page">

        <div class="bz-dashboard-page-header mb-5">
                <div class="bz-page-header-title text-center">
                    Contact us
                </div>
            </div>

            <div class="card-box" v-if="!submitted">

            <div class="section-title text-center w-100 mb-5">
                <br>
                <p> Our knowledgeable and welcoming customer service team will be happy to help with any questions or queries.</p>
            </div>
            <br><br>
            <div class="section-body w-100 ">
                <div class="row">
                <div class="col-md-4 text-left">
                    <h5>Contact us</h5>
                    <p><i class="far fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;Email: &nbsp;&nbsp;openbazarnl@gmail.com <b></b> </p>
                    <br>
                    <h5>Available Hours: </h5>
                    <p>Monday- Saturday: 8am-9pm <br> Sunday: 10am-4pm</p>
                </div>

                <div class="col-md-8">
                    <form  @submit.prevent="sendContactUSMessage" >
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" v-model="first_name" class="form-control" name="first_name" placeholder="*First Name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" v-model="last_name" class="form-control" name="last_name" placeholder="*Last Name" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" v-model="email" class="form-control" name="email" placeholder="*Email" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" v-model="phone" class="form-control" name="phone" placeholder="*Phone" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <select v-model="type" class="form-control" name="type" placeholder="Select.." required>
                                        <option value="" selected disabled>Select ...</option>
                                        <option value="Suggestion">Suggestion</option>
                                        <option value="Complaint">Complaint</option>
                                        <option value="Feedback">Feedback</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea v-model="message" class="col-md-12 form-control" name="message" placeholder="Enter message" rows="4" cols="50"></textarea>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button type="submit" :disabled="loading" name="send_query"  class="btn btn-rounded text-uppercase send_query">
                                        <loader v-if="loading"></loader>
                                        <span v-else>Submit <i class="fa fa-angle-right"></i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <section v-else class="content-section text-center grey-background query-success-page card bg-white" id="about">
        <div class="container">
            <div class="row">
                <div class="section-title text-center w-100">
                    <h2>Thank you for your interest</h2>
                    <br>
                    <p> Your message has been sent successfully</p>
                </div>
                <br><br>
                <div class="section-body text-left w-100">
                    <div class="offset-1 col-md-10">

                            <p>One of our customer service will contact you within 48 hours.</p>
                            <br>
                            <h4>Psssst, finally...</h4>
                            <br>
                            <p>Do you already receive our updates via e-mail and social media?</p>
                            <p>Below you can see how can continue to follow us.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
</section>


</template>

<script>
export default {
    data(){
        return{
            name: '',
            first_name: '',
            last_name: '',
            email: '',
            phone: '',
            type: '',
            message: '',
            loading: false,
            submitted: false,
        }
    },
    methods:{
        sendContactUSMessage(){
            this.loading = true;
            axios.post('/v1/contact_us', {
                name: this.first_name + ' ' + this.last_name,
                email: this.email,
                subject: this.type,
                mobile: this.phone,
                message: this.message,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
            console.log(res.data)

            this.loading = false

            if(res.data.status ==  'true'){

                this.name = ''
                this.email = ''
                this.type = ''
                this.phone = ''
                this.message = ''
                this.submitted = true

            }else{
                console.log(res)
                this.loading = false
                this.$toastr.error( res.data.message );
            }
            }).catch( err => {
                this.loading = false
                this.$toastr.error('An unexpected error occurred');
            })

        },

    }
}
</script>

<style scoped>
    .open_text{
        text-align: left !important;
    }
    .hero-section{
        padding: 5px 0 !important;
        height: 0% !important;
    }
    .hero-text {
        padding-top: 80px !important;
    }
    .send_query{
        background-color:#4e6a80bd;
        color: white;
        height: 37px;
        width: 92px;
        position: relative;
    }
    .send_query:hover { color: white; background-color: #4e6a80d9; }
    .footer-section{background-color: #f8f8f8 !important;}

    .contact-us-page ul{
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
    }
    .contact-us-page p{
        font-size: 17px;
        line-height: 1.3;
        color: #57748C;
        font-weight: 400;
        margin: 0 0 10px;
    }
    .mandatory-feild{
        text-align: left;
        color: #d11d1d;
        font-size: 10px;
    }




    .open_text{
        text-align: left !important;
    }
    .hero-section{
        padding: 5px 0 !important;
        height: 0% !important;
    }
    .hero-text {
        padding-top: 80px !important;
    }
    .send_query{background-color:#516A7C; color: white;}
    .send_query:hover { color: white;}
    .footer-section{background-color: #f8f8f8 !important;}

    .query-success-page .section-body{
        margin: 15px;
        margin-top: 45px;
    }

    .query-success-page ul{
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
    }
    .query-success-page h4{
        font-size: 18px;
    }
    .query-success-page p{
        font-size: 17px;
        line-height: 1.3;
        color: #57748C;
        font-weight: 400;
        margin: 0 0 10px;
    }

</style>
