include ../../favicons/favicons
include ../../components/panel/panel

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Toxin range slider
    meta(name="description" content="Example of using toxin rangeslider that decorated as jquery plugin")
    meta(name="keywords" content="rangeslider, jquery plugin")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    +favicons     
    link(href="jquery-plugins/toxin-rangeslider/toxin-rangeslider.css" rel="stylesheet")         
    link(href="index.css" rel="stylesheet")             
  body
    ul.panels
      li.panels__column.panels__column1-1
        +panel({id:'p1', 
      slider: { isVertical: false, isTwoHandles: true, isTip: true,
      minValue: 2, maxValue: 1024, stepValue: 1, valueFrom: 2, valueTo: 7, 
      items: {indexFrom: 2, indexTo: 7, values: [2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]} } 
      })
      li.panels__column.panels__column1-2
        +panel({id:'p2', 
      slider: { isVertical: false, isTwoHandles: true, isTip: true,
      minValue: 0, maxValue: 1000, stepValue: 1,
      valueFrom: 10, valueTo: 500 }
      })
      li.panels__column.panels__column1-3
        +panel({id:'p3', 
        slider: { isVertical: false, isTwoHandles: true, isTip: true,
        minValue: 0, maxValue: 1200, stepValue: 1, valueFrom: 2, valueTo: 8,  
        items: {indexFrom: 1, indexTo: 9, values: ['январь','февраль','март','апрель','май','июнь','июль','август','сентябрь','октябрь','ноябрь','декабрь']} }
        })
      li.panels__column.panels__column1-4
        +panel({id:'p4', 
        slider: { isVertical: false, isTwoHandles: false, isTip: true,
        minValue: 0, maxValue: 1200, stepValue: 1, valueFrom: 2, valueTo: 8, 
        items: {indexFrom: 1, indexTo: 9, values: ['январь','февраль','март','апрель','май','июнь','июль','август','сентябрь','октябрь','ноябрь','декабрь']} }
        })
      li.panels__column.panels__column2-1
        +panel({id:'p7', isVertical: true,
      slider: { isVertical: true, isTwoHandles: true, isTip: true,
      minValue: 1000, maxValue: 2220, stepValue: 100, valueFrom: 1100, valueTo: 1600} 
      })        
      li.panels__column.panels__column2-2
        +panel({id:'p8', isVertical: true,
        slider: { isVertical: true, isTwoHandles: true, isTip: true,
        minValue: 0, maxValue: 1220, stepValue: 1, valueFrom: 100, valueTo: 600} 
        })

      li.panels__column.panels__column3-1
        +panel({id:'p9', isVertical: true,
        slider: { isVertical: true, isTwoHandles: true, isTip: true,
        minValue: 1000, maxValue: 2220, stepValue: 100, valueFrom: 1100, valueTo: 1600} 
        })
      li.panels__column.panels__column3-2
        +panel({id:'p10', isVertical: true,
        slider: { isVertical: true, isTwoHandles: true, isTip: true,
        minValue: 1000, maxValue: 2220, stepValue: 100, valueFrom: 1100, valueTo: 1600} 
        })
      li.panels__column.panels__column4-1
        +panel({id:'p5', isVertical: true,
        slider: { isVertical: true, isTwoHandles: true, isTip: true,
        minValue: 0, maxValue: 1220, stepValue: 1, valueFrom: 100, valueTo: 600} 
        })
      li.panels__column.panels__column4-2
        +panel({id:'p6', isVertical: true,
      slider: { isVertical: true, isTwoHandles: true, isTip: true,
      minValue: 1000, maxValue: 2220, stepValue: 100, valueFrom: 1000, valueTo: 1600} 
      })    
    script(type="text/javascript" src="jquery/jquery.js")
    script(type="text/javascript" src="jquery-plugins/toxin-rangeslider/toxin-rangeslider.js")
    script(type="text/javascript" src="index.js")
