<template>
  <div class="content category-products">

        <loading
            :active.sync="fullPageLoading"
            loader="dots"
            :height="170"
            :width="170"
            color="#d11d1d"
            background-color="rgb(0 0 0)"
            :lock-scroll="true"
            :is-full-page="true"></loading>


    <div class="search-bar">


        <div class="searh-bar-conatiner">
                <input @keydown.enter="searchQuery" class="search-filter" v-model="search" placeholder="What are you looking for... " />

                <div class="select-2-filter-box category-dropdown">

                    <v-select
                        v-model="main_category"
                        class="v-select-for-location v-select-in-categories v-select-for-categories"
                        :clearable="false"
                        :searchable="false"
                        :options="main_categories"
                        label="text"
                        @input="mainCategoryChanged"
                    >
                         <!--  -->
                        <template #open-indicator="{ attributes }">
                            <span class="select-open-indicator" v-bind="attributes"> <img src="/bazar/down-arrow (1).png" /> </span>
                        </template>

                        <template #selected-option="{ text , icon }">
                            <div class="category-icon-container">
                                <img :src="icon" />
                                <span>
                                    {{text}}
                                </span>
                            </div>
                        </template>

                        <template #option="{ text , icon }">
                            <div class="d-flex align-item-center">
                                <img class="option-icon" :src="icon" />
                                <span class="vs__selected">{{ text }}</span>
                            </div>
                        </template>
                    </v-select>

                </div>

                <div class="select-2-filter-box">
                    <div class="abs-location-icon-category-products">
                        <img src="/bazar/location.png" />
                    </div>

                    <v-select
                        :filter="$root.citySearch"
                        v-model="city"
                        class="v-select-for-location v-select-in-categories v-select-location-only v-select-location--cateogry bg-white"
                        :clearable="false"
                        :options="$root.cities"
                        label="city_name"
                        placeholder="Select City"
                        @input="searchQuery"
                        @keydown.enter="searchQuery"
                    >
                        <template #open-indicator="{ attributes }">
                            <span class="select-open-indicator" v-bind="attributes"> <img src="/bazar/down-arrow (1).png" />
                                </span>
                        </template>
                    </v-select>
                </div>


            <button class="search-filter search-filter-button" @click="searchQuery" >SEARCH </button>

            <!-- <i @click="changeAdsToView('list')"  v-if="$store.getters.getViewOption == 'card'" class="view-switch-icon fas fa-list"></i>
            <i @click="changeAdsToView('card')"  v-if="$store.getters.getViewOption == 'list'" class="view-switch-icon fas fa-list"></i> -->

            <div class="w-100 search-filter-sm">
                <button class="search-filter filter-modal-button" @click="openSearchModal" >FILTER MENU</button>
                <button class="search-button-sm" @click="searchQuery" >SEARCH</button>

            </div>

        </div>

    </div>


    <div class="container-fluid container-box">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 filter-cols">



                <div class="filter-sidebar filters-desk">

                    <sidebar-filters-new
                        ref="sidebar_filters"
                        :categories="sub_categories"
                        :category="selected_category"
                        :isSearching="isSearchingNow"
                        @filters-update="filtersUpdateNew"
                        @filters-cleared="filtersCleared"
                        :category_changing="category_changing"
                        :filters="new_filters" >
                    </sidebar-filters-new>
                </div>


                <div class="sticky-container">

                <div class="side-bar-filters qr-code-container">
                    <div class="heading">Open Bazar mobile App</div>
                    <div class="sub-heading">Search Anytime Anywhere</div>

                    <div class="barcode-container">
                        <router-link to="/get-the-app">
                            <!-- <img src="/bazar/favicon.png" class="open-bazar-icon"  /> -->

                            <img id='barcode' src="/bazar/latest-qr.png" alt="" title="HELLO" />
                            <!-- <img id='barcode' src="https://api.qrserver.com/v1/create-qr-code/?data=HelloWorld&amp;size=150x150" alt="" title="HELLO" /> -->
                        </router-link>
                    </div>

                    <div class="download-statement">
                        <div>Scan or click to</div>
                        <router-link to="/get-the-app" class="download-text cursor-pointer">Download</router-link>
                    </div>
                </div>


                <div class="googe-adsense-banner category-ads-banner-vertical-container">

                        <!-- style="display:inline-block;width:300px;height:800px" -->
                    <Adsense
                        data-ad-client="ca-pub-2462277409343800"
                        data-ad-slot="8528415064"
                        style="border: 0pt none;display: inline-block;width: 100%;"
                        ins-class="category-ads-banner-vertical"
                        data-ad-format="auto"
                        data-full-width-responsive="true"
                    ></Adsense>

                    <!-- <script2 async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script2>
                    <ins
                        class="adsbygoogle"
                        style="display:block"
                        data-ad-client="ca-pub-2462277409343800"
                        data-ad-slot="7784899400"
                        data-full-width-responsive="true"
                        data-adtest="on"
                        ></ins>
                    <script2>(adsbygoogle = window.adsbygoogle || []).push({});</script2> -->

                    <!-- <amp-ad width="100vw" height="320"
                        type="adsense"
                        data-ad-client="ca-pub-2462277409343800"
                        data-ad-slot="6003562808"
                        data-auto-format="rspv"
                        data-full-width="">
                    <div overflow=""></div>
                    </amp-ad> -->

                    <!-- <Adsense
                        data-ad-client="ca-pub-2462277409343800"
                        data-ad-slot="6003562808"
                        data-ad-test="data-ad-test"
                        >
                    </Adsense> -->
                    <!-- <img src="/bazar/vertical-adsense.png" /> -->
                </div>

                </div>
            </div>


            <!-- products-cols   -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10  p-0 m-0 products-container">

                <div class="col-12 p-0 m-0">
                    <Adsense
                        data-ad-client="ca-pub-2462277409343800"
                        data-ad-slot="4961237970"
                        style="border: 0pt none;display: inline-block;width: 100%;height: 90px;"
                        ins-class="category-products-banner-top"
                        is-new-ads-code="yes"
                    ></Adsense>

                    <div class="categories-slider">
                    <loader v-if="loading_categories" class="bz-text-red" ></loader>

                        <ul id="responsive">

                            <!-- @for($i = 0; $i < 20; $i++) -->
                            <li v-for="(category,index) in categories" :key="index" :class="{'active-category': category == selected_category}" @click="updateCategory(category)" >
                                <div class="slider-category-item">
                                    <img :src="$root.virtualmin_server + 'public/images/' + category.image" />
                                </div>
                                <div class="slider-category-name">{{category.en_name.substr(0,15)}}</div>

                            </li>
                            <!-- @endfor -->
                        </ul>

                        <div type="button" class="custom-slider-control" id="goToPrevSlide"> <i class="fa fa-angle-left"></i> </div>
                        <div type="button" class="custom-slider-control" id="goToNextSlide"> <i class="fa fa-angle-right"></i></div>


                    </div>

                <div class="col-12 p-0 m-0">

                    <div class="no-ads-message" v-if="!loading && ads.length == 0" >No Ads Found</div>

                    <div v-if="$store.getters.getViewOption == 'card'" class="product-section" id="product-section">
                        <div class="product-list">

                            <template  v-for="(ad,index) in ads">

                                <Adsense
                                    v-if="(index > 0) && (index % $root.numberOfAdsForAdsense === 0)"
                                    :key="index * index + index "
                                    data-ad-client="ca-pub-2462277409343800"
                                    data-ad-slot="9168060382"
                                    style="border: 0pt none;display: inline-block;width: 100%;"
                                    is-new-ads-code="yes"
                                    ins-class="category-ads-in-feed-banners"
                                ></Adsense>

                                <single-product @load-more-ads="loadMoreAds" :no_more_products="no_more_products" :searching="isSearchingNow" :index="index" :ad="ad" :key="ad.id"></single-product>


                                <!-- <InArticleAdsense
                                    v-if="(index > 0) && (index%5 === 0)"
                                    :key="index * index + index "
                                    data-ad-client="ca-pub-2462277409343800"
                                    data-ad-slot="3502835629"
                                    ins-class="product-box-ad"
                                    root-class="product-box"
                                    style="border: 0pt none;display: inline-block;width: 100%;height: 385px;"
                                    is-new-ads-code="yes"
                                    data-ad-test="yes"
                                    data-ad-format="auto"
                                    data-full-width-responsive="true"

                                >

                                </InArticleAdsense> -->
                            </template>
                            <!-- <related-single-product  v-for="(ad , index) in ads" :ad="ad" :key="index"></related-single-product> -->
                            <!-- <Intersect v-if="!no_more_products && !isSearching()" @enter="loadMoreAds" @leave="pageEnd('Leave')"  >
                                <div></div>
                            </Intersect> -->

                            <loading-single-product v-show="loading"  v-for="index in 8" :key="index"></loading-single-product>

                        </div>
                        <!-- <div class="product-list" v-if="loading">
                            <loading-single-product  v-for="index in 8" :key="index"></loading-single-product>
                        </div> -->
                    </div>

                </div>


            </div>
        </div>

    </div>


</div>





<div class="modal fade" id="searchFilterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close modal-close-button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="filters-mobile">
            <!-- <modal-filters :filters="filters"></modal-filters> -->
            <sidebar-filters-new
                ref="sidebar_filters"
                :categories="sub_categories"
                :isSearching="isSearching"
                :category="selected_category"
                @filters-update="filtersUpdateNew"
                :category_changing="category_changing"
                :filters="new_filters" >
            </sidebar-filters-new>

        </div>
    </div>
    </div>
</div>
</div>
</div>

</template>

<script>
import singleProduct from './singleProduct.vue';
import Loading from 'vue-loading-overlay';
import SingleProductList from './singleProductList.vue';
import SocialShare from './view-product/social-share.vue';
import LoadingSingleProductList from './loadingSingleProductList.vue';


export default {
  components: { 'single-product': singleProduct , Loading, SingleProductList, SocialShare, LoadingSingleProductList },
    props:{
        search_query:{
            type: Object,
        },
        main_category_id:{}
    },
    data(){
        return{
            slider: '',
            main_category: '',
            selected_category: '',
            searched_results: 0,
            city: "",
            // city: this.$root.cities[0],
            type: 'all',
            shareAd: '',
            index: 1,
            search_index: 0,
            sub_categories: [],
            categories: [],
            ads: [],
            loading_categories: false,
            no_more_products: false,
            loading_ads: false,
            loading: false,
            fullPageLoading: false,
            category_changing: false,
            maincategory_id: '',
            main_categories:[
                { id:1 , text: 'Sell Categories' , icon: '/bazar/sell1.png' },
                { id:2 , text: 'Rent Categories' , icon: '/bazar/rent1.png' },
                { id:3 , text: 'Services Categories' , icon: '/bazar/services1.png' },
                { id:4 , text: 'Shops Categories' , icon: '/bazar/shop1.png' },
            ],
            country: 'Canada',
            search: '',
            main_category: { id:1 , text: 'Sell Categories' , icon: '/bazar/sell1.png' },
            new_filters:{
                sub_categories:[],
                sub_category:'',
                price_range: ['' , ''],
                // price_range:{ min: 0 , max: 5000 },
                price_type:[],
                sorted_by:[],
                posted_within:[],
                condition:[]
            },
        }
    },
    computed:{
        isSearchingNow(){
            if(this.isSearching()){
                return true;
            }else{
                return false
            }
        }
        // isSearching(){

        //     // console.log( this.city.city_name.replace(/\r?\n|\r/g, '') != 'All Cities' , this.city.city_name.replace(/\r?\n|\r/g, '')  , 'isSearching Vales')

        //     console.log('isSearching')


        //     if(this.new_filters.condition.length == 1 || this.new_filters.sorted_by.length == 1 || this.new_filters.price_type.length == 1 || this.selected_category || this.search || this.city.city_name.replace(/\r?\n|\r/g, '') != 'All Cities'){

        //         return true

        //     }else{
        //         // console.log('false')
        //         return false
        //     }
        // }
    },

    destroyed(){
        this.$destroy();
    },
    mounted(){
        if(this.main_category_id){

            this.main_categories.map( cat => {
                if(cat.id == this.main_category_id){
                    this.main_category = cat;
                }
            })
        }else{
            this.main_category = this.main_categories[0]
        }
        // this.main_categories.map( cat => {
        //     if(cat.id == this.$route.params.id){
        //         this.main_category = cat;
        //     }
        // })

        this.getCategories();

        this.fetchAds();
        // console.log(this.$route.params.id)
        this.maincategory_id = this.$route.params.id;
        this.$root.$refs.products = this;

        this.$root.$on('main-category-changed' , (data) => {
            // console.log(`main-category-changed`, data)
            this.main_category = data;
            this.mainCategoryChanged()

        })
    },

    methods:{
        openAdShareModal(ad){
            console.log(`ad`, ad)
            this.shareAd = ad
            this.$refs.social_modal.openAdShareModal()
        },
        changeAdsToView(view){
            if(view == 'card'){
                this.$store.commit('setViewOption' , 'card')
            }else{
                this.$store.commit('setViewOption' , 'list')
            }
        },

        fuseSearch(options, search) {
            // console.log(options, search)
            let searched_cities = [];

            // console.log(options);
            options.map( option => {
                // console.log(option);

                // if( option.city_name.search(search) > -1 ){
                //     searched_cities.push(option);
                // }
                if( option.city_name.toLowerCase().search(search) > -1 ){
                    searched_cities.push(option);
                }
            })
            // console.log(searched_cities[0] , searched_cities.length , 'Filtered')

            if(searched_cities.length == 0){
                searched_cities = this.$root.cities;
            }
            return searched_cities;
            // return search.length
            //     ? options.map(({ item }) => item)
            //     : options.list;
        },


        searchInitiated(query = ''){
            console.log('Category Products' , query)
            if(query.search){
                this.search = query.search
            }else{
                this.search = ''
            }
            if(query.city){
                this.city = query.city
            }

            if(query.category){
                this.main_category = query.category
            }

            this.searchQuery();

        },
        updateNavbar(){
            let search_query = {
                search: this.search,
                city: this.city,
                category: this.main_category
            }
            if(this.$root.$refs.navbar){
                this.$root.$refs.navbar.updateSearchBar(search_query)
            }
        },

        searchQuery(){

            this.updateNavbar();
            // if(this.search || this.city.city_name != 'All Cities'){
            if(this.isSearching()){
                // this.searching = true;
                this.searchAds( true );
            }else{
                // this.searching = false;
                this.fetchAds( true );
            }

        },
        refreshProducts(){
            this.index = 1;
            this.ads = [];
            this.no_more_products = false;
            this.city = this.$root.cities[0];
            this.fetchAds();
        },

        fetchAds( reset = false ){

            console.log('fetchAds' , reset , this.no_more_products , this.isSearching() )

            this.updateNavbar();

            if(reset){
                this.ads = [];
                this.fullPageLoading = true;
                this.no_more_products = false;
                this.index = 1;
                window.scrollTo(0, 0);
            }

            this.loading = true

            axios.post('/get_all_post', {
                type: this.main_category.id,
                user_id: this.$store.getters.isAuthenticated.id,
                country_id: this.$store.getters.currentCountry.id,
                index: this.index,

            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {

                // console.log(res.data)
            this.loading = false
            this.fullPageLoading = false

            if(res.data.status ==  'success'){
                this.ads.push(...res.data.data)
                this.index = this.index + 1
            }else if(res.data.status ==  'fail'){
                this.no_more_products = true;
            }else{
                console.log(res)
                this.$toastr.error( res.data.message );
            }

            }).catch( err => {
                this.loading = false
                this.fullPageLoading = false
                this.$toastr.error('An unexpected error occurred');
            })
        },

        searchAds( reset = false ){

            if(reset){
                this.ads = [];
                this.fullPageLoading = true;
                this.no_more_products = false;
                this.index = 0;
            }

            this.loading = true

            axios.post('/v1/search_ads', {

                category: this.main_category.id,
                sub_sub_category: this.new_filters && this.new_filters.sub_category ? this.new_filters.sub_category.id : "",
                cat_id: this.selected_category.id,

                search: this.search,
                city: this.city.city_name,
                // index: this.index,
                country_id: this.$store.getters.currentCountry.id ,


                price_min: this.new_filters.price_range ? this.new_filters.price_range[0] : '' ,
                price_max: this.new_filters.price_range ? this.new_filters.price_range[1] : '' ,

                // sub_category: this.new_filters.sub_category ? this.new_filters.sub_category.id : '',
                price_type: this.new_filters.price_type.length ? this.new_filters.price_type[0] : '',
                condition: this.new_filters.condition.length ? this.new_filters.condition[0] : '',
                sort: this.new_filters.sorted_by.length ? this.new_filters.sorted_by[0] : '' ,
            },{
                headers:{
                    Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                }
            }).then (res => {
                // console.log(res.data)
                this.loading = false
                this.fullPageLoading = false

                if(res.data.status ==  'true'){

                    this.ads = res.data.data
                    window.scrollTo(0, 0);

                    this.searched_results = res.data.data.length
                    // this.index = this.index + 1

                }else if(res.data.status ==  'false'){

                    this.no_more_products = true;

                }else{

                    console.log(res)
                    this.$toastr.error( res.data.message );

                }

            }).catch( err => {
                this.loading = false
                this.fullPageLoading = false
                this.$toastr.error('An unexpected error occurred');
            })

        },
        getCategories(){

            this.loading_categories = true;
            this.loading = true;

            console.log(this.maincategory_id)
            axios.post('/get_category' , {
                maincategory_id: this.main_category.id
            })
            .then (res => {
                var initial_fetch = true;
                if(this.categories.length > 0){
                    initial_fetch = false;
                }
                this.categories = res.data.data
                // console.log(res.data.data)
                // this.selected_category = this.categories[0];
                // this.getSubCategories();

                if(this.slider){
                    this.slider.destroy();
                }
                this.initializeSelect2();


                // if(initial_fetch){
                //     this.initializeSelect2();
                // }else{
                //     this.loading_categories = false;
                // }
                // console.log(this.slider , 'this.slider.refresh()')

                // this.getCategoryPorducts();


            }).catch(err => {
                this.loading_categories = false;
                console.log(err)
            })
        },
        getSubCategories(){
            this.category_changing = true;
            axios.post('/get_subcategory' , {
                id: this.selected_category.id
            })
            .then (res => {
                this.category_changing = false;
                this.sub_categories = res.data.data
                this.$root.$emit('sub-category-selected')

            }).catch(err => {
                this.category_changing = false;
                console.log(err)
            })
        },



        loadMoreAds(){
            // this.index += 1;
            if(!this.loading){
                if(!this.isSearching()){
                    this.fetchAds();
                }else{
                    this.searchAds();
                }
            }
        },
        pageEnd(msg){
            console.log(msg)
        },


        getCategoryPorducts(){
            this.loading_ads = true;
            this.loading = true;
            axios.post('/get_productcat_new' , {
                // id: this.category_id
                id: 12
            })
            .then (res => {
                this.loading_ads = false;
                this.loading = false;
                this.ads = res.data.data
            }).catch(err => {
                this.loading_ads = false;
                this.loading = false;
                console.log(err)
            })
        },
        updateCategory(category){
            this.selected_category = category;
            this.new_filters.sub_category = '';
            this.getSubCategories();
            this.searchAds(true);
        },
        // getCategoryPorducts(){
        //     // http://localhost/open_bazar_api/api/v1/get_subcategory
        //     this.loading_ads = true;
        //     axios.post('/v1/get_productcat_new' , {
        //         id: this.sub_category_id
        //     })
        //     .then (res => {
        //         this.loading_ads = false;
        //         this.ads = res.data.data
        //     }).catch(err => {
        //         this.loading_ads = false;
        //         console.log(err)
        //     })
        // },

        filtersUpdate($filter , $val ){
            this.filters[$filter] = !this.filters[$val]
            // this.filters.condition.old = !this.filters.condition.old
            // console.log($filter , $val);
        },
        filtersUpdateNew(filter ){


            // console.log(this.isSearching() , 'isSearching');

            // console.log(filter , 'PARENT' , this.new_filters[filter] , this.new_filters[filter] && this.isSearching  , this.isSearching)

            if(this.new_filters.price_type && this.new_filters.price_type[0] != 'price'){
                this.new_filters.price_range[0] = ''
                this.new_filters.price_range[1] = ''
            }

            if(this.new_filters[filter] && this.isSearching()){
                $('#searchFilterModal').modal('hide')
                this.searchAds(true);
            }else{
                this.filtersCleared();
            }
        },
        filtersCleared(){
            this.new_filters.condition = []
            this.new_filters.price_type = []
            this.new_filters.sorted_by = []
            this.new_filters.price_range[0] = ''
            this.new_filters.price_range[1] = ''

            this.new_filters.sub_category = '';
            this.selected_category = '';
            this.city = '';
            this.search = '';
            this.isSearching();

            this.$root.$emit('category-filters-reset');
            $('#searchFilterModal').modal('hide')
            this.fetchAds(true);

            // this.new_filters.condition = []
        },
        validFilters(){
            if(this.filters.price_range.min || this.filters.price_range.max || this.filters.sorted_by.urgent || this.filters.sorted_by.popular || this.filters.sorted_by.low_to_high || this.filters.sorted_by.high_to_low || this.filters.condition.new || this.filters.condition.old || this.filters.condition.used_like_new ){
                return true;
            }else{
                return false;
            }
        },
        mainCategoryChanged(){
            this.getCategories();
            this.selected_category = ''
            this.fetchAds( true );
        },

        isSearching(){
            // console.log(this.new_filters.sorted_by)

            if(this.new_filters.condition.length == 1 || this.new_filters.sorted_by.length == 1 || this.new_filters.price_type.length == 1 || this.selected_category || this.search || this.city && this.city.city_name.replace(/\r?\n|\r/g, '') != 'All Cities'){

                // console.log('true' , 'isSearching' )
                return true

            }else{
                // console.log('false' , 'isSearching')
                return false
            }
        },
        openSearchModal(){
            $('#searchFilterModal').modal('show')
        },
        initializeSelect2(){

            $(document).ready(() => {

            // $('.flexslider').flexslider({
            //     controlsContainer: '.flexslider'
            // });

            this.slider = $('#responsive');

            // slider.destroy();

            this.slider.lightSlider({
                item:0,
                loop: false,
                //slideMove:2,
                easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
                speed:600,
                controls: false,
                slideMargin: 33,
                pager: false,
                autoWidth:true,
                enableTouch:true,
                enableDrag:true,
                //touchDrag: true,
                });


            $('#goToPrevSlide').on('click', () => {
                this.slider.goToPrevSlide();
            });
            $('#goToNextSlide').on('click', () => {
                this.slider.goToNextSlide();
            });
            // console.log($('#responsive').length , 'Slider Active')
            this.loading_categories = false;
        });
        },

    }
}
</script>




<style>


    .category-products-banner-top{
        max-height: 90px !important;
        height: 90px !important;
        width: 100%;
        max-width: 100%;
        text-align: center !important;
    }

    .category-ads-in-feed-banners{
        /* background-color: red; */
        max-height: 120px !important;
        height: 120px !important;
        width: 100%;
        padding: 0 4px;
        max-width: 100%;
        text-align: center !important;
    }

    @media screen and (max-width:550px) {
        .category-ads-in-feed-banners{
            max-height: 320px !important;
            height: 320px !important;
        }
    }

    .product-box-ad{
        width: 100%;
        height: 100;
        max-height:385px !important;
    }
    /* .v-select-in-categories .vs__dropdown-toggle{
        padding: 3px 0 2px;
        border: 1px solid #d11d1d;
        border-radius: unset;
        border-right: none;
    }
    .vs__selected-options{
        margin-top: 0;
        font-size: 16px;
    }

    .vs__dropdown-option .vs__selected{
        color: #4e6a80;
    }
    .vs__dropdown-option--highlight{
        color: #4e6a80 !important;
        background-color: #cccccc;
    }
    .vs__dropdown-option{
        padding: 8px 5px !important;
    } */


    /* @media screen and (max-width:786px){
        .v-select-in-categories .vs__dropdown-toggle{
            border-radius: 10px;
            border: none;
            background-color: white;
            height: 44px;
            margin-bottom: 12px;
        }

        .v-select-for-location .vs__selected .country-icon img{
            margin-left: 7px;
        }
    } */

/*
    .v-select-for-location .vs__selected .country-icon img{
        width: 14px;
        margin-right: 2px;
        margin-top: -4px;

    }
    .v-select-for-location .vs__selected .country-icon span{
        margin-top: 2px !important;
        display: inline-block;
    }

    .v-select-for-location .vs__selected{
        color: #4e6a80;
        margin: 0 !important;
    }
    .v-select-for-location .vs__dropdown-option .vs__selected{
        color: #4e6a80;
        margin-left: 20px !important;
    }
    .v-select-for-location .select-open-indicator{
        margin-right: 15px;
        margin-top: -5px;
    }
    .v-select-for-location .select-open-indicator img{
        width: 12px;
    }

    .v-select-for-location .option-icon{
        width: 25px;
    }
    .v-select-for-categories .vs__dropdown-menu li{
        padding: 5px 3px;
        color: #4e6a80;
    }
    .v-select-for-categories .vs__dropdown-menu li img{
        margin-right: 15px;
    }
    .fixed-searh-bar .search-bar .searh-bar-conatiner .select-2-filter-box{
        width: 18% !important;
    }

    .v-select-for-categories .vs__selected .country-icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .v-select-for-categories .vs__selected .country-icon img{
        width: 25px !important;
        margin-right: 3px;
    }
    .v-select-for-categories .vs__selected .category-icon-container{
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .v-select-for-categories .vs__selected .category-icon-container img{
        width: 25px !important;
        margin-top: -2px;
    }
    .vs--single.vs--open .vs__selected{
        opacity: 1 !important;
    }
    .vs__dropdown-menu{
        background-color: #fafafa !important;
    } */





    .lSSlideOuter {
        padding: 0 20px !important;
    }

    @media screen and (max-width:786px){
        .lSSlideOuter{
            padding: 0 20px !important;
        }
    }

    .filter-checkbox{
        position: relative;
    }
    .check-filter{
        cursor: pointer;
    }

    .filter-checkbox {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 5px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      /* Hide the browser's default checkbox */
      .filter-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
      }

      /* On mouse-over, add a grey background color */
      .check-filter:hover input ~ .checkmark {
        background-color: #ccc;
        border-radius: 5px;
      }


      .filter-checkbox input ~ .checkmark {
        border-radius: 5px;
      }

      /* When the checkbox is checked, add a blue background */
      .filter-checkbox input:checked ~ .checkmark {
        background-color: #d11d1d;
      }

      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* Show the checkmark when checked */
      .filter-checkbox input:checked ~ .checkmark:after {
        display: block;
      }

      /* Style the checkmark/indicator */
      .filter-checkbox .checkmark:after {
        left: 7px;
        top: 4px;
        width: 6px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }


      .irs-line{
            height: 4px !important;
            cursor: pointer;
      }
      .irs--flat .irs-bar{
        height: 4px !important;
        background-color: #d11d1d !important;
      }

      .irs--flat .irs-handle>i:first-child{
        width: 15px !important;
        border-radius: 200px !important;
        height: 80% !important;
        background-color: #d11d1d !important;
        cursor: pointer;
        left: 2px !important;
      }
      /* .irs--flat .irs-handle:nth-child(1){
          left: -10px !important;
      } */
      .irs--flat .irs-handle{
        top: 20px !important;
      }
      .irs-from{
        background-color: #d11d1d !important;
      }
      .irs-to{
        background-color: #d11d1d !important;
      }
      .irs-single{
        background-color: #d11d1d !important;
      }

      .modal-header{
          border-bottom: unset;
          padding: 10px;
      }
      .modal-body{
          padding: 10px;
      }
      .modal-close-button{
        position: absolute;
        left: 0;
        top: 10px;
      }
    .sticky-container{
        margin-bottom: 200px;
    }
    .fixed-container{
        position: fixed;
        bottom: 10px;
        margin-bottom: 200px;
    }

    .fixed-top {
        position: absolute;
        top: 10px;
    }
    .fixed-bottom {
        position: absolute;
        bottom: 10px;
    }

    .price-range-input{
        width: 45%;
        border-radius: 3px;
        border: 1px solid #c0c0c0ad;
        text-align: center;
        outline: none;
    }


    .box {
        width: 227px;
        height: 227px;
        background-color: #f6f6f6;
      }
      .box a {
        color: #461e52;
        display: block;
        width: 100%;
        height: 100%;
        font-size: 22px;
        font-weight: 700;
        padding: 30% 30px 0 30px;
        text-align: center;
        transition: none;
        line-height: 1;
        font-family: 'Open Sans Condensed', Arial, Verdana, sans-serif;
      }
      .box:hover{
        background-color: #461e52;
      }
      .box:hover a{
       color:#fff;
       text-decoration:none;
      }
      .mission-next-arrow {
        position: absolute;
        background: url(https://raw.githubusercontent.com/solodev/icon-box-slider/master/nextarrow2.png) no-repeat center;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
        right: -36px;
        height: 17px;
        width: 10px;
        border:none;
      }
      .mission-next-arrow:hover {
        cursor: pointer;
      }
      .mission-prev-arrow {
        background: url(https://raw.githubusercontent.com/solodev/icon-box-slider/master/prevarrow2.png) no-repeat center;
        background-size: contain;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -36px;
        height: 17px;
        width: 10px;
        border:none;
      }
      .mission-prev-arrow:hover {
        cursor: pointer;
      }
      .box a.more-links {
        color: #fff;
        padding: 70px 110px 0 20px;
        background: #a89269 url(https://raw.githubusercontent.com/solodev/icon-box-slider/master/rightarrow.png) no-repeat 155px 170px;
      }

      .slick-item{
          height: 50px;
          width: 50px;
          background-color: white;
          margin: 20px;
      }

      .splide__slide{
          visibility: hidden;
          transition: all .1s ease-in-out;
      }
      .is-visible{
          visibility: visible;
      }

    .category-ads-banner-vertical-container{
        /* margin-top: 32px; */
    }

    .category-ads-banner-vertical{
        width: 100%;
        max-width: 100%;
    }

</style>
