<template>
<div class="product-list">
  <div class="product-box">
        <div class="product">
            <router-link :to="'/product/'+ ad.id +'/view'">
                <div class="feature-image">
                    <img :src="$root.virtualmin_server + '/public/images/'+ JSON.parse(ad.images)[0].image" />
                    <!-- <img src="/bazar/phone (2).png" /> -->
                    <div class="add-upload-time">10 hours ago</div>

                    <div :style="'background-image: url('+ $root.virtualmin_server + '/public/images/'+ JSON.parse(ad.images)[0].image +')'" class="blurred-image"></div>

                </div>
            </router-link>
            <div class="product-details">
                <div class="product-meta-box ">
                    <span class="price">${{ad.price}}</span>
                    <span class="views"> <i class="fa fa-eye"></i> {{ad.views_count}} </span>
                </div>
                <div class="product-title ">{{ad.ad_title}}</div>
                <div class="product-location ">
                    <i class="fa fa-map-marker-alt text-primary-red address-icon"></i>
                    <div>
                        1600 Parkway, Mountain View...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props:{
        ad:{
            type: Object,
            default: ''
        }
    }
}
</script>

<style>

</style>
