<template>
  <div class="ad-list-item">
    <div class="ad-list-item-main-container d-block p-2">
        <b-skeleton animation="wave" width="85%"></b-skeleton>
        <b-skeleton animation="wave" width="55%"></b-skeleton>
        <b-skeleton animation="wave" width="70%"></b-skeleton>                        
    </div>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>