<template>
  <div class="bz-white-box" >
        <div class="no-data-message-box" :style="'height:' + height" >

            <div> 
                <img v-if="icon" :src="icon" />
                <img v-else src=""  />
            </div>
            <div class="mt-2" v-if="message"> {{message}} </div>
            <div class="mt-2" v-if="!message"> {{_message}} </div>
        </div>
    </div>
</template>

<script>
export default {
    props:{
        message:{
            type: String,
            default: "",
        },
        icon:{
            type: String,
            default: "",
        },
        height:{
            type: String,
            default: "300px",
        }
    },
    data(){
        return{
            _message: "No data found",
        }
    }
}
</script>

<style>

</style>