<template>

<div class="position-relative">

  <div class="rating-area">
    <div class="link-box">
        <a class="link-to-show" href="javascript:;" data-toggle="modal" data-target="#showRatingsModal" >See All Experiences (11)</a>
    </div>
    <div class="stars-box">
        <star-rating
            :increment="0.01"
            v-model="rating"
            :read-only="true"
            :round-start-rating="false"
            :show-rating="false"
            :star-size="20"
        ></star-rating>
          <!-- <star-rating :increment="0.01" :fixed-points="2"></star-rating> -->

    </div>




<div class="modal fade" id="showRatingsModal" tabindex="-1" role="dialog" aria-labelledby="showRatingsModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered " role="document">
        <!-- reviews-modal -->
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title text-green" id="showRatingsModalCenterTitle">Experiences</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- <div class="modal-body reviews-modal-body">
            <div class="user-experiences">
                <div class="reviews-box-user-name">Name</div>
                <div class="experiences-details reviews-modal-section">
                    <div class="all--stars">
                        <star-rating
                            v-model="rating"
                            :read-only="true"
                            :show-rating="false"
                            :star-size="20"
                        ></star-rating>
                    </div>
                    <div class="experiences-numbers">11 Experiences</div>
                </div>
            <hr>

            <div class="ratings-details reviews-modal-section">
                <div class="ratings-details-items">
                    <div class="ratings-details-item">
                        <div class="star-number"> 5 <i class="fas fa-star"></i> </div>
                        <b-progress :value="40" class="bz-progress "></b-progress>
                    </div>

                    <div class="ratings-details-item">
                        <div class="star-number"> 4 <i class="fas fa-star"></i> </div>
                        <b-progress :value="60" class="bz-progress "></b-progress>
                    </div>

                    <div class="ratings-details-item">
                        <div class="star-number"> 3 <i class="fas fa-star"></i> </div>
                        <b-progress :value="40" class="bz-progress "></b-progress>
                    </div>

                    <div class="ratings-details-item">
                        <div class="star-number"> 2 <i class="fas fa-star"></i> </div>
                        <b-progress :value="70" class="bz-progress "></b-progress>
                    </div>

                    <div class="ratings-details-item">
                        <div class="star-number"> 1 <i class="fas fa-star"></i> </div>
                        <b-progress :value="90" class="bz-progress "></b-progress>
                    </div>
                </div>
            </div>
        <hr>
        <div class="all--ratings-points reviews-modal-section">
            <div class="small-text">The things in which Orhan Store excels</div>
            <div class="ratings-points">
                <div class="ratings-point">Product as described <span class="ratings-point-number">5</span> </div>
                <div class="ratings-point">Clear pictures  <span class="ratings-point-number">5</span> </div>
                <div class="ratings-point">Responds quickly  <span class="ratings-point-number">5</span> </div>

                <template v-if="show_more">
                <div class="ratings-point">Friendly<span class="ratings-point-number">5</span> </div>
                    <div class="ratings-point">Deal quickly closed<span class="ratings-point-number">5</span> </div>
                    <div class="ratings-point">Good service<span class="ratings-point-number">5</span> </div>
                    <div class="ratings-point">Fulfils agreements<span class="ratings-point-number">5</span> </div>
                    <div class="ratings-point">Fast shipping<span class="ratings-point-number">5</span> </div>
                    <div class="ratings-point">Meets expectations<span class="ratings-point-number">5</span> </div>
                    <div class="ratings-point">Professional communication<span class="ratings-point-number">5</span> </div>
                </template>

                <div class="show-more-pill" @click="show_more = true" v-if="!show_more">More <i class="fas fa-angle-down"></i> </div>
                <div class="show-more-pill" @click="show_more = false" v-else>Less <i class="fas fa-angle-up"></i> </div>
            </div>
        </div>
        <div class="other-users-reivews-title">
            Experiences of others (17)
        </div>

        <div class="other-users-reivews">
            <div class="single-review" v-for="(review , index) in reviews" :key="index" >
                <div class="reviewer-name">{{review.name}}</div>
                <div class="reviewer-stars">
                    <star-rating
                        v-model="review.ratings"
                        :read-only="true"
                        :show-rating="false"
                        :star-size="15"
                    ></star-rating>
                </div>
                <div class="reviewer-stars-bullets">
                    <div class="all--ratings-points">
                        <div class="ratings-points">
                            <div class="ratings-point">Product as described <span class="ratings-point-number">{{ review.subs[0] }}</span> </div>
                            <div class="ratings-point">Clear pictures  <span class="ratings-point-number">{{ review.subs[1] }}</span> </div>
                            <div class="ratings-point">Responds quickly  <span class="ratings-point-number">{{ review.subs[2] }}</span> </div>
                            <template v-if="review.show_more">
                            <div class="ratings-point">Friendly<span class="ratings-point-number">{{ review.subs[3] }}</span> </div>
                            <div class="ratings-point">Deal quickly closed<span class="ratings-point-number">{{ review.subs[4] }}</span> </div>
                                <div class="ratings-point">Good service<span class="ratings-point-number">{{ review.subs[5] }}</span> </div>
                                <div class="ratings-point">Fulfils agreements<span class="ratings-point-number">{{ review.subs[6] }}</span> </div>
                                <div class="ratings-point">Fast shipping<span class="ratings-point-number">{{ review.subs[7] }}</span> </div>
                                <div class="ratings-point">Meets expectations<span class="ratings-point-number">{{ review.subs[8] }}</span> </div>
                                <div class="ratings-point">Professional communication<span class="ratings-point-number">{{ review.subs[9] }}</span> </div>
                            </template>
                            <div class="show-more-pill" @click="review.show_more = true" v-if="!review.show_more">More <i class="fas fa-angle-down"></i> </div>
                            <div class="show-more-pill" @click="review.show_more = false" v-else>Less <i class="fas fa-angle-up"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>

      </div> -->
    </div>
  </div>
</div>



</div>








</div>

</template>

<script>
export default {

    props:{
        rating:{
            default: 0,
            type: Number
        }
    },
    data(){
        return{
            show_more: false,
            reviews:[
                { name: 'Alina' , ratings: 5  , subs:  [1,3,5,3,1,2,3,4,5,1] , show_more : false},
                { name: 'John' , ratings: 4  , subs:  [1,3,5,3,1,2,3,4,5,1] , show_more : false},
                { name: 'Goerge' , ratings: 2  , subs:  [1,3,5,3,1,2,3,4,5,1] , show_more : false},
            ]
        }
    },
    created(){
        // $("body").children().first().before($(".modal"));
    },
    methods:{
        openRatingsModal(){
            $('#SADWS').modal('show')
            // $('#showRatingsModal').modal('show')

        }
    }

}
</script>

<style>

.bz-progress .progress-bar{
    background-color: #d11d1d;
    border-radius: 50px;
}
.bz-progress{
    border-radius: 50px;
    height: 10px;
    width: 100%;
    background-color: #d11d1d1a;
    /* background-color: #d11d1d30; */
}

@media (min-width: 576px){
    .modal-dialog.reviews-modal {
        max-width: 640px !important;
    }
}

.reviews-modal-body{
    padding: 0 !important;
}
.reviews-modal-section{
    padding: 0 14px;
}

</style>
