<template>
<div class="ad-list-item" v-if="ad" >
    <div class="ad-list-item-main-container">
        <div class="ad-item-image">
            <router-link :to="'/product/'+ad.id+'/view'" class="ad-title text-limit">

                <img  v-if="JSON.parse(ad.images) && JSON.parse(ad.images).length" :src="$root.virtualmin_server + '/public/images/'+ JSON.parse(ad.images)[0].image"  />
                <img  v-else src="/bazar/no-image-preview.png"  />

                <div class="info-icons">
                    <div class="camera-icon single-icon"> <i class="fas fa-camera"></i> {{ JSON.parse(ad.images) && JSON.parse(ad.images).length ? JSON.parse(ad.images).length : 0}}  </div>
                    <div class="view-icon single-icon"> <i class="fas fa-eye"></i> {{ad.views_count}} </div>
                </div>
            </router-link>
        </div>

        <div class="ad-info">
            <router-link :to="'/product/'+ad.id+'/view'" class="ad-title text-limit">
                {{ad.ad_title}}
            </router-link>

            <div class="ad-meta-info">
                <div class="ad-date">
                    <i class="fas fa-calendar"></i> {{ad.created_at | formatDifferenceDate}}
                </div>
                <div class="ad-location">
                    <i class="fa fa-map-marker-alt "></i> {{ad.city}}
                </div>
            </div>
            <!-- </router-link> -->


            <div class="ad-bottom-row">
                <div class="ad-price-type cursor-pointer" @click="$root.gotoPage('/product/'+ad.id+'/view')">
                    <span v-if="ad.price_type == 'price'"> {{$store.getters.getCuerrency}}{{ad.price}} </span>
                    <span v-else class="text-capitalize">{{ad.price_type}}</span>
                </div>
                <div class="ad-actions desktop-only-f">
                    <a href="javascript:;" class="call-btn ad-action-btn" @click="show_number = !show_number">
                        <i class="far fa-phone-alt "></i>
                        <span v-if="show_number" > {{ad.mobile}} </span>
                        <span v-else >View Number</span>
                    </a>
                    <a @click="startChat" href="javascript:;"  class="chat-btn ad-action-btn">
                        <i class="far fa-comment-alt-lines"></i>
                        Chat
                    </a>
                    <a href="javascript:;" @click="favoriteAd" class="favorite-btn ad-action-btn no-border">
                        <loader class="bz-text-red" v-if="fav_loading"></loader>
                        <i :class="{'fas' : ad.fav_stattus == 'Yes' , 'far' : ad.fav_stattus != 'Yes' }" class="fa-heart"></i>
                        Favorite
                    </a>
                </div>
            </div>
        </div>
    </div>



    <div class="ad-actions mobile-only-f">
        <a href="javascript:;" class="call-btn ad-action-btn" @click="show_number = !show_number" >
            <i class="far fa-phone-alt"></i>
            <span v-if="show_number" > {{ad.mobile}} </span>
            <span v-else >View Number</span>
        </a>
        <router-link to="/chat" class="chat-btn ad-action-btn">
            <i class="far fa-comment-alt-lines"></i>
            Chat
        </router-link>
        <a href="javascript:;" @click="favoriteAd" class="favorite-btn ad-action-btn no-border">
            <loader class="bz-text-red" v-if="fav_loading"></loader>
            <i class="fa-heart" :class="{'fas' : ad.fav_stattus == 'Yes' , 'far' : ad.fav_stattus != 'Yes' }" ></i>
            Favorite
        </a>
    </div>



</div>
</template>

<script>
export default {
    props:{
        _ad:{
            type: Object,
            default: '',
        },
    },
    computed:{

    },
    data(){
        return{
            fav_loading: false,
            show_number: false,
            ad: '',
            user_info: '',
            current_chat_instance : "",
            other_chat_instance : "",
        }
    },
    mounted(){
        this.ad = this._ad

        if(this._ad.favorite == '1'){
            this.ad.fav_stattus = "Yes"
        }
        this.ad.show_number = false

        if(this.$root.$refs.userLeftMenu){
            this.user_info = this.$root.$refs.userLeftMenu.user_info
        }

        this.getFirebaseChatInstance()

        // console.log(this.ad.id)
    },
    methods:{

        favoriteAd(){

            if(!this.fav_loading){

                this.fav_loading = true
                axios.post('/v1/ad_view', {
                    post_id: this.ad.id,
                    user_id: this.$store.getters.isAuthenticated.id,
                    type: 'favorite'
                },{
                    headers:{
                        Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token
                    }
                }).then (res => {
                    // console.log(res.data)
                    this.fav_loading = false

                if(res.data.data.favorite ==  '1'){
                    this.ad.fav_stattus = "Yes"
                    this.$emit('favorite-added' , this.ad )
                }else{
                    this.ad.fav_stattus = "No"
                    this.$emit('favorite-removed' , this.ad )
                }
                }).catch( err => {
                    this.fav_loading = false
                    this.$toastr.error('An unexpected error occurred');
                })
            }
        },

        startChat(){

            var price = ''
            if(this.ad.price_type != 'price'){
                price = this.ad.price_type
            }else{
                price = this.ad.price
            }
            let new_ad = {
                ad_id: this.ad.id.toString(),
                image: this.ad.images ? JSON.parse(this.ad.images)[0].image : '',
                mobileno: this.ad.mobile ? this.ad.mobile : "",
                mobileno_status: this.ad.hide_mobileno,
                price : price.toString(),
                title: this.ad.ad_title,
            }

            firebase.database().ref('Ads/ads' + this.ad.id).set({
                ...new_ad
            })

            console.log(`this.current_chat_instance , !this.other_chat_instance`, this.current_chat_instance , this.other_chat_instance)

            if(this.ad.user_id == this.$store.getters.isAuthenticated.id){
                this.$router.push( { name: 'chat'})
            }else{

                let chat_instance = ""
                if(!this.current_chat_instance || !this.other_chat_instance){
                    chat_instance = {
                        timestamp : new Date().getTime(),
                        delete : false,
                        seen :false,
                    }
                }else{
                    if(!this.checkFirebaseChatInstance(this.current_chat_instance) || !this.checkFirebaseChatInstance(this.other_chat_instance)){
                        chat_instance = {
                            timestamp : new Date().getTime(),
                            delete : false,
                            seen :false,
                        }
                    }
                }

                let __user = {};
                firebase.database().ref('Users/user' + this.ad.user_id).once( 'value' , (snapshot) =>  {
                    __user.user = snapshot.val();
                });

                __user.ad = new_ad
                let chat = {
                    ad : this.ad,
                    user: this.user_info,
                    chat_instance,
                    __user,
                }
                console.log(`chat`, chat)
                this.$router.push( { name: 'chat'  , params: {newChat: chat }})
            }

        },
        checkFirebaseChatInstance(instance){
            var check = false
            if(Object.keys(instance).length){
                check = Object.keys(instance).includes('seen') && Object.keys(instance).includes('delete') && Object.keys(instance).includes('timestamp') && !instance.delete
            }
            return check
        },
       getFirebaseChatInstance(){

            firebase.database().ref('Chat/user' + this.ad.user_id + '/ads' + this.ad.id + '_user'+ this.$store.getters.isAuthenticated.id).once( 'value' , snapshot => {
                this.current_chat_instance = snapshot.val()
            });


            firebase.database().ref('Chat/user' + this.$store.getters.isAuthenticated.id + '/ads' + this.ad.id + '_user'+ this.ad.user_id).once( 'value' , snapshot => {
                this.other_chat_instance = snapshot.val()
            });

        },


        // startChat(){
        //     let new_ad = {
        //         ad_id: this.ad.id,
        //         images: this.ad.images ? JSON.parse(this.ad.images)[0].image : '',
        //         mobileno: this.ad.mobile,
        //         mobileno_status: this.ad.hide_mobileno,
        //         price: this.ad.price,
        //         title: this.ad.ad_title,
        //     }

        //     firebase.database().ref('Ads/ads' + this.ad.id).set({
        //         ...new_ad
        //     })
        //     if(this.ad.user_id == this.$store.getters.isAuthenticated.id){
        //         this.$router.push( { name: 'chat'})
        //     }else{

        //         let chat_instance = {
        //             timestamp : new Date().getTime(),
        //             seen :false,
        //         }

        //         let __user = {};

        //         firebase.database().ref('Users/user' + this.ad.user_id).once( 'value' , (snapshot) =>  {
        //             __user.user = snapshot.val();
        //         });

        //         __user.ad = new_ad
        //         let chat = {
        //             ad : this.ad,
        //             user: {
        //                 id: this.ad.user_id ,
        //                 images: this.ad.user_image ,
        //                 name: this.ad.user_name ,
        //             },
        //             __user,
        //         }
        //         console.log(chat)
        //         this.$router.push( { name: 'chat'  , params: {newChat: chat }})
        //     }
        // },


    }
}
</script>

<style>

</style>
