<template>
<div class="ad-gallery-section ad-section">
    <div class="ad-gallery-section-title section-heading mb-3">Add Photos</div>


        <div class="gallery-container">
            <div class="main-gallery">
            <div class="small-photo-text">{{files.length}} of 30 Photos used</div>

            <input type="file" multiple class="d-none" ref="photos_input" accept="images/*" @change="imageSelected" />
            <div class="ad-gallery"  >
                <template v-if="files.length == 0">
                    <div class="ad-gallery-item dummy" v-for="index in 5" :key="index" >
                        <img src="/bazar/add-image-icon.png" @click="$refs.photos_input.click()" v-if="index == 1" class="add-image-item" />
                    </div>
                </template>

                <template v-if="files.length > 0">
                    <div class="ad-gallery-item" v-for="(file, index) in files" :key="index" >
                        <img :src=" file.url" :class="{'featured-image': index == 0 , 'other-image': index > 0 }" />
                        <div class="remove-btn" @click="removeImage(file)">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                    <div class="ad-gallery-item" >
                        <img src="/bazar/add-image-icon.png"  @click="$refs.photos_input.click()" class="add-image-item" />
                    </div>

                </template>

            </div>

            </div>
            <div class="gallery-icon" :class="{'w-45': files.length > 4 , 'hide-desktop': files.length > 6}" >
                <div class="upload-image-container">
                    <img src="/bazar/ad-gallery-image.png" />
                    <div class="upload-image-text">You can upload upto 30 images. Prictures increases the chance to get more view and make deal faster</div>
            </div>
            </div>
        </div>


    <!-- <div class="row">
        <div class="col-md-7 col-xs-12 col-sm-12">



            <div class="small-photo-text">0 of 30 Photos used</div>

            <input type="file" multiple class="d-none" ref="photos_input" accept="images/*" @change="imageSelected" />
            <div class="ad-gallery"  >
                <template v-if="files.length == 0">
                    <div class="ad-gallery-item" v-for="index in 5" :key="index" >
                        <img src="/bazar/add-image-icon.png" @click="$refs.photos_input.click()" v-if="index == 1" class="add-image-item" />
                    </div>
                </template>

                <template v-if="files.length > 0">
                    <div class="ad-gallery-item" v-for="(file, index) in files" :key="index" >
                        <img :src="file.url" :class="{'featured-image': index == 0 , 'other-image': index > 0 }" />
                        <div class="remove-btn" @click="removeImage(file)">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                    <div class="ad-gallery-item" >
                        <img src="/bazar/add-image-icon.png"  @click="$refs.photos_input.click()" class="add-image-item" />
                    </div>

                </template>

            </div>


        </div>
        <div class="col-md-5 col-xs-12 col-sm-12">
            <div class="upload-image-container">
                <img src="/bazar/ad-gallery-image.png" />
                <div class="upload-image-text">You can upload upto 30 images. Prictures increases the chance to get more view and make deal faster</div>
            </div>
        </div>
    </div> -->
</div>
</template>

<script>
    export default {
        props: {
            photos:{
                type: String,
                default:'',
            }
        },
        watch:{
            photos(){
                // console.log(this.photos)
                this.formatCurrentFiles();
            }
        },
        data(){
            return {
                loading: false,
                isDragging: false,
                files: [],
                acceptedTypes: ['image/gif', 'image/jpg', 'image/jpeg', 'image/png'],

            }
        },
        mounted(){
        },
        methods: {
            formatCurrentFiles(){
                if(this.photos){
                    (JSON.parse(this.photos)).forEach( image => {
                        // console.log(image.image)
                        this.files.push( { name: image.image , url: this.$root.virtualmin_server + 'public/images/' + image.image , status: 'success'})
                    });
                }

            },
            filesDropped(event) {
                let droppedFile = event.dataTransfer.files; // extract dropped files
                if(!droppedFile) return;
                this.handleFiles(([...droppedFile]))
            },
            imageSelected(event)
            {
                let files = event.target.files
                if(!files) return;
                // console.log(files)
                this.handleFiles(([...files]))

            },

            handleFiles(files)
            {
                this.$emit('uploading-status' , true)
                this.$emit('uploading-images-started')
                console.log('uploading-images-started')
                files.forEach(file => {
                if(this.files.length < 30){
                    if(this.isValid(file))
                        this.processFile(file);
                    else{
                        this.$toastr.error('Please Select Only Images');
                        console.log("invalid file") // please handle this error
                    }
                }else{
                    this.$toastr.error('You can not upload more than 30 images');
                }
                });
                // this.$emit('uploading-images-completed')

            },
            processFile(file)
            {
                const index = this.addToFiles(file)
                this.postImage(file, index)
            },

            postImage(file, index)
            {

                this.files[index].status = 'uploading'; // Update file status to success

                var fd = new FormData();
                fd.append('image', file)

                axios.post('/v1/uploadimage', fd, {
                    headers: {
                        Authorization: "Bearer "+ this.$store.getters.isAuthenticated.token,
                        'Content-Type': 'multipart/form-data',
                    },
                    // onUploadProgress: function(progressEvent) {
                    //     this.files[index].progress = parseInt( Math.round((progressEvent.loaded / progressEvent.total) * 100))
                    // }.bind(this),
                })
                .then(response => {

                    if(this.files.length - 1 == index){
                        this.$emit('uploading-status' , false)
                        // this.$emit('uploading-images-completed')
                        // console.log('uploading-images-completed')
                    }

                    if(response.data.status ==  'success'){
                        this.files[index].file = response.data.image; // Update file status to success
                        this.files[index].status = 'success'; // Update file status to success
                        this.$emit('image-uploaded' , this.files[index]);
                    }else{
                        this.files.splice(index , 1)
                        this.$toastr.error('Something went wrong while uploading');
                    }
                })
                .catch(error => {
                    this.$toastr.error('Image Upload Failed');
                    this.files[index].status = 'failed'; // Update file status to success
                    console.log(error);
                    if(this.files.length - 1 == index){
                        this.$emit('uploading-status' , false)
                    }

                    this.files.splice(index , 1)
                    this.$toastr.error('Something went wrong while uploading');

                    this.uploading = false
                })
            },

            deleteImg(image){
                image.status = 'deleting'

                 axios.post('/delete-event-img', {
                    media: image.file.id
                })
                .then(response => {
                    this.files.splice(this.files.indexOf(image) , 1)
                    this.$toastr.info('Image Removed');

                })
                .catch(error => {
                    console.log(error);
                    this.$toastr.error('Image Remove Failed');
                })
            },

            reUplaodImage(index , image){
                if(image.original_file){
                    this.postImage(image.original_file , index)
                }else{
                    this.files.splice(this.files.indexOf(image) , 1)
                }
            },

            removeImage(image){
                this.$emit('image-removed' , this.files.indexOf(image));
                this.files.splice(this.files.indexOf(image) , 1)

                // this.$toastr.info('Image Removed');
            },

            addToFiles(file)
            {

                let src = URL.createObjectURL(file)
                // console.log(src)
                const length = this.files.push({
                    file: null,
                    original_file: file,
                    name: file.name,
                    url: src,
                    status: 'uploading', // uploading, success, error
                    progress: 0 // Upload % 0-100
                })
                return length - 1; // index of the file in this.files[]
            },
            isValid(file)
            {
                return this.acceptedTypes.includes(file.type)
            },
        },


    }
</script>
