<template>
<div>

    <div class="attribute-top">
        <!-- <button @click="prevAttribute" class="btn btn-success btn-sm" >Prev</button> -->
       

        <div class="bz-text-red text-center">
             <i @click="prevAttribute" v-if="attribute_step > 0" class="fas fa-arrow-left float-left"></i>
            {{attributes[attribute_step]}} 
        </div>
    </div>

    <div class="single-item" @click="selectAttribute(attribute)" 
        :class="{selected: selected_attributes[attribute_step] ? attribute == selected_attributes[attribute_step].seletecvalue : false }"
        v-for="(attribute , index) in product[attributes[attribute_step]]" :key="'sub-attr' + index"     
        >
        
        <div class="single-list-item-icon-container" >
            <!-- <img :src="$root.server + 'public/images/' + (JSON.parse(product.product))[Object.keys(JSON.parse(product.product))[1]]" class="single-list-item-icon" /> -->
        </div>
        <div class="single-list-item-name"> {{attribute}} </div>
        <i class="fas fa-angle-right"></i>
    </div>
</div>
</template>

<script>
export default {
    props:{
        main_product:{
            
        },
        product:{
            
        },
        select_attribute_step:{
            
        },
        current_attributes:{
            
        },
        attributes:{
            
        }
    },
    data(){
        return{
            attribute_step: 0,
            selected_attributes:[],
        }
    },
    watch:{
        select_attribute_step(){
            // console.log(this.select_attribute_step , 'select_attribute_step update')
            this.attribute_step = this.select_attribute_step
        },
        current_attributes(){
            // console.log(this.selected_attributes , 'selected_attributes update')
            this.selected_attributes = this.current_attributes
        }
    },
    mounted(){
        this.attribute_step = this.select_attribute_step

        // console.log(this.current_attributes)
        if(this.current_attributes){
            this.selected_attributes = this.current_attributes
        }else{
            this.selected_attributes = []
        }


    },
    methods:{
        selectAttribute(attribute){
            if(this.attribute_step <=  this.attributes.length){

                let attr = Object.assign({} ,  {
                    id: "",
                    tital: this.attributes[this.attribute_step],
                    value: attribute,
                    image: "",
                    seletecvalue: attribute,
                });
                // console.log(attribute)

                if(this.selected_attributes[this.attribute_step]){
                    this.selected_attributes[this.attribute_step] = attr;
                }else{
                    // this.selected_attributes.push(attr);
                    this.$set(this.selected_attributes , this.selected_attributes.length , attr)
                    // this.selected_attributes.push(attr);
                }
                this.attribute_step = this.attribute_step + 1;

            }
            
            if(this.attribute_step == this.attributes.length){
                this.$emit('product-attribute-selected' , this.selected_attributes , true);
                // console.log('emitting' , this.selected_attributes )
            }
        },
        prevAttribute(){
            if(this.attribute_step > 0){
                this.attribute_step = this.attribute_step - 1;
            }else{
            }
        }
    }
}
</script>

<style>
</style>

